[2019-02-15 07:19] knrt10 commented on #379
Actually, I did not want to pass a context. I had a model for a struct, I needed to pass that. Context was just an example of what I wanted.

[2019-02-16 09:01] Zambiorix opened #380 "failure : go get github.com/RichardKnop/machinery/v1"
`go get github.com/RichardKnop/machinery/v1`

returns following error messages...

[code]

[2019-02-16 09:12] Zambiorix commented on #380
`go get -u github.com/RichardKnop/machinery/v1`

*banging head against wall*

[2019-02-16 09:12] #380 closed

[2019-02-17 21:33] devmark88 commented on #153
Is there any update? I still have this issue. I run the workers in the different routines in Gin web application.
[code]
and after that I simply run my `gin` server
[code]

Server Log:
[code]
After sending __SIGNINT__ signal `(ctrl+c)` I've got this log:

[code]
and it keeps running unless I send kill signal like below:
[code]

[2019-02-17 21:36] devmark88 opened #381 "[Question]: Machinery GUI"
Hi there.
Is there any built-in or external `GUI` for machinery?

[2019-02-18 04:28] FuzzyStatic opened #382 "Issue passing []uint8 values"
Using []uint8 values results in a reflect error:

[code]

[code]

[code]

Switching to []uint16 works fine.

[2019-02-19 22:19] seonixx opened #383 "Error when pulling from Github (mongo client)"
We've been using Machinery for some time - suddenly this morning all attempts to pull from github (go get -u) are resulting in:

It's happening during download from Github, not during the Go build.

Can't see any changes recently in the repo (we successfully deployed yesterday).

Any ideas?

[2019-02-19 22:23] seonixx commented on #383
Actually - can see a change was made in the last 24 hours...

https://github.com/RichardKnop/machinery/commit/be39d0b945df20dfff29c60ca79d91d7e452b4d2#diff-98c1e3afb4dd4a06358c9e96c3bd29aa

@RichardKnop are you seeing any issues here?

[2019-02-20 18:17] FranOis opened #384 "Tracing using OpenCensus"
OpenCensus has been designated as the favoured tracing solution in both GCP and Azure environments.

OpenCensus and OpenTracing does not work well together. So I'm proposing two possible solutions here:
1. I can create a PR to move this project from OpenTracing to OpenCensus.
    - pros:
      - Keeps the implementation simple to only one library.
      - Easier to implement.
      - Supported and

[2019-02-21 13:45] RichardKnop commented on #383
@seonixx You are using master branch of github.com/mongodb/mongo-go-driver

In go.mod file we define version we are using: https://github.com/RichardKnop/machinery/blob/master/go.mod#L31

Which accepts string as input: https://github.com/mongodb/mongo-go-driver/blob/v0.3.0/mongo/client.go#L61

In master branch they have changed it: https://github.com/mongodb/mongo-go-driver/blob/master/mongo/clien

[2019-02-21 13:46] RichardKnop commented on #383
I think you must be using some different way to manage dependencies and your Mongo library is latest code in their master branch in your vendor folder.

[2019-02-22 02:58] Huangsir commented on #383
same problem

[2019-02-28 10:25] jtherin commented on #384
Many of us use opentracing, I don't agree with choice 1.

[2019-02-28 23:50] Azuka commented on #384
Agree with @jtherin. It would probably be easier to provide pre and post hooks with the context both for pushing and receiving tasks.

That way, it'd be possible to swap/implement chainable adapters for OpenCensus, Opentracing, or some other trace standard (e.g. I use both opentracing and elastic-apm) that lets the user set custom headers on outgoing tasks and retrieve them from incoming ones.

It

[2019-03-02 03:43] liftM opened #389 "Failing to specify a ResultBackend should not panic"
This is related to #27.

Failing to set a `ResultBackend` in the configuration causes a panic:

[code]

This is because there is no nil checking of the result of `worker.server.GetBackend()` in line 133: https://github.com/RichardKnop/machinery/blob/22b2f6e64a9c04dd419391d42fc6d08201ce0d49/v1/worker.go#L133

Debugging this error is more confusing than it should be. Instead of needing users to chas

[2019-03-04 10:16] RichardKnop commented on #389
@liftM I agree. Do you want to make a PR to return a friendly error? Result backend is required for machinery to work actually as it needs to store task state somewhere. There is an `eager` backend which is basically just storing state in memory. You can use it locally for testing or running simple tasks if you don't care about keeping the state.

[2019-03-06 02:37] wisp888 commented on #295
me too!

[2019-03-08 13:16] owenhaynes commented on #383
fixed in #391 Just go around to updating to latest RC.

[2019-03-08 17:17] #383 closed

[2019-03-11 13:59] tinycolds opened #392 "worker hangs when receive signal interrupt"
Starts a worker with a wrong broker and the worker retried, but if sends the signal interrupt, the worker still retried and didn't quit and hangs
[code]

[2019-03-11 15:20] jtherin opened #393 "Expose worker.taskFailed, taskSucceeded, taskRetry..."
Hello,
Is there a reason not to expose methods
* taskFailed
* taskSucceeded
* taskRetry
in the worker?

It would be nice to expose them to be able to create our own Process method without redefining everything.

[2019-03-12 12:45] joe-mcnuggets commented on #383
@RichardKnop it still doesn't work with dep:

[code]

hangs with subprocess calling ssh git@github.com git-upload-pack 'mongodb/specifications.git', strace on this subprocess says

[code]
@owenhaynes can it be fixed without changing version constraints in dep to RC branches?

[2019-03-12 14:23] owenhaynes commented on #383
This supports go modules, not dep. So if you will need to use a override at the moment, due to dep flaws.

This is what I am currently using with repos we still have which use dep.
[[override]]
  name = "go.mongodb.org/mongo-driver"
  version = ">=1.0.0-rc2"

I would also recommend never doing
dep ensure -update
as it try to update everything and have had more problems with this, it's better todo

[2019-03-12 14:26] joe-mcnuggets commented on #383
@owenhaynes thank you!

[2019-03-20 10:04] barthr opened #396 "Redis result backend starts hanging when creating new jobs after using version later then 1.5.5"
*Setup:*

We setup machinery using version 1.5.6 with result backend redis and broker AMQP. We run 1 worker with concurrency set to 10. We have 1 publisher (our web process).

*Actual:*
When enqueing a job, the job should be created in redis (redis was available from both the command line and the container), however the process started hanging. The job wasn't created in redis and also not enqeueue

[2019-03-20 14:06] RichardKnop commented on #396
@barthr Can you try updating to 1.6.0?

Integration tests with redis backend seem to pass so not sure what could be problem. I pruned and tidied up dependencies in go.mod and go.sum files. Maybe it will help.

Also, are you using Go modules?

[2019-03-22 13:40] barthr commented on #396
We are using go modules, also 1.6.0 doesn't seem to work. I think it's a indirect dependency causing the issues.

[2019-03-30 10:23] WisperDin opened #399 "Parameter passing between chain tasks does not match the document"
In the v1 source code, the result of the previous task in the task chain will continue to be executed as the parameter of the next task. I tried it and it really did.
The part of the document about Task chain is exactly the opposite.

### [In the source code](https://github.com/RichardKnop/machinery/blob/master/v1/worker.go)

[code]

### [ In the doc ](https://github.com/RichardKnop/machinery#chai

[2019-04-02 09:32] kaelwzm commented on #379
@knrt10 consider json.encode(obj)? Using string type, and decode it when consuming.

[2019-04-02 21:21] Sh4d1 commented on #393
@RichardKnop ?

[2019-04-03 05:10] jackielii commented on #175
I think injecting the signature into the context is quite useful see PR #401

[2019-04-08 09:51] angadn opened #404 "Cloud PubSub Delay Implementation does not work"
Referring to: https://github.com/RichardKnop/machinery/blob/master/v1/brokers/gcppubsub/gcp_pubsub.go#L155

I am unable to replicate expected behaviour with the following (this is sans-Machinery as it attempts to establish whether this behaviour can be expected from GCP PubSub:

[code]

I see something like so:
[code]

I can replicate appropriate ordering with `MaxOutstandingMessages = 1`, so it i

[2019-04-11 17:39] drorg-stratoscale opened #405 "Passing context or structs to task handlers"
Hi,
From this section: https://github.com/RichardKnop/machinery#tasks, the task handler signature includes context.Context (in the 'TaskWithContext' example), but from my understanding only simple types from the list in this section - https://github.com/RichardKnop/machinery#supported-types can be used for task handlers...
So is the 'TaskWithContext' example that uses context.Context as parameter

[2019-04-12 10:24] gngeorgiev commented on #179
@clstb if you are still using machinery, maybe this PR might help with the performance - https://github.com/RichardKnop/machinery/pull/406

[2019-04-13 11:23] clstb commented on #179
Thanks for your effort on this.
I'm not using machinery anymore but fixing this issue will improve machinery nevertheless.

Best regards,
Claas

[2019-04-16 12:01] ronnie-stratoscale opened #407 "Allow chaining middleware like handlers when sending/handling tasks"
Many Go HTTP frameworks use the pattern of chaining [middleware](https://www.alexedwards.net/blog/making-and-using-middleware) to provide custom functionality when handling and submitting HTTP requests.

Some common usages for these are:
- Getting request-id from header to context (https://github.com/ascarter/requestid)
- taking care of tracing (https://github.com/opentracing-contrib/go-stdlib)
An

[2019-04-18 10:28] thedevsaddam commented on #392
@tinycolds This is also happening with me, Did you find any solution?

[2019-04-22 05:29] Blogoslov commented on #133
Hello @paulm17 , how did you implemented NATS as a broker? Do you have its own machinery fork? I'm also interested in NATS as a broker. Could you please share your implementation?

[2019-04-22 07:52] paulm17 commented on #133
@Blogoslov Take a look here: https://github.com/paulm17/machinery/blob/master/v1/brokers/nats.go

I have created a repo with the entire code.  You are going to have to go through it to see how I did it.

There may be things missing compared to the AMPQ implementation as Nats may have things missing.

Anyway, this is the best that I can do.  I no longer use machinery, I have developed my own soluti

[2019-04-22 14:20] Blogoslov commented on #133
Hello @paulm17 . Thanks for the sharing, I will review and check your solution. Thanks a lot.

By the way - does your new solution is available on github or some other place?

[2019-04-22 14:26] paulm17 commented on #133
@Blogoslov unfortunately it's not.  I really recommend looking at all the other job queue solutions out there and breaking down how they work and then building something that suits your own workflow.  It's essentially what I did.

[2019-04-24 09:57] GreatSir opened #409 "get error host when password include '#'"
broker:redis

[2019-04-24 10:00] #409 closed

[2019-04-29 13:29] ilyamochalov opened #411 "Publisher doesn't reconnect to broker (rabbit mq)"
Setup:
We setup machinery using version 1.6.2 with result backend redis and broker RabbitMQ. We run 5 worker with concurrency set to 10. We have 1 publisher (our web process which is embedded in iris framework). We test if publisher reconnects to RabbitMQ in case of dropping connection (we turn down MQ process for some time and turn it back on after some time)

Actual:
Worker processes are able to

[2019-05-02 05:38] WingGao opened #412 "mod need update"
[code]
The new repository is https://github.com/xdg-go/stringprep

[2019-05-07 10:31] yuzhiyuxia opened #413 "redis key may never expire"
In redis backend, The commands **SET**and **EXPIREAT** in different operations may cause the key never expires. Why do not use this command:
**SET key value [expiration EX seconds|PX milliseconds] [NX|XX]**

Another question:
For Chords, ChordCallback is **executed at most once** ?
In taskSucceeded function, it firstly set ChordTriggered true, then send  ChordCallback task!
There may be set succes

[2019-05-07 10:35] yuzhiyuxia commented on #413
In taskSucceeded  function, we don't care OnSuccess task?
What is the precondition for using machinery?

[2019-05-08 01:09] asciifaceman opened #414 "Weird use case: is it possible to give job affinity to specific workers?"
This is a bit of a weird use case:

Say I have a master server that creates tasks and consumes results to report. I have a pool of nodes running workers. Each worker performs the same defined tasks but the work output is meant for that specific node only.

I know this is counter intuitive, but in this instance each node is actually unique and the worker task would say create a file locally destine

[2019-05-14 06:24] dmibor opened #415 "Redis doesn't respect RoutingKey when resubmit tasks for Retry"
All retry tasks in case of Redis are always submitted to one set "delayed_tasks".

This becomes an issue in case RoutingKey is used to direct specific tasks to specific queues that are only consumed by specific workers - since now retried tasks could be received by any worker breaking initial logic.

Think logic of Redis keys for retried tasks should mimic how RoutingKeys are used for non-retried

[2019-05-14 08:56] dmibor commented on #415
never mind, mistake on my part, didn't follow the code to the end, "delayed_tasks" is just in intermediate step

[2019-05-14 08:56] #415 closed

[2019-05-21 09:41] tgwizard commented on #407
I started a PR for the worker task processing, to add a middleware layer, here: https://github.com/RichardKnop/machinery/pull/395. I got a bit stumped around the panic handling.

I'm not sure I see the value for the change to sending tasks - can't you just add that functionality without any change to machinery? You update your code to always use that interface?

[2019-05-21 09:42] tgwizard commented on #407
Btw, feel free to take over / replace my PR if you want. Perhaps you can find a cleaner solution.

[2019-05-22 03:33] dmibor opened #418 "Feature: Ability to get all not completed tasks from backend"
Now if machinery crushes or is restarted - all AsyncResult 's that track tasks execution results are lost.
Think it would be a nice feature of the Backend to be able to get all not completed task uuids so that it would become possible to recreate AsyncResult 's to continue task state tracking.
Now doing this outside of machinery - but it doesn't seem too right or pretty , seems like a feature that

[2019-05-22 13:40] piotrkochan commented on #411
Answer for this question is very important for me

[2019-05-23 14:46] Martin91 opened #419 "Use signature's routing key as binding key for AMQP broker with direct exchange type"
### Background
In our project, we are using RabbitMQ as the broker, and we need to group tasks into different queues.

I am newbie in both Golang and Machinery, and I am not so sure if it is a problem actually.

### Environment
1. A clean RabbitMQ vhost, no queue, no exchange before, and we are using direct exchange
2. Golang v1.12
3. Machinery v1.6.2

### Steps To Reproduce
1. Specify individual

[2019-05-24 02:28] Martin91 commented on #419
After thinking other solutions, I find another solution to solve my problem, that is, I can create multiple servers and each of them use exactly only one routing key and queue name, besides, multiple workers are also necessary to handle tasks registered by different servers and enqueued in different queues. However, I think it's too coupled.

[2019-05-30 21:29] siredwin opened #422 ""Result backend required" error on mongo"
I have the correct settings from yml.
The server even starts with the following message:

    /tmp/APIgo
GOROOT=/usr/local/go
GOPATH=/home/edwin/IdeaProjects/gowork:/usr/local/go/src
/usr/local/go/bin/go build -o /tmp/APIgo github.com/siredwin/zipperapi
INFO: 2019/05/30 15:22:32 file.go:19 Successfully loaded config from file config.yml
INFO: 2019/05/30 15:22:32 worker.go:46 Launching a worker wit

[2019-05-31 04:16] siredwin commented on #422
Temporary Fix! I just checked out version 1.5.5 and it works. Something is wrong with the Mongo Fixes!

[2019-05-31 09:23] dmibor opened #423 "Panic on Redis Broker shutdown"
Seeing this sometimes when trying to shutdown worker with Redis broker
[code]

Think it happens here in redis Broker.consume():
[code]
When Worker.Quit() calls Broker.StopConsuming() that submits to Broker.GetStopChan() channel, if deliveries is not empty yet - receive from delivery channel and receive from b.Broker.GetStopChan() would both be available and if random decided that deliveries wins -

[2019-06-05 11:57] mandar-bhong opened #424 "Executing task on all subscriber"
Hi,

How we can execute task on all the registered subscriber and get result.

My scenario is devices is connected with multiple server when user wants to get or notify all connected devices then task need to be executed by all the register server

Following options can not be opted
1. Registering every server with new task name and execute task for each server
2. Group task - group task will be e

[2019-06-05 15:48] RichardKnop commented on #422
@siredwin Can you try defining the database in mongodb config: https://github.com/RichardKnop/machinery/blob/master/v1/config/config.go#L63

Instead in the connection string? I think the new mongodb driver works differently compared to old mgo driver (not maintained anymore). It might also be required to define username/password in connection string.

It would be better to use latest version if yo

[2019-06-05 16:13] siredwin commented on #422
Shouldn't line 63 of the config file be "yaml" instead of "yamk" on mongoconfig?

[2019-06-06 09:48] RichardKnop commented on #422
Yes, if you also want to contribute to mongodb backend in the codebase, feel free. It could use some improvements. @siredwin

[2019-06-06 15:21] siredwin commented on #422
I realized that the config was not done for the new version.  But the old connection string still works on the new version(not sure if the database needs to be separate, or can be parsed). So it should not be hard to implement it. You should probably leave the old mongo in there and add a new backend for the official mongo, then phase it out when fully implemented.

[2019-06-06 20:41] NicolasWalter opened #425 "AMQP delayed queues take too long to be deleted"
### Summary

We are using AMQP as broker, and delaying the execution of tasks setting ETAs days after they are created.
 For example, we set a task's ETA in 5 days, and that queue is going to expire in 10 days, because the eta value is multiplied by 2 here: https://github.com/RichardKnop/machinery/blob/master/v1/brokers/amqp/amqp.go#L354 .

We need to be able to change that value to avoid having t

[2019-06-07 04:54] #423 closed

[2019-06-07 11:23] julianwachholz commented on #419
Hi @Martin91!
I was facing the same issue but found a _clean-ish_ solution without having to change anything in machinery.

My code has a dispatcher and worker part. I pull the default configuration from a file that looks identical to [the example](https://github.com/RichardKnop/machinery/blob/9a3ed8e8a371639524ec8c7f9354404e63d22240/example/config.yml).

Registering the tasks works as usual, the

[2019-06-10 02:05] Martin91 commented on #419
@julianwachholz yes, it works, but with some side effect.

According to the source code at the revision when I reported this issue, once you sending a task, it will automatically try to create a new binding between the exchange and the queue, the binding key and the queue's are exactly same.

However, your task server also create the binding between the exchange and your expected queue `"tasks_ima

[2019-06-10 02:06] #419 closed

[2019-06-10 14:22] NicolasWalter commented on #425
Hi again, I also found that would be useful to be able to change the autodelete value: https://github.com/RichardKnop/machinery/blob/master/v1/brokers/amqp/amqp.go#L370

If you agree, the previous solutions can be extended with this value as well.

[2019-06-11 08:02] julianwachholz commented on #424
If you use an AMQP broker, you can use a `fanout` exchange type:

In your `config.yml`:
[code]

[2019-06-11 09:11] RichardKnop commented on #425
@NicolasWalter This seems like a good idea. If you need this feature quickly it's best to submit PR :)

[2019-06-11 14:15] mandar-bhong commented on #424
Thank you for your response
How these configuration can be used for redis backend?

Thanks

[2019-06-11 14:43] RichardKnop commented on #424
@mandar-bhong I don't believe Redis supports fanout queues, it's quite a simple message queue implementation. Currently you would need to use AMQP.

[2019-06-11 14:45] julianwachholz commented on #424
A simple solution based on just Redis PUBSUB would be possible, basically the current Redis backend minus Redsync?

[2019-06-11 15:27] #378 closed

[2019-06-14 02:17] s2f3 opened #427 "reconnect not work(rabbitmq)"
`		// Reconnect to the channel if it disconnects/errors out
		go func() {
			select {
			case err = <-conn.errorchan:
				log.INFO.Printf("Error occured on queue: %s. Reconnecting", queueName)
				_, err := b.GetOrOpenConnection(queueName, queueBindingKey, exchangeDeclareArgs, queueDeclareArgs, queueBindingArgs)
				if err != nil {
					log.ERROR.Printf("Failed to reopen queue: %s.", queueName)

[2019-06-14 15:21] jackielii commented on #175
I think we can close this issue. as the signature is now injected into the task function: https://github.com/jackielii/learn-machinery

The downside is we the header becomes `map[string]interface{}`

maybe we should use json.RawMessage and expose a function called `DecodeHeader` on the signature

[2019-06-27 11:23] andrewyi commented on #325
Will there be an easier way to discard results?

[2019-06-27 15:14] #425 closed

[2019-07-01 11:56] cheneyang opened #431 "support config toml file"
Can machinery support other language config file? such as toml.

[2019-07-01 21:55] Blogoslov commented on #360
I see that this method server.SetPreTaskHandler(...) is implemented only for the Single task execution and does not available for the groups and chain. Is this by design or this just an issue and missed somehow?

[2019-07-02 17:17] LouAdrien opened #432 "reflect: cannot use string as type []string in Call when returning string"
Hello, I am trying to register a method that has to return a string. The method runs fine when not returning anything, but when changing it to return the string, I get a panic :

`

    func RunSimulator(inputDBForRun string) (string,error) {
        s:=Simulate()
        return s.runDatabaseName,nil
    }

`
`

sm.server.RegisterTask("simulate", RunSimulator)

`

runtime/debug.Stack(0x2c3e788, 0x

[2019-07-02 18:38] #432 closed

[2019-07-02 18:38] LouAdrien commented on #432
This was due to the wrong param type in the handler function defined as handler of chords of this type of tasks. Sorry.

[2019-07-03 00:11] bharat-p opened #433 "Expose SQS message ReceiptHandle in task.Signature"
When using SQS broker there is no way to get hold of SQS message's ReceiptHandle, I have a need where I need access to `ReceiptHandle` in order to dynamically change VisibilityTimeout of the message.

It will be nice if we can add a new property `SqSReceiptHandle` on `task.Signature` which we can populate from `consumeOne` method of SQS broker.

[2019-07-03 00:59] bharat-p commented on #433
raise PR with change to address this: https://github.com/RichardKnop/machinery/pull/434
cc @RichardKnop

[2019-07-10 03:45] charleswhchan commented on #413
@yuzhiyuxia : would you be willing to create a PR to address these issues? 😃

[2019-07-11 09:13] Liv1020 opened #437 "Multiple workers execute Quit() error"
panic: close of closed channel [recovered]
	panic: close of closed channel

[2019-07-11 09:40] yolossn opened #438 "Secret Information is logged when new worker is launched."
**Problem:**
When a new worker is launched the `LaunchAsync` function is called internally and it logs the configuration of the worker which exposes my AMQP URL and ResultBackend URL which is not ideal in any production environment. [Code](https://github.com/RichardKnop/machinery/blob/92b1e367570d5cae7e4adc086af84381fa09c01b/v1/worker.go#L55)

**Example log:**

**Possible Solutions:**
1. Redact an

[2019-07-11 10:27] ronnie-stratoscale commented on #427
See https://github.com/RichardKnop/machinery/pull/430 for a fix

[2019-07-12 09:15] Liv1020 opened #439 "Worker of redis broker quit very slow"

[2019-07-12 10:38] #411 closed

[2019-07-12 10:39] #433 closed

[2019-07-12 12:51] RichardKnop commented on #438
@yolossn I think the values should be redacted, this is an oversight. If you want to submit PR, it would be a good addition.

Alternatively, you can modify logging behaviour by setting your own logger before calling `LaunchAsync`: https://github.com/RichardKnop/machinery#custom-logger

[2019-07-12 14:31] yolossn commented on #438
@RichardKnop Hey thanks for taking your time out to reply. I will make a PR for redacted logging of values. I did come across the custom-logger but didn't find anything related to setting log level for the machinery server itself, Am I missing anything here ?

[2019-07-12 14:34] RichardKnop commented on #438
You could create a no operation (NOP) logger and do `log.SetInfo(nopLogger)`, then all `INFO` logs would be ignored.

[2019-07-12 14:48] yolossn commented on #438
Yes that will work,my bad didn't think of that.

[2019-07-12 18:39] muneebabbas commented on #274
@RichardKnop This is also something I am looking for. Would be really grateful if you can point in the right direction, thanks.

[2019-07-13 13:21] yolossn commented on #438
@RichardKnop I submitted the PR https://github.com/RichardKnop/machinery/pull/441, but the ci build is failing due to timeout.

[2019-07-14 17:11] charleswhchan commented on #439
I am also seeing the same issue.

[2019-07-15 06:41] Liv1020 commented on #439
@charleswhchan I loook for code of redis, found use `conn.Do("BLPOP", queue, 1000)`, this will block goroutine.
https://github.com/RichardKnop/machinery/blob/master/v1/brokers/redis/redis.go#L294

[2019-07-15 10:49] RichardKnop commented on #439
@Liv1020 Can you submit fix as PR? Would be appreciated.

[2019-07-15 12:17] tallot13 opened #442 "not sent tasks to worker"
`Launching a worker with the following settings:
worker.go:47 - Broker: redis://redis:6379
worker.go:49 - DefaultQueue: machinery_tasks
worker.go:53 - ResultBackend: redis://redis:6379`

[2019-07-15 14:36] charleswhchan commented on #439
Yes, please submit a PR if possible.  😀

(Also, please do not close the issue yet because the bug has not yet been fixed. Thanks)

[2019-07-15 14:46] RichardKnop commented on #439
There were some changes to Redis broker here: https://github.com/RichardKnop/machinery/pull/406

The changes apparently decreased CPU consumption 15 times so it would be good to keep this in mind, some of these changes had a good reason.

This should be fixed without affecting performance / CPU usage.

[2019-07-15 15:58] RichardKnop commented on #442
I can't reproduce this issue.

[2019-07-16 06:51] tallot13 commented on #442
worker_1  | INFO: 2019/07/16 06:42:22 redis.go:86 [*] Waiting for messages. To exit press CTRL+C
this line in logs not appeared

after rewrited startServer method to

[code]

clearly indicated config, not from env file, its works
Something is wrong with loading the config through the environment.

also after load config from env, added

[code]

which i not set

[2019-07-16 14:09] RichardKnop commented on #274
You would need to delete the task message from the delayed tasks queue. This would need to be implemented in AMQP and Redis as currently there is no API to do that. You could manually delete message from the queue right now but there is no API to do it.

[2019-07-16 14:10] RichardKnop commented on #274
Delayed tasks are not store din backend so state methods on the backend object won't do anything, this is part of broker.

[2019-07-16 15:29] niranjan94 commented on #274
Thanks @RichardKnop 😄 currently I access the redis broker directly and do it.

Would be nice to have it as an API on machinery itself though. Similar to how [`celery`](https://docs.celeryproject.org) provides revoke.

---

Putting the code snippet here for others to use if required. (PS. There maybe a better way of doing, if so, feel free to comment)

[code]

[2019-07-16 16:32] charleswhchan commented on #439
@RichardKnop : do you have permission to re-open this issue so that it will show up in the list of open tickets?

[2019-07-17 16:07] RichardKnop commented on #439
Reopened.

[2019-07-18 08:36] Liv1020 commented on #439
I will fix it, [#406 ](https://github.com/RichardKnop/machinery/pull/406) have reference value

[2019-07-19 06:54] Liv1020 commented on #439
@RichardKnop  you can merge it for a new version? we use this library

[2019-07-22 02:06] lyl-lucas opened #444 "is there any way to make smoke test or heart beat checking for workers processures"

[2019-07-22 02:09] lyl-lucas commented on #444
I want to monitor my machinery service alive or not. If there is any way to make this checking, please tell me, thank you.

[2019-07-23 03:37] charleswhchan opened #445 "Define custom errors so clients can compare error types without relying on string comparison"
See: https://github.com/Pungyeon/clean-go-article#returning-defined-errors

In https://github.com/RichardKnop/machinery/blob/07418869e268a380aea5b9aefbb0b9f5bb715a12/v1/worker.go#L97:
[code]

As a result of the current implementation, when client reads from errorsChan, one has to check if the message == "Worker quit gracefully".

[2019-07-25 09:08] Liv1020 commented on #439
@RichardKnop have any response?

[2019-07-26 00:01] charleswhchan commented on #439
I would also like a Machinery release with this fix.

[2019-07-27 14:30] vterdunov commented on #382
Faced with the same error

[2019-07-30 08:55] humjosh commented on #425
@NicolasWalter I'm curious if this change worked as intended? My understanding is that the AMQP auto-delete setting deletes the queue when it has no consumers, not when the queue has no messages? If the queue never had any consumers (which is the case for the delay function in machinery), this setting will have no effect.

[2019-07-30 20:00] tcnleung commented on #439
This fix would be very nice to to have. Thank you @RichardKnop!

[2019-08-02 00:39] charleswhchan commented on #439
@Liv1020, @RichardKnop : I tested the fix and it is working for me.

[2019-08-02 10:41] ryan-ju commented on #399
The the previous task's result is passed as the LAST argument, not the first argument, so the doc is wrong (the code is right-folding, the doc is left-folding).

The correct doc should be
[code]

[2019-08-06 03:46] coolseven opened #451 "consumeFunc will fail on remaining tasks if we append new Args in new tasks"
say I have pushed task-1 into the (redis) queue, and task-1 has two Agrs (id  and user_id ) ,
then the task in redis looks like this:
[code]

so the corresponding task consume function has two parameters , its signature looks like this:
[code]

so far everything went just perfectly.

---

Then I tried to append one new Arg (product_id) in future tasks  , the new-version task in redis will look lik

[2019-08-06 09:57] MikeLing opened #452 "Send task with specify worker"
Hi, could I send task with specify worker to work with? e.g I have two work with consumer tag named `worker1` and `worker2`, then I would like to send a task which only `worker1` or `worker2` will process on.

[2019-08-06 10:30] #439 closed

[2019-08-14 12:04] mjarkk opened #454 "High CPU usage and no logging when task is not registered by any worker (redis)"
While transforming a project to this queue worker we had a strange issue that caused an insane high CPU usage for just a basic binary.
![Screenshot from 2019-08-14 13-44-54](https://user-images.githubusercontent.com/15320763/63019039-9bd24300-be9a-11e9-9e43-08c7ada2d221.png)

After a way to long time debugging we found that there where some jobs created in the wrong queue with as result this libra

[2019-08-16 13:30] mjarkk commented on #382
@FuzzyStatic, @vterdunov I've opened a pr to fix this

[2019-08-16 15:59] mjarkk commented on #381
No,
But you if you want more insight to the jobs you might want to take a look at these functions:
[code]

[2019-08-29 22:25] jsm commented on #178
This has been implemented in https://github.com/RichardKnop/machinery/pull/238

[2019-08-29 22:25] #178 closed

[2019-08-30 08:02] mjarkk commented on #382
@FuzzyStatic I think this issue can be closed because the pr is merged in :)

[2019-08-30 12:11] vterdunov commented on #382
@mjarkk thank you! btw you could use some of keywords to close related issues. See: https://help.github.com/en/articles/closing-issues-using-keywords

[2019-08-30 14:07] mjarkk commented on #382
Thanks didn't know that!,
Updating the title after it has be merged in doesn't seem to close this issue, i guess you need to close it yourself :).

[2019-08-30 14:22] #382 closed

[2019-09-03 07:37] yolossn opened #460 "Builds are failing due to outdated dependencies."
My builds were failing and after some debugging found out that `git.apache.org/thrift.git` has been moved to `github.com/apache/thrift/` as mentioned in https://thrift.apache.org/lib/go. Thrift is an indirect dependency which was used in older version(v.0.36.0) of `cloud.google.com/go`. This version is used by machinery which is causing the builds to fail.

![Screenshot](https://user-images.github

[2019-09-03 08:05] vincenthcui opened #461 "git.apache.org/thrift.git is no longer available"
Thrift is no longer available at the location in go.sum. It's now distributed on Github at github.com/apache/thrift. The official [documentation](https://thrift.apache.org/lib/go) has also been updated.

Steps to reproduce the behavior

[code]

[2019-09-06 12:13] mjarkk commented on #381
I've started working on a dashboard where it's possible to view the jobs handled by a queue.
It's located here: https://github.com/mjarkk/machinery-dashboard

[2019-09-06 12:31] #461 closed

[2019-09-06 12:31] RichardKnop commented on #460
Should be fixed by recently merged PR https://github.com/RichardKnop/machinery/pull/462

[2019-09-06 12:31] #460 closed

[2019-09-06 18:41] unkeep commented on #437
having same issue. to avoid it i set `NoUnixSignals: true` and then manually call `mchServer.GetBroker().StopConsuming()`. This gets the workers shutdown

[2019-09-19 00:47] charleswhchan opened #465 "Mismatch default DelayedTasksPollPeriod"
In https://github.com/RichardKnop/machinery/blob/master/v1/config/config.go#L44
[code]

In https://github.com/RichardKnop/machinery/blob/6f7b63c9a5dbb8c18444aff89d22578efe4c39b0/v1/brokers/redis/redis.go#L331
[code]

Given `NormalTasksPollPeriod:  1000`, I suspect the default for `DelayedTasksPollPeriod` is incorrect and should be 500 as specified in redis.go?

[2019-09-19 00:59] charleswhchan commented on #465
Also 20 seems too short given this comment in the [code](https://github.com/RichardKnop/machinery/blob/6f7b63c9a5dbb8c18444aff89d22578efe4c39b0/v1/brokers/redis/redis.go#L359):
[code]

[2019-09-19 10:53] RichardKnop commented on #465
I think you are correct. This seems like a mistake, it should be 500.

[2019-09-19 17:34] charleswhchan opened #466 "RFP: Option to disable delayed task / for Redis broker?"
Currently Redis broker polls Redis DB to look for delayed tasks
https://github.com/RichardKnop/machinery/blob/6f7b63c9a5dbb8c18444aff89d22578efe4c39b0/v1/brokers/redis/redis.go#L331

If the software don't use delay tasks, polling `nextDelayedTask()` seems wasteful. While there is a workaround now to set a long `DelayedTasksPollPeriod`, I am not sure if there is any side-effect (for example, a long

[2019-09-21 13:22] #465 closed

[2019-09-25 10:32] loric commented on #262
@marconn @dmora any ideas?i got this too...

[2019-10-02 05:22] charleswhchan opened #469 "Default settings in RedisConfig not optimal for connection pooling"
From: https://godoc.org/github.com/RichardKnop/machinery/v1/config#RedisConfig
[code]

During load testing, we found that Machinery was opening/closing lots of new Redis connections every time `SendTask()` is called. This lead to major CPU load for Redis and eventually exhaust the max number of client connections as the Redis process has trouble keeping up with all the open/close connections.

Loo

[2019-10-08 06:45] Uzair614 opened #471 "Option to not delete task on task failure (Useful for SQS DLQ)"
Currently, if a task fails during processing, then machinery either

1. Resends the tasks, and if successful, deletes from the source queue (if retries are enabled)
2. Just deletes the tasks (if retries are disabled or exhausted)

I propose to add another option to not delete tasks if tasks have failed. This is useful for if you are using SQS and have DLQ enabled on your queues. With machinery's i

[2019-10-08 15:20] RichardKnop commented on #469
@charleswhchan This seems sensible, probably a good idea 👍

[2019-10-08 16:22] charleswhchan commented on #469
Thanks @RichardKnop. I will put up a PR for it in a bit.

[2019-10-08 20:12] Uzair614 commented on #471
@RichardKnop can you also please tag a new version for use in go.mod? Thank you

[2019-10-08 21:06] RichardKnop commented on #471
Will do.

[2019-10-11 02:15] tuan3w opened #476 "Graceful worker upgrade"
Hi all,
I want to ask about upgrading worker.
If I want to update my worker, what flow to should I do if I don't want to end running tasks in current worker?
If I understand correctly, machinery will wait current running tasks to be finished if I trigger Ctrl+C signal. If running tasks take long time to finish, it will be too slow to us. We want all running tasks will be marked as fail and send re

[2019-10-11 07:08] mjarkk commented on #454
I think this issue can be closed,
by adding `IgnoreWhenTaskNotRegistered` to every signature the tasks where not retried if the task was not registered and thus the cpu usage was back to normal.

[2019-10-11 07:08] #454 closed

[2019-10-11 13:45] mjarkk commented on #154
I think the best thing to do here is to create a wrapper around the sendTask function like this:
[code]
In the handler just `json.Unmarshal` the data.

The data is not a strict json type but this will do the trick for most people i guess.

[2019-10-22 05:47] #476 closed

[2019-10-23 11:07] Martin91 commented on #122
not only redis broker but also amqp has the exactly same problem.

[2019-10-24 10:47] ArsalanKhairani opened #481 "Ability to switch between multiple queues"
With the existing implementation, the machinery worker only listens to a single queue and fetch messages from it. The interface, `TaskProcessor` though provides a `CustomQueue` method, its definition in the worker is fixed to return a single queue.

We need the ability to schedule / switch between multiple queues dynamically. One use case of this functionality is if we've `n` queues and we want to

[2019-10-24 13:27] Martin91 commented on #122
@RichardKnop in amqp's broker, it has the same problem because it doesn't use a buffered channel. I think it is easy to solve by using a buffered channel, the below shows a simple demo:

[code]

If I run the above code without a buffered channel, it will complain like:
![image](https://user-images.githubusercontent.com/2900644/67489875-dc251d00-f6a4-11e9-8dbd-2b3bf0696658.png)

It will be OK with

[2019-10-25 13:19] theholy7 commented on #469
What is the status of this ticket?

[2019-10-25 14:33] charleswhchan commented on #469
Merged to master.

See commit https://github.com/RichardKnop/machinery/commit/ec54a187c6b2bf3f5951f992f08c193446d5b12c

[2019-10-27 13:21] #469 closed

[2019-10-27 13:21] RichardKnop commented on #122
@Martin91 Can you submit a PR to fix this issue? Seems like an easy fix.

[2019-10-29 14:45] Martin91 commented on #122
@RichardKnop I added a test case to reproduce it successfully and submitted the patch. Plz consider to merge it.

[2019-10-29 16:05] willgorman opened #483 "AMQP messages remain ready after being acked"
I'm running into something unexpected where even after machinery processes and acks messages they are remaining in rabbitmq in a `ready` status.    I can observe this by running the example and then listing queues via `rabbitmqctl`:

### Worker ###

[code]

### Sender ###

[code]

### Rabbitmqctl ###

[code]

The machinery_task queue has 18 ready messages after everything has been processed and ac

[2019-10-31 20:59] willgorman opened #484 "Tasks written to the queue when no worker is running are never processed"
I'm seeing some unexpected behavior where tasks that are published before a worker is running are not processed when the worker is started.  I've created an example at https://github.com/willgorman/machinery/tree/a5db333419f003c0bd4b4df04149fb9caedf89f6/issue.

[code]

[code]

[code]

[code]

[code]

If I start the worker and leave it running while the sender runs, then I see all the tasks get pro

[2019-11-02 21:08] praveen-garg opened #485 "MPL license requires to disclose source, Make it less restrictive to allow usage in larger commerical products"
Looks like use of this package (under MPL 2.0) puts a condition of distribution / disclosure of all source code; Which may restrict its usage in commercial projects.

 Would you please consider to remove that restriction? and change it to Apache 2.0 or some other to make it less restrictive.

https://github.com/RichardKnop/machinery/blob/master/LICENSE#L172

[2019-11-07 17:47] dbuscaglia opened #486 "301 status code with SQS Error when sending a message: : status code: 301, request id:"
Everything seems fine when I send a task to the queue from the command line, but getting a 301 when sending through machinery.  Thoughts?

[2019-11-07 18:54] dbuscaglia commented on #486
Fixed.  Note: for those using mocked SQS via roribio16/alpine-sqs, do not use a region when connecting.  Leave that environment variable blank and leave configuring a region for production

[2019-11-07 18:54] #486 closed

[2019-11-07 19:23] gow opened #487 "Expose retry attempt counts to the task"
Sometimes a task needs to know if this is the first time it's running or if it's being retried. Some of the use cases are,
  - The task may want to log additional metrics and logs when it's being retried beyond a certain threshold.
  - The task may want to try alternate behavior or try different data sources on retries.
  - If a task wants to implement custom backoff using `tasks.ErrRetryTaskLater

[2019-11-11 21:35] praveen-garg commented on #485
Hi @RichardKnop  could you please look into this?

[2019-11-13 02:30] hashamali opened #488 "go get failing."
I am unable to run the basic `go get github.com/RichardKnop/machinery/v1`. It appears the latest version of go-redis is incompatible?

[code]

[2019-11-13 02:48] hashamali commented on #488
Proposed fix: https://github.com/RichardKnop/machinery/pull/489

[2019-11-13 17:29] codestation commented on #485
I though it only meant that you only need to disclose the source code of the changes to Machinery, not to the whole propietary codebase. Am I wrong?

[2019-11-13 17:42] praveen-garg commented on #485
@codestation Please refer to clause `3.2. Distribution of Executable Form`. It would be great to see it under MIT or Apache 2.0 license.
<img width="991" alt="Screenshot 2019-11-13 at 11 10 48 PM" src="https://user-images.githubusercontent.com/1974003/68789165-eebec080-066a-11ea-9524-142abac1715d.png">

[2019-11-13 21:19] codestation commented on #485
@praveen-garg they clarify in the Mozilla FAQ that the license isn't viral like the GPL.

From https://www.mozilla.org/en-US/MPL/2.0/FAQ/

 As i understand my options are either to contribute to this project so the patches ends upstream or just make a public fork it and put my patches in there (in case some of my patches doesn't align with the direction of the project). I admit that isn't ideal fo

[2019-11-14 06:44] #488 closed

[2019-11-14 09:08] vincenthcui commented on #293
We run into the same problem that how to manage mysql connections in machinery tasks.

There are two different ways to manage connections. One is opening a connection in the front of task, and close it in the end. It's easy to test since task is stateless and what the task returns only depends on what parameters we passed into it, but it's onerous, we have to passing the same connection informatio

[2019-11-14 14:06] ChristianLindLarsen opened #491 "How to configure a task to be long-running and not subject to retries?"
I have a task that's kicked off by a single worker. It's expected to take 45-60 minutes to complete.

However, I am facing an issue where it's somehow being retried after 10 minutes of still being in the `Started` phase.

I have not configured anything specific for this task(my other tasks are fairly short lived, in comparison - way less than 10 minutes).

Is there a way to disable this 'retry' af

[2019-11-15 10:54] RichardKnop commented on #485
I am not sure if I want to make a radical change to the license at this point. I will think about this though.

[2019-11-18 09:24] LouAdrien opened #493 "Add task signature to task state in backend?"
I am currently writing an API that will use the result backend to create a dashboard informing of task results. For this, I would need to be able to access the task's signature (ex: to list parameters of the job). Would it be possible to add it?

Not that I am willing to create a PR that implements this for mongodb backend, provided you are willing to merge it / update other backend to reflect the

[2019-11-18 12:39] ChristianLindLarsen commented on #491
Solved - in my use-case, this worked:

`task.RetryTimeout = int(2 * time.Hour)`

[2019-11-18 12:44] ChristianLindLarsen commented on #491
Disregard the above: This did not seem to work. It re-queued the task, although not after 10 minutes - but more like 20 minutes this time(oddly enough)

[2019-11-19 08:18] ChristianLindLarsen commented on #491
For good measure, I went into the code and found that the `RetryTimeout` int is expected to be in seconds.

I tried the following:

`task.RetryTimeout = 7200`

No luck - the task is still re-queued after 10 minutes from initially starting.

[2019-11-19 13:08] ChristianLindLarsen commented on #491
The issue turned out to be GCP Pub/sub, rather than machinery.

The default behaviour for pubsub is to retry unacked messaged to subscribers after 10 minutes.

This was fixed by setting the `MaxExtension` in the `GCPPubSubConfig`.

[2019-11-19 13:08] #491 closed

[2019-11-22 07:46] Lingerhk opened #496 "SetErrorHandler should support param with signature"
Just like the source code in exaple：
	errorhandler := func(err error) {
		log.ERROR.Println("I am an error handler:", err)
	}
	pretaskhandler := func(signature *tasks.Signature) {
		log.INFO.Println("I am a start of task handler for:", signature.Name)
	}
	posttaskhandler := func(signature *tasks.Signature) {
		log.INFO.Println("I am an end of task handler for:", signature.Name)
	}
	worker.SetPostT

[2019-11-22 12:08] #396 closed

[2019-11-27 09:37] huangyanhong commented on #442
I have the same problem use redis config from env  ,but  use redis config from yaml is normal

[2019-11-27 10:40] huangyanhong commented on #442
I use rabbitmq as resultbackend no problem  ,  I add log in redis backend found can't build conn redis
common/redis.go
NewPool  func
  rc.open  dead  can't  exit  in return  &redis.pool

[2019-11-28 07:19] lb151 opened #497 "machinery task error"
INFO: 2019/11/28 15:17:00 worker.go:54 - ResultBackend: redis://192.168.1.253:6379/2
INFO: 2019/11/28 15:17:00 redis.go:94 [*] Waiting for messages. To exit press CTRL+C
DEBUG: 2019/11/28 15:17:07 redis.go:297 Received new message: {"UUID":"task_3f4c817a-8cf6-4eca-afe7-f6f4fb34f541","Name":"task_done","RoutingKey":"machinery_tasks","ETA":null,"GroupUUID":"","GroupTaskCount":0,"Args":[{"Name":"ss",

[2019-11-29 07:12] wx8217 opened #498 "How do you monitor the status of a task in real time"

[2019-11-30 09:44] xyli09 opened #499 "dial tcp 127.0.0.1:6379: socket: too many open files"
time="2019-11-30T07:09:59+08:00" level=error msg="worker error handler:Publish message error: dial tcp 127.0.0.1:6379: socket: too many open files"
time="2019-11-30T07:09:59+08:00" level=error msg="worker error handler:Publish message error: dial tcp 127.0.0.1:6379: socket: too many open files"
time="2019-11-30T07:09:59+08:00" level=error msg="worker error handler:Publish message error: dial tcp 1

[2019-12-03 09:11] wx8217 opened #500 "I have a problem with chain parallelism"
I start two coroutines for the chain task.
chain01:     task03  task01 task02
chain02:     task01  task05 task04

When task01 of chain01 is finished executing, it gets stuck and doesn't execute task05.

	go func() {
		log.INFO.Println("Chain(01) of tasks:")
		chain, err := tasks.NewChain(&processTask3, &processTask1, &processTask2)
		if err != nil {
			log.ERROR.Fatalf("Error creating chain: %s",

[2019-12-04 00:03] bohrasankalp opened #501 "Named arguments in task"
Right now we have limitations of passing type, value to arguments, that is also specific type. Is there any way we could named argument, like

1. `Name:"role_id", Type: string, Value: "xyz" '?
something like this.
2. How would I send byte as args?

[2019-12-10 09:53] vincenthcui commented on #501
I don't think it's possible for now, because golang language don't support named arguments, not like python.
Since python is runtime language, so the interpreter can know which parameter has which name in runtime, even inject arguments into function call. But golang CAN NOT. Actually, after compiled, we don't know parameter's name any more.

My solution is, passing a json string to the task, which

[2019-12-12 02:30] marcocali commented on #293
@paulm17 and @edwardmp you can use _closure_ to share variables between tasks within the same worker.

Here an example:

![Screen Shot 2019-12-12 at 12 45 06 pm](https://user-images.githubusercontent.com/1436181/70677522-87d10d80-1ce3-11ea-9948-5fc4cbbe0bd5.png)

![Screen Shot 2019-12-12 at 12 45 59 pm](https://user-images.githubusercontent.com/1436181/70677531-8d2e5800-1ce3-11ea-95cf-64b28fe7f4db

[2019-12-13 05:57] marcocali commented on #293
Full example here: https://github.com/marcocali/machinery/blob/master/example/machinery.go

[2019-12-17 10:35] leymx opened #502 "cannot use "github.com/go-redis/redis".Z literal when get v1"
faild when execute: go get github.com/RichardKnop/machinery/v1

output below:
src/github.com/RichardKnop/machinery/v1/brokers/redis/goredis.go:179:54: cannot use "github.com/go-redis/redis".Z literal (type "github.com/go-redis/redis".Z) as type *"github.com/go-redis/redis".Z in argument to b.rclient.ZAdd
src/github.com/RichardKnop/machinery/v1/brokers/redis/goredis.go:346:56: cannot use "github.co

[2019-12-18 07:39] leymx commented on #502
problem solved, just because the version of go-redis/redis

github.com/go-redis/redis/commands.go for two branch:
master:   func (c *cmdable) zAdd(a []interface{}, n int, members ...*Z) *IntCmd {
v6.15.6:   func (c *cmdable) zAdd(a []interface{}, n int, members ...Z) *IntCmd {

remove src/go-redis/redis, and git clone redis again, then checkout to v6.15.6, go install

then  execute: go get github.

[2019-12-18 07:39] #502 closed

[2019-12-20 06:33] makkalot opened #505 "Increased cpu usage over time"
Hi,

I've been using machinery in one my client's projects and seen this weird behaviour where if have consumer which processes lots of tasks, over time it's cpu consumption increases and the processing of the tasks slows down dramatically. I'm attaching a screen of the behaviour. We're using 1.6.9 version with redis as broker and backend. Any ideas ?
<img width="538" alt="Screenshot 2019-12-20 at

[2019-12-20 12:11] RichardKnop commented on #505
Can you do some profiling to see what's consuming the CPU?

[2019-12-21 15:17] makkalot commented on #505
Thanks for the response, did some profiling, turned out it was something from our handlers a memory leak causing a data structure to grow and eventually putting load on cpu when working. Can safely close the issue, sorry for the noise :)

[2019-12-21 15:17] #505 closed

[2019-12-23 04:06] RealBar opened #506 "about the project directory hierarchy"
I like this project very much, but I am always wondering why does this project mix the version  v1 and v2 in same branch?Normally we distinguish different version by branches.

[2019-12-30 21:45] marcocali commented on #293
@RichardKnop please close this issue.

[2019-12-31 08:27] #293 closed

[2020-01-05 22:21] #445 closed

[2020-01-05 22:28] marcocali commented on #481
I try to figure out a use case to have multiple queues, but I can't.

Can you be more specific when you say:

[2020-01-09 15:13] wantdrink opened #507 "How to provide sentinel URL if using Redis sentinel as result backend"
Hi there,

Is that possible to use Redis sentinel as the result backend with v1.7.3?
I couldn't find how to set the URL. From the code it seems we need to create redis client with

`redis.NewUniversalClient(ropt)`

But there is no parameter to specify the sentinel MasterName so this will turn to a Redis Cluster client.
`
[code]

Any suggestion? Thanks.

[2020-01-10 19:40] bbeckrest commented on #442
I am seeing this same issue as well.

env
[code]

### Loading config via `NewFromEnvironment()`:
**DOES NOT WORK**
- tasks are not sent to redis - code hangs at `server.SendTask()`
- `[*] Waiting for messages. To exit press CTRL+C` is not output from worker
[code]
spew Output
[code]

### Loading config manually:
**WORKS**
[code]

[2020-01-15 03:28] vulongbienbk commented on #274
ZCARD delayed_tasks ==> show number of delay_tasks
DEL delayed_tasks ==> delete all delayed_tasks

[2020-01-15 16:51] orangehaired commented on #498
I need this question and answer. Why did you delete? @ghost

[2020-01-15 16:52] orangehaired commented on #452
I am still waiting for answer :')

[2020-01-15 16:58] orangehaired opened #508 "Delete a scheduled task?"
How to delete a scheduled task?

[2020-01-16 13:16] Azuka commented on #452
I think the only way to do that is to set a routing key (which is technically the queue name) on the signature and have the workers listen to different queries.

[2020-01-16 13:21] orangehaired commented on #452
Unfortunately I will solve it this way.

[2020-01-19 09:38] lannyMa opened #509 "Is it support periodic task?"
Is it support periodic task?

[2020-01-21 18:11] thefuga commented on #208
Any updates on this? I'm having the same problem when starting workers on go routines.

[2020-01-22 10:35] omjangir opened #510 "Need support to set redis master and slave url"
we are using managed aws Redis service and have 2 URLs, one for reading and write.
But we are not able to set 2 reads and write URLs for Redis.

[2020-01-22 21:21] thefuga opened #511 "Retry tasks running on a single go routine"
I'm trying to profile an application which will run potentially a thousand tasks per minute. Many of which will fail and will be retried for around 3 times. The problem is after the tasks fail, the recovery is (apparently) running on a single go routine.
I'm under this impression because when the tasks are queued, they all run extremely fast, but the retries are really slow (and apparently sequent

[2020-01-23 04:07] Blquinn opened #512 "Removing argument types from task signatures"
Hello, first off, thanks for creating such an excellent project!

I apologize if this has already been brought up, I searched the issues and didn't find anything related to this.

I think that the type information can be removed from the task signatures. You should be able to use reflection to de-serialize the arguments based on the types of the supplied function. This would make the api a bit cle

[2020-01-23 20:42] thefuga commented on #511
Apparently this is a Redis config issue. Reducing the `delayed_tasks_poll_period` solves this.

[2020-01-23 20:42] #511 closed

[2020-01-24 21:26] orangehaired opened #513 "Stopping a specific worker"
Hi @RichardKnop, @dcelasun,

I want to stop only specific queue of worker, but all workers stopped and redis connection pools closed. Does anyone have a better solution?
[code]

Full Code:
[code]

[2020-01-30 18:15] subsociety commented on #496
I agree with @Lingerhk.  I'd like to be able to have access to the signature so that I can log or use signature data as part of my error handling.

[2020-02-05 23:35] 13rac1 commented on #437
Not sure if this is the correct/same panic. My redacted error log from similar error:
[code]

First clue is  https://github.com/RichardKnop/machinery/commit/bc427bd7fe3267b8fc625c09c22e95ab2fee3338 from https://github.com/RichardKnop/machinery/pull/421

[2020-02-05 23:54] 13rac1 commented on #437
The application was running version 1.5.5 without problem. I performed a complete dependency upgrade which included Machinery to 1.7.3. The integration tests began to fail.

Version 1.6.4 is the latest version without the changes from #421. The tests complete successfully when version 1.6.4 is a hard requirement. I confirmed panic reproduction when running the tests with version 1.6.5 which includ

[2020-02-27 01:32] wantdrink commented on #507
Tested and it works well. Thanks.

[2020-02-27 01:32] #507 closed

[2020-03-04 04:39] hongminhcbg opened #516 "What does that mean of Priority field?"
I send to worker 3 task with different priotity.
I send task:
task 1 -> priority = 1,
task 2 -> priority = 2,
task 3 -> priority = 3,
I want worker process: task 3 -> task 2 -> task 1
But worker run: task 1 -> task 2 -> task 3
My struct and method sendtask:

[code]
in main:
[code]
Full code:
[https://play.golang.org/p/aR73cKDOCr8](url)

[2020-03-04 07:59] #516 closed

[2020-03-07 09:29] amirbagh75 opened #517 "How to disable TLS in Connection to redis"
we use ENV for run machinery. but we can't find any properly way to disable TLS.
how to disable in worker and server.

[2020-03-07 13:50] amirbagh75 commented on #517
solved!

[2020-03-11 02:32] gow opened #518 "Results don't expire in DynamoBD backend."
Looks like the results stored in DynamoDB backend don't expire. I don't see a TTL attribute set in the objects.

**Reproduction steps:**

1. Configure DynamoDB as the result backend (https://github.com/RichardKnop/machinery#dynamodb)
2. Prepare a server with `ResultsExpireIn = 900` populated (defaults to 1hr if not specified) - https://github.com/RichardKnop/machinery#resultsexpirein
3. Enqueue ta

[2020-03-18 04:23] xuejipeng opened #519 "No results found in backend"
The `results_expire_in` type is int32, so if `int32(time.Now().Unix() + int64(expiresIn))` more than 2147483647, the `results_expire_in`  will be a negative number, so i think, some error or warning messages shuo be given here.

https://github.com/RichardKnop/machinery/blob/6f2b447634bf3ae467de94a3f54e4263c860eb66/v1/backends/redis/redis.go#L312-L329

[2020-03-19 04:06] chinajuanbob opened #520 "Is there an example or some instruction for custom logger with zap?"
It is complicated to use zap with custom logger since each level of machinery has its own logger, and zap logger set level by method, like `Errorf()` and `Infoln()`

I wonder if there are already some solutions or references.

Thanks a lot!

[2020-04-06 14:24] cuevaskoch commented on #517
I had this same issue recently.  I'm solving it by using a custom environment variable, and then when creating my settings:

[code]

[2020-04-09 01:45] CatchZeng opened #521 "Support for scheduled task"
How can I implement a scheduled task like python celery?
[code]
I found a [delayed task](https://github.com/RichardKnop/machinery#delayed-tasks), but I did n’t find a scheduled task.

[2020-04-09 16:20] kingzbauer commented on #521
@CatchZeng you mean a periodic task as such https://docs.celeryproject.org/en/latest/userguide/periodic-tasks.html#entries? I am not sure machinery offers that out of the box.
I found a work around using https://pkg.go.dev/github.com/robfig/cron?tab=doc which would work like celery beat to trigger a task to a machinery worker at specific intervals

You could probably create a wrapper package that

[2020-04-10 01:21] CatchZeng commented on #521
@kingzbauer thank you very much! Yes, what I want is a periodic task. I also thought about doing it with cron, but if multiple workers handling periodic tasks are deployed in a distributed system, how is the machinery handled? So, I raised this issue and wanted to know if machinery has a better way to deal with periodic tasks.

[2020-04-10 05:43] kingzbauer commented on #521
As long as you have a single cron process deployed, that takes care of scheduling the periodic tasks with machinery service struct, something like `asyncResult, err := server.SendTask(signature)`, having multiple workers shouldn't be a problem since they all feed off from the same Queue, so it's sort of a "round-robin" distribution of tasks.

The workers know nothing of any periodic tasks, they on

[2020-04-10 06:02] gigenthomas opened #522 "Error when trying to run the example"
go run example/machinery.go -c example/config.yml worker

Get the following err:

github.com/RichardKnop/machinery/v1/brokers/redis
src/github.com/RichardKnop/machinery/v1/brokers/redis/goredis.go:193:54: cannot use "github.com/go-redis/redis".Z literal (type "github.com/go-redis/redis".Z) as type *"github.com/go-redis/redis".Z in argument to b.rclient.ZAdd
src/github.com/RichardKnop/machinery/v1/

[2020-04-10 09:02] kingzbauer commented on #521
@CatchZeng here is a link to a simple demo app I put up using both libraries https://github.com/kingzbauer/periodic-scheduler-demo-go
You can log the output for the workers. To task is replicated across the workers.

[2020-04-11 12:10] CatchZeng commented on #442
@huangyanhong
I have the same problem use redis config from env. My solution is as follows
[code]
but this will cause you can not set keepReloading to true.
@RichardKnop Is there a better solution?

[2020-04-11 16:51] rafareyes7 commented on #497
I'm having the same trouble.

[2020-04-13 08:13] gow commented on #518
Submitted a PR - https://github.com/RichardKnop/machinery/pull/523
Please take a look at this. We need this feature for one of our services. Without this we just keep growing our DynamoDB storage infinitely.

[2020-04-14 05:00] gow opened #525 "Chords are not triggered sometimes when using DynamoDB backend"
I have noticed that sometimes, the chord callbacks are not executed when using DynamoDB as the backend. Upon further inspection with some debug logging, I noticed that in some instances `GroupCompleted()` returns false even when there was only one task in the group.  `GroupCompleted()`  is called in response to a task being completed. So this should never return false in such instances.
Along with

[2020-04-14 05:10] gow commented on #525
I'm thinking of making all DynamoDB reads strongly consistent here. Mainly because it implements locking of groups using eventually consistent reads and this will lead to incorrect locking.

I'll send a PR making all reads use strong consistency unless others have a different opinion.

[2020-04-14 09:02] #283 closed

[2020-04-14 23:16] RichardKnop commented on #525
Hopefully this will be fixed by https://github.com/RichardKnop/machinery/pull/527

[2020-04-15 03:47] xuxiaohu commented on #522
The using library "github.com/go-redis/redis"  (version v6.15.7)   is too older , please update it

[2020-04-15 03:48] xuxiaohu opened #528 "Update redis libraray version"
The using library "github.com/go-redis/redis" (version v6.15.7) is too older , please update it!

[2020-04-15 07:15] #518 closed

[2020-04-15 09:51] icecraft opened #529 "README.md may error"
hello, I found this in readme
* Each worker will only consume registered tasks. For each task on the queue the Worker.Process() method will be run in a goroutine. Use the second parameter of server.NewWorker to limit the number of concurrently running Worker.Process() calls (per worker). Example: 1 will serialize task execution **while 0 makes the number of concurrently executed tasks unlimited**

[2020-04-16 03:45] roopakv opened #530 "release v1.7.5 with better dynamodb support"
Could you please release a new version with this commit:

https://github.com/RichardKnop/machinery/commit/107e5de255d42fbeafc2494866f1b419bae9e3b5

[2020-04-16 15:08] jetora opened #531 "Is there some way to interrupt a running task(long enough) ?"
Is there some way to interrupt a running task(long enough) ?

like：

celery：
from celery.task.control import revoke
revoke(id, terminate=True)

[2020-04-16 18:00] gow commented on #531
In Go, you should use contexts with deadline to achieve this. And your task must be cooperiating (i.e listen on ctx.Done() and take action)

See below links for further information:

- https://golang.org/pkg/context/#WithDeadline
- https://blog.golang.org/context

[2020-04-16 18:43] shivanshgaur opened #532 "Is there a way to control the rate of processing of jobs"
We want to control the rate of consumption of messages from the queue.  We are using Redis as a broker. I know I can check the rate of message consumption after it gets popped from the queue. But I explicitly want to pop only when the rate limiter allows me to do it.

[2020-04-16 21:16] rkoehl05 commented on #153
I am running into this as well. It looks like if the retry closure is never executed due to a connection error then there is nothing waiting at the other end of the retryStopChan channel [here](https://github.com/RichardKnop/machinery/blob/e7719c452484bd7e4ad1a55ce206f89f4400e92c/v1/retry/retry.go#L23) so [this](https://github.com/RichardKnop/machinery/blob/master/v1/common/broker.go#L102) ends up

[2020-04-20 21:25] gow commented on #532
This is an interesting problem. I'm dealing with it too. But I wonder if machinery is the right place for this. There are a lot of open questions.
  - What about required infrastructure? Distributed coordination needs specialized tools to implement correctly (Ex: etcd, consul, zookeeper etc). I don't think Machinery can reliably implement a rate limiter across all the supported broker/backend conf

[2020-04-22 07:20] gow commented on #525
This is fixed.

[2020-04-22 07:20] #525 closed

[2020-04-23 12:25] KarlTango commented on #521
see my pr: https://github.com/RichardKnop/machinery/pull/534

[2020-04-23 22:37] mostafazh commented on #471
I think this can be closed

[2020-04-23 22:59] mavolin opened #535 "Worker Blocks When Concurrency Is Set To 0"
I just played a bit with the example and found a strange behavior, that I can't make sense of and that is described differently in the docs.

[code]

This is stated in the docs, so I would assume that `add` returns first, as both are executed concurrently, but `sleep` sleeps for two seconds, while `add` returns immediatly.

However, when looking at the logs, `sleep` is executed first (as expected)

[2020-04-25 09:54] mmacheerpuppy commented on #535
Set it to max int as a workaround perhaps

[2020-04-26 08:14] aimpsmile commented on #405
reflect Can identify the it. I am useing.

[2020-04-28 18:48] gow opened #536 "[DynamoDB] Too many GoRoutines + SSL connections causing out of memory"
The DynamoDB backend opens up too many SSL connections to DynamoDB in multiple Goroutines and this causes the process to exceed memory limits. Here is the relevant code
https://github.com/RichardKnop/machinery/blob/9a9a16912261622c3f10d636cebb2e00bf43327d/v1/backends/dynamodb/dynamodb.go#L260-L267

It's creating one Goroutine per task and fetches the state within that Goroutine. Sometimes we have

[2020-04-29 13:26] chesson1017 commented on #496
If errors, posttaskhandler will also be excuted. So u can use pre and post handler only.

[2020-04-29 13:54] chesson1017 commented on #405
Hi@aimpsime
Could you please paste a demo here about how to use struct in task parameter?   :)

[2020-05-02 15:49] #179 closed

[2020-05-04 10:40] gow commented on #536
@RichardKnop could you please take a look at https://github.com/RichardKnop/machinery/pull/539 ?

The DynamoDB plugin could be improved further. I'll get to other parts when I get some time.

[2020-05-04 19:59] #536 closed

[2020-05-09 06:40] shivanshgaur opened #542 "Redis workers quit very slowly"
In addition to issue https://github.com/RichardKnop/machinery/issues/439
I am using v1.7.6, and facing slow shutdown of redis workers when `b.StopConsuming` is called.
I have been able to narrow it down to this piece of [code](https://github.com/RichardKnop/machinery/blob/master/v1/brokers/redis/redis.go#L99-L111) running in a goroutine

[code]
Here the execution seems to be getting stuck in a loo

[2020-05-09 20:56] #542 closed

[2020-05-12 16:20] henripqt commented on #535
Which broker are you using ?

I've faced the same issue using Redis broker and after some digging in the code I've found out that the concurrency is set to 1 if < 1

The documentation however points out that :
[code]

Maybe we should update the documentation

[2020-05-12 19:12] charleswhchan opened #545 "Document Eager backend?"
I searching for a way write e2e tests with Machinery tasks, I came across the eager backend: https://github.com/RichardKnop/machinery/tree/master/v1/backends/eager

Tickets:
- https://github.com/RichardKnop/machinery/pull/29
- https://github.com/RichardKnop/machinery/pull/32
- https://github.com/RichardKnop/machinery/pull/33

I think this is a great feature. However, it is not documented in the RE

[2020-05-14 07:04] flf2ko opened #546 "Possible deadlock when getting connection from redigo pool"
When I tried to do load test to create massive amount of group of tasks, I found it could block at `SendGroupWithContext()` . I found the root cause may comes from get connection from pool twice or more in a function.

for example:
https://github.com/RichardKnop/machinery/blob/master/v1/backends/redis/redis.go#L57-L65

[code]

This function call actually try to get connection twice.
So in some cas

[2020-05-14 14:02] RichardKnop commented on #546
@flf2ko Hi. The solution in your fork looks good. Can you create a PR? :)

[2020-05-15 08:34] icecraft commented on #535
@henripqt  I have faced this too, and post an issue https://github.com/RichardKnop/machinery/issues/529.

[2020-05-15 10:02] mavolin commented on #535
@henripqt I was using the Redis broker as well. I hope they'll allow `0 = infinity` cause max int is kind of ugly.

[2020-05-15 10:32] cdelacruzpinto commented on #497
Are you creating this task in an OnSuccess or maybe from a Chain? When using tasks in chains apparently if you don't mark the task as immutable, the result of the calling task is injected as an additional argument. See #399 just in case this helps you.

[2020-05-18 23:40] charleswhchan opened #548 "[Bug] RedisConfig.NormalTasksPollPeriod does not pick up tasks if value is less than 1 second"
[RedisConfig.NormalTasksPollPeriod](https://github.com/RichardKnop/machinery/blob/468c3e4c2b897e0e71f922226cccd71f8ba4740c/v1/config/config.go#L142) is specified as milliseconds:
[code]

I noticed when the value is set to <1 second, Machinery does not pick up any tasks. eg. when set to 20ms, using Redis WATCH command, I notice machinery will call `blpop "machinery_tasks" "0.02".

Reading the docum

[2020-05-21 11:27] #546 closed

[2020-05-24 02:22] charleswhchan commented on #521
Also consider https://github.com/jasonlvhit/gocron for scheduling periodic tasks.

[2020-05-24 02:26] charleswhchan commented on #509
Related to #521

[2020-05-25 20:22] #548 closed

[2020-05-25 20:55] #535 closed

[2020-05-25 20:55] #529 closed

[2020-05-27 09:59] huangyuezhen opened #555 "How to run a task which calls a function with an io reader as an argument?"
I hava a task  which will call a  utillity  io function. But this function must have andio reader as  its argumnets .  Can I  do that with machinery?
thanks~

[2020-05-28 02:47] huangyuezhen commented on #555
It is my mistake .This is not a question in machinery. Sorry ,it is my wrong cinfg to make this mistake.

[2020-05-28 02:47] #555 closed

[2020-05-30 23:43] charleswhchan commented on #530
Hi @roopakv, I see v1.7.5 had been released on Apr 20:
https://github.com/RichardKnop/machinery/releases/tag/v1.7.5

Could you close this issue? :smiley:

[2020-05-30 23:50] charleswhchan commented on #438
As the PR had been merged. Perhaps this ticket can be closed?

[2020-05-30 23:56] charleswhchan commented on #294
No - Machinery is NOT compatible with Celery.

[2020-05-31 00:41] #530 closed

[2020-05-31 06:29] yolossn commented on #438
Yes! closing this.

[2020-05-31 06:29] #438 closed

[2020-06-01 01:45] MerlinFeng opened #558 "The log output should be customizable"
github.com/RichardKnop/machinery/v1/log/log.go
`logger = logging.New(nil, nil, new(logging.ColouredFormatter))`

The log output should be customizable

[2020-06-01 03:13] charleswhchan commented on #558
@MerlinFeng : Did you see how to specify a custom logger in the README?
https://github.com/RichardKnop/machinery#custom-logger

[2020-06-01 03:18] #558 closed

[2020-06-01 21:29] #413 closed

[2020-06-02 05:23] dxsooo opened #559 "redis broker pop 4 tasks when only one is consuming"
In my case, I got several long tasks and try to run worker in multi machines that subscribe one queue. And I found some of the worker got more tasks than others when the queue is not too long. Ex. 5 tasks and 2 workers (which in 2 machines), 1 may get 4 while the other got 1.

Then I set 1 worker and 5 task in queue, things happened that 4 tasks would pop when only 1 is consuming. It is strange an

[2020-06-03 04:01] wisp888 opened #560 "ResultBackend with mongodb"
Set state pending error: (Unauthorized) not authorized on machinery to execute command { update: \"tasks\", lsid: { id: UUID(\"7f24640f-ae60-4f9f-b3e6-219abe4a1b2f\") }, $db: \"machinery\" }"

why?

[2020-06-03 07:00] #560 closed

[2020-06-05 02:48] anhntbk08 opened #561 "[ERR] Used maximum consumers for a fail task"
When i got a fail job that get retried about 20 times, server uses all consumers (ie 100) for this fail job so other jobs can't be handled.

Any idea or proposal to fix this? I can PR if needed.

Thanks

[2020-06-05 03:25] anhntbk08 opened #562 "[Question] Stop a task right away?"
I got some task that want to stop immediately in some cases but keep return an error (still got some retrycount). Is there any way to do that?

[2020-06-06 03:00] anhntbk08 commented on #561
Screenshot:
![Screenshot from 2020-06-06 09-57-29](https://user-images.githubusercontent.com/2239780/83934591-6fe2ce00-a7dc-11ea-8e04-0468a4327e9b.png)

[2020-06-06 12:30] tarunwadhwa13 opened #563 "[Question] Calling Task without server"
Is it possible to trigger a task without using machinery worker? The JSON mentioned in the README docs was pushed as is to a Rabbitmq queue but worker is raising null pointer exceptions while executing the tasks !!

[2020-06-06 23:52] charleswhchan commented on #563
If I understand your question: you want to be able to test your task without invoking queue/worker?

Since [tasks](https://github.com/RichardKnop/machinery#tasks) are just defined as regular functions, they call be called directly as well to test/debug the implementation. This might help you isolate issues with [Registration](https://github.com/RichardKnop/machinery#registering-tasks),  [Signature

[2020-06-07 00:04] charleswhchan commented on #399
Docs updated. See #339.

[2020-06-07 00:09] charleswhchan commented on #287
The easiest solution is to log a message in your task, or use [TaskResult](https://github.com/RichardKnop/machinery#keeping-results)

[2020-06-07 03:24] tarunwadhwa13 commented on #563
Thanks for the reply :) but it isn't about testing !!

We have a golang application with machinery workers running for processing all the events generated. Events are actually present in a RabbitMQ. The producers generating events are NOT in golang hence cant implement machinery servers.
Producers just dump the event in RMQ in a specified format !!

Wanted to understand if it's possible to create

[2020-06-07 04:09] charleswhchan commented on #563
I see what you mean. Interesting concept. Unfortunately it is not something I had experience with.

Comparing the JSON format in the README against [tasks.Signature](https://github.com/RichardKnop/machinery/blame/master/v1/tasks/signature.go), I can see newer changes in the struct. I suspect the README might not be the most up to date.

You might want to have a look at https://github.com/RichardKn

[2020-06-08 05:41] tarunwadhwa13 commented on #563
Thanks for the quick response @charleswhchan
I tried creating a machinery server to check the JSON packet created. Strangely, machinery worker is giving segmentation fault even for message created by machinery server which certainly means that there is some issue in my setup instead.

1) The task gets registered successully
2) Task is received by the worker and worker prints "Received New Message"

[2020-06-08 08:27] anhntbk08 commented on #561
I found the issue, normally if your task is not acknowledged within "Acknowledgement deadline" (range from 10 to 600s) google will resend the message. Should be a configuration for maximum interval time for fibonacciNext or fixed retry time.

[2020-06-08 08:27] #561 closed

[2020-06-08 08:29] #562 closed

[2020-06-08 12:48] #399 closed

[2020-06-09 04:05] wisp888 opened #566 "how to cancel pending task?"
RTRT

[2020-06-09 08:25] LouAdrien opened #567 "Proposal : handle workflows from the server?"
Hi, thanks for creating and maintaining machinery.

We are currently trying to develop SDKs in other languages for v1 (Python and R) to be able to interact with the job queue. But we have had to re-implement the workflow handling logic in all these languages as machinery currently relies on the worker to setup following jobs with the workflow. So the question is : would it be an anti pattern to re

[2020-06-09 19:17] evandroferreiras commented on #442
Thank you @CatchZeng ! I was sad thinking because I was thinking that I would had to use the yaml file.

[2020-06-12 03:34] #532 closed

[2020-06-15 07:24] vincenthcui commented on #567
Hi Adrien, I don't think server implement on other languages is necessary. A lightweight client which can send tasks or fetch task results is better on other languages, and you can keep tasks run on machinery worker itself.

[2020-06-15 12:15] vincenthcui commented on #566
What's your situation to cancel pending task?

[2020-06-18 18:56] NicolasWalter opened #569 "Concurrency ignored for delayed tasks using redis as broker"
### Summary
I was reading the workers code for consuming redis tasks, and I found that there is a worker pool, used only by not-delayed-tasks workers: https://github.com/RichardKnop/machinery/blob/master/v1/brokers/redis/redis.go#L104

Here is the code for delayed ones: https://github.com/RichardKnop/machinery/blob/master/v1/brokers/redis/redis.go#L129

### Question
Is this the expected behavior o

[2020-06-20 06:56] yap-studios opened #570 "Redis SSL"
Good day,

Is there a reason why redis connection strings that starts with **rediss**:// instead of redis:// are not supported for the factories?

[2020-06-21 02:51] charleswhchan commented on #570
The factory currently looks for the prefix "redis://": https://github.com/RichardKnop/machinery/blob/master/v1/factories.go#L41

Looking at the underlying Redis libraries, both of them supports `rediss://`:
- redigo https://github.com/gomodule/redigo/pull/208
- go-redis https://github.com/go-redis/redis/pull/420

It should be pretty easy to modify the factory to support this. Want to give this a t

[2020-06-21 06:21] yap-studios commented on #570
Okay. Yeah I'll give it a try today.

[2020-06-22 10:21] yap-studios commented on #570
@charleswhchan, I've submitted a PR. Could you please review it? Thanks.

[2020-06-22 23:18] charleswhchan commented on #570
Yeah. PR looks reasonable to me.

[2020-06-23 05:43] yap-studios commented on #570
Great, thanks. Do you have a timeline of when you'll be able to merge it? We are preparing to go into production.

[2020-06-23 17:08] charleswhchan commented on #570
@yap-studios : sorry but I don't have permission. Please check with @RichardKnop. 😃

[2020-06-24 07:25] biplab-dholey opened #572 "Facing problem in installing the module"
# google.golang.org/api/internal
vendor/src/google.golang.org/api/internal/conn_pool.go:29:2: undefined: grpc.ClientConnInterface
# cloud.google.com/go/iam
vendor/src/cloud.google.com/go/iam/iam.go:73:4: unknown field 'Options' in struct literal of type iam.GetIamPolicyRequest
vendor/src/cloud.google.com/go/iam/iam.go:134:29: undefined: grpc.ClientConnInterface

[2020-06-24 08:44] LouAdrien commented on #567
Thx for your answer @vincenthcui . From a development perspective, it can get very cumbersome if the task need to be wrapper in a golang task to be ran everytime. IMO for the dev lifecycle around machinery (or any other job queue system) to be sane, SDK should be available in all the language that want to interact with the queue.

FYI here is a tentative python implementation : https://github.com/

[2020-06-24 08:45] #572 closed

[2020-06-24 10:09] vincenthcui commented on #567
pymachinery looks like a copy of machienry on python, I think it repetitive work, but nice try :)

[2020-06-27 12:00] yap-studios commented on #570
@RichardKnop, Do you have any plans to merge the PR?

[2020-06-29 07:59] huangyanhong opened #573 "when can suport rocketmq"

[2020-06-29 21:11] nickfiacco-bolt opened #574 "Throttle/rate limit a specific task"
Since the machinery design intends for multiple tasks to be placed in the same queue, it isn't possible to simply limit how often tasks are pulled from the queue. Instead, it would be nice to support task-specific rate limiting (i.e. only X concurrently running tasks of type A) by pushing tasks back onto the queue if there limit is hit.

[2020-06-30 04:00] sljeff opened #575 "`cloud.google.com/go/pubsub` version need update"
`google.golang.org/grpc v1.30.0` has removed `google.golang.org/grpc/naming` module. `cloud.google.com/go/pubsub v1.2.0` imports `google.golang.org/api@v0.19.0`, and still using `google.golang.org/grpc/naming`.

I use another lib update to `google.golang.org/grpc v1.30.0`, then I got:

[code]

[2020-06-30 20:28] #570 closed

[2020-07-06 02:55] sljeff commented on #575
https://github.com/RichardKnop/machinery/pull/576

[2020-07-06 02:55] #575 closed

[2020-07-11 06:01] mohammadrezza opened #578 "Tasks won't consume by workers when scaling in kubernetes"
I am developing a service that uses machinery for task queue with redis. When I scale my service into 2 or more instances with the same default  queue, workers won't do the jobs. I fixed this problem with adding a [short id](https://github.com/teris-io/shortid) to default queue after reading config and before starting a new server for every instance of my service when they are initializing machine

[2020-07-13 21:04] #471 closed

[2020-07-14 13:14] dxsooo commented on #578
maybe same problem with #559 ? You can boot up 2 worker and insert many tasks in queue to check this

[2020-07-15 12:48] dxsooo commented on #559
thanks @jelech , it may solve my problem.

[2020-07-15 21:36] opolstianko opened #581 "[Question] Setting log level"
Hey, can you please advise on how to set log level for default logger?

[2020-07-16 08:23] toet251 commented on #520
any solutions for this ? :(

[2020-07-16 12:27] blanet commented on #528
+1，both `github.com/go-redis/redis` and `github.com/gomodule/redigo` have supported go module in their new version, we should follow up!

[2020-07-16 13:06] #528 closed

[2020-07-18 21:16] yap-studios commented on #578
@mohammadrezza, I'm using kubernetes and I can scale quite fine without the workaround you mentioned. Can you post a snippet of how you spin up your machinery service?

[2020-07-22 10:15] CodingSinger opened #585 "Why not directly use the zpop command to implement nextDelayedTask in redis broker?"

[2020-07-29 00:43] timestee opened #586 "Seems not reliable enouth when using redis as broker"
Redis broker just using POP to get task from list, if the worker crashed, we will lost the task?

[2020-07-29 04:58] timestee commented on #153
Is there any update? I still have this issue too.

[2020-07-29 05:23] timestee opened #587 "got panic: close of closed channel when using mutiple worker"
I run the multiple workers in the different routines, got panic when shut down the server : `panic: close of closed channel`
[code]

https://github.com/RichardKnop/machinery/blob/5d814a44027f78f19f32501122052590fdf14837/v1/worker.go#L129-L132

Each queue can only have one worker? Just use `concurrency` to  increase throughput?

[2020-08-03 12:14] vincenthcui commented on #587
I think yes. Machinery DON'T support multiple worker in one server.
A worker has its own main loop, starts consuming, listens system signals and exits when received SIGTERM and SIGINT. Worker can't work with others, the way you go may cause go-routine leaks when one worker exited and other not.
If you want increase throughput, just run as many copy you want in one or many nodes.
May this helps.

[2020-08-03 18:00] gadelkareem opened #588 "Any plans for Postgres broker?"
Any plans for Postgres broker?

[2020-08-05 21:05] vovanec opened #589 "Cannot use custom error for retries"
Looks like if I want error to be retried it must be exactly of ErrRetryTaskLater type which is not always acceptable as I may prefer using other error types in my own code.

Machinery doc says: "Retriable is interface that retriable errors should implement", but this does not look right as I cannot just make any error type that implements Retriable interface retriable .

Could it be done in a way

[2020-08-07 02:06] vovanec commented on #589
Actually, after a little more thinking, I am not sure whether providing this sort of flexibility is better than what we have today. Retriable interface (with RetryIn() time.Duration method) seems to be very common pattern so adding this fix may result in unwanted regressions for existing customers.

Maybe current implementation when only specific type ErrRetryTaskLater is retried is better and mor

[2020-08-09 03:45] shallowclouds commented on #581
the logger is just a interface, how to set log level for default logger depends on what logger you are using.
logrus for example:
[code]

[2020-08-09 03:49] shallowclouds commented on #520
maybe you can use machinery/v1/log/Set(l logging.LoggerInterface)?

[2020-08-09 03:58] shallowclouds opened #591 "[Question] machinery V2 roadmap"
is there any V2 roadmap or plan doc?

[2020-08-12 16:01] pfortin-urbn commented on #50
I think this should be opened and put on the roadmap.

[2020-08-21 06:14] bastengao opened #592 "error handler need task signature"
Current [error handler](https://github.com/RichardKnop/machinery#error-handling) only have error, but no task signature. Don't know which task failed. It's better to supply task signature for error handler.

[code]

[2020-08-21 10:41] karthikcru opened #593 "Finding whether the worker where a task is running is alive or not"
Also lets say when a worker crashes, due to a non graceful shutdown all the tasks. The tasks in the backend would still be in started state.

The asyncResult is still tracking a task which is STARTED state and the worker running the task has crashed

Is there a way to get all the workers with ID, so in the server we can look at tasks which are in STARTED state but not running on any of the availab

[2020-08-23 15:19] gadelkareem opened #594 "Is there a memory broker?"
Since Golang already provides goroutines and channels. Is there a way to have a memory broker for development that only works with native Golang goroutines?

[2020-08-25 15:35] oXis opened #596 "Mongodb backend error with tasks returning json output"
Hi,

I have some tasks that return a `string` that actually is of `json` format. For example, the return value can be
`{"success":true,"unique_id":"92020-08-25-15-15-20-603-f8cf20c6-cb81-47b9-b8ac-7601c76e40f8"}`

The issue is when mongodb is used for backend result, when trying to get a task result back, with this code for example.
[code]
I have an error reporting
`Getting task result failed with

[2020-08-28 04:17] wjh000123 commented on #569
the same problem here, the consumption is too slow...

[2020-09-11 07:13] mkloveyy opened #598 "Will machinery support periodic task in future？"
Same as celery beat.（I use cron instead right now）

[2020-09-22 01:20] #531 closed

[2020-09-25 07:34] wo9999999999 opened #600 "ResultsExpireIn in redis?"
why it doesnt work?

[2020-09-25 10:43] wo9999999999 opened #601 "Error = reflect: call of reflect.Value.Int on zero Value"
i have a function which work fine without using the machinery
but with machinery, it return
ERROR: 2020/09/25 18:33:52 worker.go:372 Failed processing task task_5aee0c09-efb2-4d14-9957-12f26fb03430. Error = reflect: call of reflect.Value.Int on zero Value

my code is something like that
r := reflect.ValueOf(convertedPrice.Prices)
f := reflect.Indirect(r).FieldByName("USD")
fmt.Println(f.Int())

[2020-09-25 10:47] #601 closed

[2020-09-25 10:47] wo9999999999 commented on #601
my problem sorry

[2020-09-25 19:16] FullStackYvette opened #602 "How am able to check the status of worker"
I am currently working on the including a metric for the launched worker to check how workload have it been picked from queue. Is there anyway i can check the status of worker like. (the number of task has been processed, which task has been picked and so on)?

[2020-10-14 13:28] lunemec opened #606 "Server.registeredTasks is not safe for concurrent access from multiple goroutines."
Hi, I was looking into using machinery in my project, but when I checked if it supports my use-case, I ran into this:

[code]

[code]

The methods for registering tasks and reading tasks are not safe to be called from multiple goroutines. My use-case was to add tasks from pub/sub handler or http API, which may call these methods concurrently and read/write into the hashmap. This would result in da

[2020-10-19 07:48] KarlTango commented on #598
it was supported now

[2020-10-19 10:13] RichardKnop commented on #598
This was merged yesterday: https://github.com/RichardKnop/machinery/pull/534

[2020-10-19 10:13] #598 closed

[2020-10-23 12:15] Kamforka opened #610 "Cannot create server with redis broker and backend due to "Factory failed with lock:""
For some reason I cannot create a `machinery` server with Redis backend and broker.
This is the snippet I'm using:

[code]

When I run it I get the following error:
[code]

The redis instance is running in on my host inside a docker container, and I verified that it is functional as I can retrieve keys, set and get values etc.

Any clues what can cause the issue?

---
*System Info:*

- Ubuntu 20.0

[2020-10-23 13:33] RichardKnop commented on #610
Will fix, thanks for spotting.

[2020-10-23 13:39] #610 closed

[2020-10-24 18:53] RichardKnop commented on #606
@lunemec Could you submit a PR to fix this issue? Thanks for spotting this problem.

[2020-10-25 20:37] agvol opened #612 "Periodic tasks: not requeued"
v1.9.5

I want to run periodic task every 2 minutes
`err = server.RegisterPeriodicTask("*/2 * * * *", "periodictask", periodicSignature)`

output after start server:
[code]

now:
[code]

and nothing else:(

the task must be running every 2 minutes, but nothing else is happening

[2020-10-26 09:53] KarlTango commented on #612
Can you provide more details on reproduction。

[2020-10-26 10:06] KarlTango commented on #612
not reproduce for this demo: [https://gist.github.com/KarlTango/e868feb9de61b6c72e054f5bbe376944](url)

[2020-10-26 13:02] KarlTango commented on #594
It was supported with "eager" broker.

[2020-10-26 13:09] gadelkareem commented on #594
so is it still available? I cannot find it in the docs

[2020-10-26 14:41] RichardKnop commented on #612
@agvol Have you configured redis lock? https://github.com/RichardKnop/machinery#lock

[2020-10-26 14:42] RichardKnop commented on #594
It should still work, use `eager` broker and backend configuration and everything will be handled in memory.

[2020-10-26 15:30] agvol commented on #612
Hmmm, no,
is it required for periodic tasks?

I use simplest config for server
[code]

[2020-10-26 15:41] agvol commented on #612
@KarlTango my code is very simplest, this is my first steps in Go(just for fun)

Redis version:  5.0.7

[code]

[2020-10-26 19:12] agvol commented on #612
@RichardKnop
I found your message in the source code
https://github.com/RichardKnop/machinery/blob/master/v1/factories.go#L239

 I added a parameter, now it working, thank you for helping!

[code]

[2020-10-26 20:00] #612 closed

[2020-10-27 07:07] 1259010439 opened #613 "Why do we only get to do regular missions once"
var(
	ATC *machinery.Server
)

func init()  {
	println(1)
	tc,err := NewWorker()
	if err!=nil{
		panic(err)
	}
	ATC = tc
	SetTimingTask()
}

func SetTimingTask()  {
	println("SetTimingTask.....")
	args := make([] tasks.Arg,0)
	taskconf,_ :=tasks.NewSignature("hello",args)
	if err := ATC.RegisterPeriodicTask("*/1 * * * ?", "eager_test" , taskconf);err != nil{
		panic(err)
	}
}

[2020-10-27 07:11] KarlTango commented on #613
@1259010439  may be the same reason like: [https://github.com/RichardKnop/machinery/issues/612#event-3922578709](url)

[2020-10-27 08:06] 1259010439 commented on #613
Can only recurring tasks use redis as broker？

[2020-10-27 10:33] 1259010439 opened #614 "Why would a periodic task created using Rabbitmq as a broker delay execution twice as long？"
Rabbitmq as a broker
`package main

import (
	"github.com/RichardKnop/machinery/v1"
	"github.com/RichardKnop/machinery/v1/config"
	"github.com/RichardKnop/machinery/v1/log"
	"github.com/RichardKnop/machinery/v1/tasks"
)

// Add - make sum
func add(args ...int64) (int64, error) {
	// make sum
	sum := int64(0)
	for _, arg := range args {
		sum += arg
	}
	return sum, nil
}

// periodic task
func peri

[2020-10-27 11:14] KarlTango commented on #613
你可以使用任意的broker。但是分布式锁当前只支持了redis

[2020-10-27 12:42] 1259010439 commented on #613
原来可以中文提问呀。但是我使用rabbitmq作为broker启动的定时任务会有问题，
[code]
比如这种使用redis的话就是正常的1分钟执行一次，但是使用rabbitmq的话就会变成2分钟执行一次。

[2020-10-27 14:12] KarlTango commented on #613
Check if you run both scripts (with redis broker and with rabbitmq broker) at the same time. If their lock config is the same, one of them may be failed to require the lock. If it not help. Can you paste your config and code as the issue I mentioned in my first comment done .
检查一下你是否同时运行了两个脚本（redis and rabbitmq）。如果他们的lock config一样的话，他们之间可能会有锁冲突。如果还是不能解决问题的话。可以仿照我第一条回复里提到的issue，贴一下你的配置和代码。

[2020-10-27 18:10] agvol commented on #614
JFYI @1259010439

do not use "*/1 * * * *" because it confuse

better use "* * * * *"

[2020-10-28 06:48] nicklaros commented on #592
I also need this, so I create PR here #615, hopefully it will get accepted.

cc @RichardKnop

[2020-10-28 09:10] KarlTango commented on #588
It seems not a good idea. Database and schema need to be created in PG before someone can spin up the machinery service.
And how frequently to poll the PG is another problem.

[2020-10-28 09:13] gadelkareem commented on #588
The SQL schema can be included in a .sql file with the repo. There is a full example of queueing on Postgres here https://github.com/bgentry/que-go

[2020-10-28 09:53] KarlTango commented on #588
[que-go poll the PG one time per 5 sencod](https://github.com/bgentry/que-go/blob/e3507e2a8b09b00da26841d897b45ba0c41c4ba3/worker.go#L89) . It' may be too late for some task.

[2020-10-29 06:42] KarlTango commented on #614
I can't reproduce this issue.

[2020-10-29 08:45] gadelkareem commented on #588
There is a fork up to date I created here https://github.com/gadelkareem/que

[2020-11-06 04:17] anhdowastaken commented on #569
I have same opinion

[2020-11-08 18:32] RichardKnop commented on #569
@NicolasWalter would you like to make a PR for this? I might not have to fix this in very near future so if it's critical it would be best to submit a PR.

[2020-11-09 10:50] jrdnull commented on #566
https://github.com/RichardKnop/machinery/issues/274

[2020-11-12 01:56] NullYing commented on #274
PurgeState is not a good idea, I hope create a new state, such as REVOKED

[code]

[2020-11-13 17:35] thaitanloi365 opened #617 "Upgrade grpc-go to latest version, v1.33.0 was removed"
Currently, v1.33.0 was removed so I couldn't install this package on the latest version
Please upgrade grpc-go to the latest version (v1.33.2).

[2020-11-16 08:57] archerbj opened #619 "Chord task with redis backend raise nil pointer panic"
I am using RabbitMQ as a broker and Redis as the backend to run the example code.

Here is the server setup code

[code]

When the code runs to send a chord task, the worker raised this error

[code]

It seems the `NewGR` method never instantiate `redsync`

[2020-11-16 11:22] RichardKnop commented on #619
@archerbj Could you submit a PR with a fix?

[2020-11-18 13:20] vincenthcui commented on #619
@archerbj  I have submitted PR #620 which solve the problem and passed tests, I hope it will work for you :)
@RichardKnop would you please help review the pull request, and evaluate the side effect

[2020-11-18 22:00] mrz1836 opened #621 "Question: How do you remove a period task lock?"
I noticed that after setting up `periodic tasks`, there are redis keys that stick around:

[code]

[2020-11-19 03:21] NitroCao opened #622 "SendTask will block forever when specific worker is offline"
As the title mentioned, if a specific worker is offline, the SendTask method will block forever.
I found the SendTaskWithContext method, but when I used a context.WithTimeout, it still blocks. Then I saw `SendTaskWithContext will inject the trace context in the signature headers before publishing it` in the doc.
So how can I let SendTask method return after the timeout?

[2020-11-19 18:35] vincenthcui commented on #622
@NitroCao Different broker act different behavior when `SendTask` called. Can you supply which broker you are using for further test.

[2020-11-20 00:40] NitroCao commented on #622
Thanks for your reply. I'm using Redis.

[2020-11-22 18:38] mrz1836 opened #625 "Redis related error after upgrading machinery library to v1.9.8"
Error:

[code]

[2020-11-22 18:44] mrz1836 commented on #625
Mods:
[code]

[2020-11-23 08:20] NitroCao commented on #622
@vincenthcui Any progress? Or could you pls tell me which broker works fine with `SendTaskWithContext`?

[2020-11-23 19:16] RichardKnop commented on #625
@mrz1836 I am working on a hot fix: https://github.com/RichardKnop/machinery/pull/626

[2020-11-23 21:03] #625 closed

[2020-11-23 21:51] mrz1836 opened #627 "Redis type issue still persists in v1.9.9"
Upgraded to new version `v1.9.9` and got the same error as previous issue #625

[code]

From Code:
<img width="531" alt="Screen Shot 2020-11-23 at 4 50 37 PM" src="https://user-images.githubusercontent.com/3743002/100019436-09fafa80-2dac-11eb-9375-b84e13d52438.png">

Mods:
[code]

[2020-11-23 22:01] mrz1836 commented on #627
@RichardKnop sorry but the issue still persists for the backend interface (redis)

[2020-11-23 22:51] RichardKnop commented on #627
Does example integration work for you?

[code]

[code]

[2020-11-24 05:10] vincenthcui commented on #622
machinery server talk directly with broker, not worker. So SendTaskWithContext DO NOT block regardless workers is up or down.

[2020-11-24 14:02] mrz1836 commented on #627
Sorry I haven't tried that, I'll have to fork the project and try. Right now I am using the project via another repo, and just updated the packages and it breaks using redis as a backend.

[2020-11-24 14:21] mrz1836 commented on #627
Should I be using V2 or V1?

I was using V1 in my other projects

[2020-11-24 14:24] mrz1836 commented on #627
v1 still has the issue:

Running go mod update results with:
[code]

[2020-11-24 16:59] RichardKnop commented on #627
I can't replicate this issue. I have added example scripts using v1:

[code]

And can't reproduce the error.

There is no functional different between v1 and v2 right now. The only difference is v2 uses DI to pass specific broker / backend objects to the server instance, this means you don't need to import dependencies for all brokers and backends you are not using. So it is more lightweight but s

[2020-11-25 02:28] vincenthcui commented on #627
@mrz  I think you don't update your go mod dependencies. Run `go mod update` plz, if it not works, run `go mod graph` and report the output here.

[2020-11-25 09:57] notech opened #629 "redis client need type assertion"
vendor/github.com/RichardKnop/machinery/v1/backends/redis/goredis.go:57:43: cannot use b.rclient (type "github.com/go-redis/redis/v8".UniversalClient) as type *"github.com/go-redis/redis/v8".Client in argument to goredis.NewPool: need type assertion

please change
[code]

to

[code]

[2020-11-25 09:58] notech commented on #629
github.com/RichardKnop/machinery v1.9.9

[2020-11-25 10:35] RichardKnop commented on #629
Can you post steps to replicate the issue? I cannot reproduce it in latest build. I test by running example integration:

[code]

[2020-11-25 14:19] mrz1836 commented on #627
Well I just cleared all the gomods out, updated from scratch and still get:
[code]

[2020-11-25 14:20] mrz1836 commented on #627
go mods:

[code]

[2020-11-25 14:21] mrz1836 commented on #627
Output from `go mod graph`

[code]

[2020-11-25 14:40] mrz1836 commented on #629
Maybe related to #627

[2020-11-26 01:22] NitroCao opened #631 "cannot deal with redis password which contains special characters"
When the password of redis contains special characters such as `redis://redis%40123@10.16.1.10:6379`, `r.rclient.SetNX` method would fail, and the value of err is `ERR invalid password`:
[code]
It seems that in the `New` method of `Lock` struct, the code just takes the encoded password https://github.com/RichardKnop/machinery/blob/7b012bbc68b296e51998fd1e9cffe2ed299f9095/v1/locks/redis/redis.go#L3

[2020-11-26 03:08] notech commented on #627
same issue.

[2020-11-26 08:42] vincenthcui commented on #629
In order to fix #619 , I use a un-merged pull request to create redsync from UniversalClient, see https://github.com/RichardKnop/machinery/commit/3965cbfc2e20a4dccd4a1a346305d2f000b6cb9d. And use replace statement in `go.mod` file, to use an un-merged pull. It seems you don't update your dependencies.

[2020-11-26 08:42] vincenthcui commented on #627
In order to fix #619 , I use a un-merged pull request to create redsync from UniversalClient, see 3965cbf. And use replace statement in go.mod file, to use an un-merged pull. It seems you don't update your dependencies.

[2020-11-26 11:32] fletcherist commented on #629
I just can't install the library. Here's what i'm doing
[code]

[2020-11-26 14:04] mrz1836 commented on #627
@vincenthcui I update the gomods frequently, and I've rebuild the gomods from scratch to still get the same result.

[2020-12-01 03:47] kougazhang commented on #324
Nsq is not good to handle slow consumer. One message will requeue if consumer last 15 minutes.
So it may be not a good idea to use nsq in  machinery.
See [Related issue](https://github.com/nsqio/go-nsq/issues/204)

[2020-12-01 07:10] hj24 commented on #627
same issue here.

[2020-12-02 18:02] RichardKnop commented on #627
@mrz1836 @hj24 Can you try with latest release?

Updated redsync to new version which contains this fix: https://github.com/go-redsync/redsync/pull/63

Could potentially help.

[2020-12-02 19:59] mrz1836 commented on #627
@RichardKnop  The latest release is 2.0.1 which now requires all import paths to use `/v2/` since Go treats it as `v2` - so it will take some time to test :-/

[2020-12-04 12:19] f-ld commented on #559
I can see that the change from @jelech has been reverted and I have this issue as well (on 1.9.7 because of #629)
- start 2 workers
- push 10 tasks (doing a "sleep 30" for ex) with ID from 0 to 9
- observe that both workers are processing task 0 and 1
- restart one of the brokers
- restarted broker does nothing. The other broker finishes task 1 and then runs tasks 3/5/7/9

I see 3 problems:
- ongo

[2020-12-06 22:40] RichardKnop commented on #627
Should be fixed in https://github.com/RichardKnop/machinery/releases/tag/v1.10.0

[2020-12-06 22:40] #627 closed

[2020-12-16 09:48] cheungpat commented on #613
From what I understand it, the redis lock is able to expire the lock after a timeout, but the eager lock does not.

https://github.com/RichardKnop/machinery/blob/957e7e8e4f74adaeb531eb8888cc1df22bf0974e/v1/locks/eager/eager.go#L51

The existing timeout value in the map is not compared. Hence if you use eager lock, periodic tasks are only run once, as subsequent runs will not be able to acquire the

[2020-12-16 12:29] xxxyangyu opened #633 "issue on"

[2020-12-18 07:31] JinXinAuzn opened #636 "多个队列导致一个任务执行两次"
多个队列导致一个任务执行两次

[2020-12-18 07:33] JinXinAuzn commented on #633
我也遇到此类问题

[2020-12-23 16:03] pjmuller opened #637 "How to process tasks on different workers without knowing the routing key (on a single REDIS instance)"
Hi,

first of all, amazing module! Works very well on a single worker in my current setup :).
Today I wanted to go to the next step and let separate `go` processes talk to each via machinery over one shared redis instance.

However I don't understand how the **default routing** works when you don't pass a `signature.RoutingKey` and have overlapping `DefaultQueue`'s.  Let me give a dummy example, i

[2020-12-23 16:46] pjmuller commented on #637
Possibly naive idea, what I register one server per task and give it the same `DefaultQueue` as the `taskQueue` it will accept?
Like that process 2 doesn't need to know about the Routing Key (as it's the same as the taskQueue)

However I'm not sure about the downsides of having +- 30 `servers` running on one process. Most likely they will all have a **separate** redis connection (to the same serve

[2020-12-24 02:32] #636 closed

[2020-12-26 07:47] WholestackThe opened #638 "task"
I hope there is a function to delete delayed tasks

[2020-12-29 21:12] vrazdalovschi commented on #638
@WholestackThe take a look ->  https://github.com/RichardKnop/machinery/issues/274

[2020-12-29 22:08] vrazdalovschi opened #639 "Chain workflow tasks ids not found"
GetState works only for the first task immediately after creation, not for all of them.

* Broker: Redis
* Result:  Redis

Steps to reproduce:
1. Disable broker
2. Create a chain of 3 tasks
3. Get result for second and third task.

Error Result: `redigo: nil returned`

It looks, that each task is registered after processing the precedent. I also tried to use groupId to retrieve somehow the status,

[2020-12-29 22:13] vrazdalovschi opened #640 "Retry Tasks tasks.NewErrRetryTaskLater ignores the RetryCount"
Task signature has:

* RetryCount
* RetryTimeout

When I combine them both, the machinery works fine, task are retried the right number of times.
Unfortunately, when I return the `tasks.NewErrRetryTaskLater`, RetryCount is ignored and task will be retried forever.

From the task we don't have access to the current attempt, so it looks like a bug. If RetryCount is only for RetryTimeout, then we sho

[2021-01-03 18:01] siredwin opened #642 "Concurrency and prefetch_count for unlimited workers."
Question related  to [this one](https://github.com/RichardKnop/machinery/issues/170)
I have short-running tasks and really long-running tasks.
Short tasks can take seconds to complete while long tasks can take several hours.
My worker is as follows   `server.NewWorker("machinery_worker", 0)`.
In the past, my prefetch_count was set to `prefetch_count: 20`.
It worked ok but not great.
**My plan is t

[2021-01-06 02:01] welllog opened #643 "consume throw error, but task and delaytask distribution won't stop"
in redis broker, when consume function produces an error,StartConsuming will return, but the task and delaytask goroutine will always run, not to mention the loss of messages

[2021-01-19 12:14] NitroCao opened #644 "RegisterPeriodicChain would lose original OnSuccess Handlers"
Line49 In the `NewChain` function, user-configured `OnSuccess` handlers will be lost:
https://github.com/RichardKnop/machinery/blob/6204eb914b69affb0ffd37d8fdd387e917702d59/v1/tasks/workflow.go#L38-L56
The correct way is to append signatures to `OnSuccess` instead of overriding it.

[2021-01-20 04:52] lostsnow opened #645 "support second for periodic task"
Currently PeriodicTask use `standardParser` for schedule, wihch only support to minute, it is useful to support custom cron parser

[2021-01-20 11:24] karthikcru commented on #498
maybe a wrong answer

[2021-02-02 08:18] MikeLing commented on #633
The repeated tasks still exists

[2021-02-02 19:53] hardlyknowem opened #647 "Cannot reference v1.10.1 in `go.mod`."
Recent changes to `go.mod` seem to have broken imports.

[code]

(Similar errors occur when trying to use "machinery" without the v1.)

In addition, pkg.go.dev also reports that [the go.mod file is invalid](https://pkg.go.dev/github.com/RichardKnop/machinery). (If you go into the v1 subdirectory, it still thinks 1.10.0 is the latest.)

The error seems to be introduced by https://github.com/Richard

[2021-02-02 21:24] mrz1836 commented on #647
My build just failed as well

[code]

[2021-02-02 22:33] dubs3c opened #648 "Question: Possible to enhance workflows?"
I want to build a workflow that resembles a directed graph.

Let's say we have 4 tasks: A, B, C and D. Task A starts and when it finishes, it will trigger task B and C which will also consume the result of task A. B and C runs in parallel. When the 2 tasks are done, task C  will kick of the final task D. When all tasks are done, the final state should be "SUCCESS", assuming it went well.

It does

[2021-02-05 02:46] iiiusky opened #649 "go get github.com/RichardKnop/machinery/v1: module github.com/RichardKnop/machinery@upgrade found (v2.0.4+incompatible), but does not contain package github.com/RichardKnop/machinery/v1"
go get github.com/RichardKnop/machinery/v1: module github.com/RichardKnop/machinery@upgrade found (v2.0.4+incompatible), but does not contain package github.com/RichardKnop/machinery/v1

[2021-02-05 03:06] iiiusky commented on #649
`➜ go get github.com/RichardKnop/machinery/v2
go: downloading github.com/RichardKnop/machinery/v2 v2.0.4
go: github.com/RichardKnop/machinery/v2 upgrade => v2.0.4
go: finding module for package github.com/RichardKnop/machinery/v1/locks/iface
go: finding module for package github.com/RichardKnop/machinery/v1/log
go: finding module for package github.com/RichardKnop/machinery/v1/tracing
go: finding

[2021-02-05 03:16] raphaelreyna opened #650 "Unable to build v1"
For some reason, Go throws an error saying that the redis Calls in /v1/locks/redis/redis.go expect a context, but none is being passed.

[2021-02-05 03:18] raphaelreyna opened #651 "Unable to build example"

[2021-02-05 18:35] dubs3c commented on #648
This is not possible as of yet, closing.

[2021-02-05 18:35] #648 closed

[2021-02-05 18:56] RichardKnop commented on #651
Can you try with the latest release? Sorry, my changes to go modules caused this issue.

[2021-02-05 18:56] RichardKnop commented on #650
Can you try with the latest release?

[2021-02-05 18:57] RichardKnop commented on #649
Can you try with the latest release? Sorry, my changes to go modules caused this issue.

[2021-02-05 18:57] RichardKnop commented on #647
Can you try with the latest release? Sorry, my changes to go modules caused this issue.

[2021-02-05 19:11] raphaelreyna commented on #651
No worries, and yeah it seems to be working now! (same goes for #650)

[2021-02-05 19:11] #651 closed

[2021-02-05 19:11] #650 closed

[2021-02-05 22:36] mrz1836 commented on #647
Works now thanks!

[2021-02-06 14:38] iiiusky commented on #649
I will try tomorrow

[2021-02-06 19:29] #647 closed

[2021-02-06 19:33] #649 closed

[2021-02-08 08:51] JordyMoos opened #653 "Lose periodic tasks after app reload"
The periodic tasks seems not be persisted and lost when I restart the app. Could the periodic tasks be persisted and be processed until explicitly stopped?

[2021-02-08 10:56] shallowclouds opened #654 "Is there a way for broker to know which task is failed?"
I wrote a rocketMQ broker, and add some metrics logic in it, so i can know the failure ratio of every task, task latency, etc.

But it seems there is not a way for broker to know which task is failed, worker.Process did not pass the error returned by tasks to broker,

![image](https://user-images.githubusercontent.com/15541038/107210545-3f27f800-6a3f-11eb-9130-77434185eda1.png)
![image](https://us

[2021-02-10 07:51] cliedeman commented on #649
For me `go get github.com/RichardKnop/machinery` installs `v1.10.2`

and trying to manually change to `v2.0.5` results in the following error

[code]

[2021-02-10 08:47] #653 closed

[2021-02-20 07:40] daihu commented on #645
我也遇到这个问题

[2021-02-24 12:10] julianbaj opened #657 "Is it possible to use Sentinel (high availability for Redis) with Machinery?"
I am trying to make machinery to work with 3 Redis in HA controlled by 3 Sentinels. Currently, I am trying to set the config for the new server with the master name.

[code]
redisConf.RedisIP = 1.1.1.1:26379 // one IP of the three Sentinel nodes

In the documentation, unfortunately, I have not found any reference of how to configure machinery to work with Sentinel,
Is there any way to make machine

[2021-02-26 06:07] Lucas9591 opened #658 "Support redisgo"
In Go,redisgo is used a lot. Can you support redisgo

[2021-02-26 13:44] rosstimothy commented on #442
This is a result of https://github.com/kelseyhightower/envconfig/issues/113.

Config populates all pointers to their zero value instead of nil. As a result machinery always attempts to use AMQP.

[2021-03-02 01:16] rosstimothy opened #659 "v2 init eager mode"
v1 has the following at the end of `NewServer`

[code]

v2 seems to be missing the equivalent functionality, requiring the user to set the worker themselves

[2021-03-02 05:02] rakib32 commented on #262
Hi,
We are also facing this issue. here are the details:
Machinery version: **1.10.5**
Docker Image: official **RabbitMq 3.8** (we also tried bitnami image)

**all messages are consumed but still seeing them in POD**
messages	messages_ready	messages_unacknowledged	messages_persistent	name
0	0	0	0	elasticity_tasks_queue
433309	433309	0	433309	elasticity_task

@RichardKnop Can you please help?

[2021-03-02 09:16] rakib32 commented on #262
Got a solution for this problem: using the same name for JobQueue and Binding solves the problem.

[2021-03-03 20:32] agvol opened #660 "Lost periodic task"
Hi

I have periodic task, but sometime it has been lost. Server use redis.

Task registration. this is one of the attempts:
`err = machineryServer.RegisterPeriodicGroup("*/5 * * * *", "fiveMinutesGroup", 0, fiveMinutesGroup.Tasks...)`

example of data:
![lost](https://user-images.githubusercontent.com/29235185/109868010-34e0ce80-7c78-11eb-8738-b4e2fd688c76.png)

If I change time description to
`er

[2021-03-04 04:42] KarlTango commented on #660
Can you provide more information such as your machinery config and excution log?

[2021-03-04 04:49] KarlTango commented on #644
It seems a problem of the implemetion of Chain. Maybe we should not use the OnSuccess hanler to trigger the next task in chain. We need another handler.

[2021-03-04 04:52] KarlTango commented on #645
It will be supported soon.

[2021-03-04 06:10] KarlTango commented on #654
Maybe you can use woreker.SetPostTaskHandler.  Judge if a task failed by checking signature.Error

[2021-03-04 13:25] shallowclouds commented on #654
https://github.com/RichardKnop/machinery/blob/27ec596da01c992f191ab0e353a17c92c7580b91/v2/tasks/signature.go#L45

It seems that there is no `Error` field in `Signature` struct?

[2021-03-04 17:03] agvol commented on #660
@KarlTango
sorry, of course:

there is my config
[code]

for debug I insert to the fistr line of function debug output
[code]

there is part of output command _journalctl -u machinery | grep "Task sendSensorsToGraphite"_
[code]
as you see, task at Mar 04 19:05:00 is absent

also I already try to set _normal_tasks_poll_period_ and _delayed_tasks_poll_period_ parameters to smallest value, but has no

[2021-03-05 03:42] shallowclouds commented on #654
Maybe I should integrate this feature to `result backend`, which is the only way to implement at present.

But I still think it should be awared by both `broker` and `backend` that whether a task is failed.

[2021-03-05 04:24] KarlTango commented on #660
Do you check if there is any other worker running? Try to change the value of default_queue and rename you task func, then run it again.

[2021-03-05 17:58] agvol commented on #660
There is no any other worker running.
I'm running worker v1 by command with arguments
[code]

I changed the queue setting, but no effect, tasks still lost

A bit of maths: according to the schedule, the task should run 288 times a day, but only about 10 of them are lost, it can't be the second worker.

what else can I see?

I will try to migrate to v2, but I'm not sure it will help

[2021-03-06 08:32] agvol commented on #660
upd:
very interesting. I didn't change anything, except for the version(from v1 to v2) executed at midnight. I'll keep watching
![lost2](https://user-images.githubusercontent.com/29235185/110200500-67085100-7e6f-11eb-82a3-9b38e96e0546.png)

[2021-03-07 14:36] agvol commented on #660
Another difference - lock, with v1 I use redis for storing locks, but with v2 I migrate to eagerlock, probably the accuracy is over than the connection time to redis server - https://github.com/RichardKnop/machinery/blob/master/v1/locks/redis/redis.go#L66

I close ticket because now it working fine for me.

[2021-03-07 14:36] #660 closed

[2021-03-07 14:40] agvol commented on #659
May be you looking for https://github.com/RichardKnop/machinery/blob/master/v2/example/go-redis/main.go#L86-L87 ?

[2021-03-12 08:59] codeHauler-1 opened #661 "worker number control"
Whether V2 / V2 can assign workers for each task.For example, there are 3 tasks. Task A has A maximum of 5 workers, Task B has A maximum of 3 workers, and Task C has A maximum of 10 workers.

[2021-03-12 11:30] codeHauler-1 opened #662 "Retry"
When tasks need to retry the configuration in the signature RetryCount/RetryTimeout, task thrown in panic may try again in accordance with the relevant rules, but use "return tasks. NewErrRetryTaskLater (" 2 ", 4 * time. The Second)" into an infinite loop.I think you should pass the task structure into the task, just like Python's celery.

[2021-03-12 12:01] codeHauler-1 commented on #662
// Call the task
	results, err := task.Call()
	if err != nil {
		//All retry mechanisms are based on the RetryCount
		if signature.RetryCount < 0 {
			return worker.taskFailed(signature, err)
		}
		// If a tasks.ErrRetryTaskLater was returned from the task,
		// retry the task after specified duration
		retriableErr, ok := interface{}(err).(tasks.ErrRetryTaskLater)

		if ok {
			return worker.retr

[2021-03-17 19:56] ScriptProdigy commented on #660
Hey @agvol , what dashboard are you using to visualize your queues like this? Is it custom?

Looking for something like celery flower in python world. @KarlTango , are you aware of anything for machinery?

[2021-03-18 07:39] KarlTango commented on #660
It may be [promethues](https://prometheus.io/). A web monitor based on custom metrics.

[2021-03-19 12:30] KaungMyatChanThar opened #664 "Need to reconfigure travis ci"
https://travis-ci.org/github/RichardKnop/machinery/builds/763530282

I just updated markdown file and tests cases are failing. It is casued by

```ERROR: toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticating and upgrading: https://www.docker.com/increase-rate-limit```

[2021-03-19 12:38] #664 closed

[2021-03-22 14:36] miaochiahao commented on #593
Same problem. Any workable solution?

[2021-03-22 15:54] MikeLing commented on #633
@liaojie Hi, any time to update this issue? Thank you

[2021-03-22 19:29] pjmuller opened #666 "(REDIS) Worker stop consuming messages without any warnings or errors"
Hi,

My REDIS worker just stops consuming message from one moment to the other and doesn't show any warnings or errors in the logs. Right before it happens I see the connections peak to 140 (where normally it's around 60). My max connections are 512 so I'm not cutoff on REDIS server level, it's within machinery that he stops listening.

My main questions are

1. does this sound familiar? What coul

[2021-03-23 03:25] miaochiahao opened #667 "workflow group loops forever"
I created several groups and expect they will run in order. Here is pseudocode:
[code]
if workers dead while handling tasks in group_1,  the task status in the queue is `started`, but this task will never end. And code in group_2 will never execute. Any solution?

[2021-03-28 04:09] miaochiahao commented on #667
This bug is fixed. And here are details:

## What happens
I designed a workflow using goroutine and machinery groups to handle some long time tasks.  The pseudocode is:

[code]
Sometimes it's just stuck while executing the first task group. The second task group will never be executed. Both of groups could take a long time to finish. I use rabbitmq as broker and redis as result backend. All tasks

[2021-03-28 04:09] #667 closed

[2021-03-30 02:41] shun-tak opened #668 "Is it possible to change message visibility for SQS automatically while processing a long task?"
Hello everyone,

I am using machinery with SQS.

One of my tasks takes a long time to finish the process.
Most are finish in 30 secs so I use 30 secs for default VisibilityTimeout.

The one takes more than 10 mins so I would like to update the message visibility for SQS to avoid rerunning the task because if visibility timeout exceeds, machinery will get the same task and start another job.

I und

[2021-03-31 06:24] xuyue86 opened #670 "Using string (after json.Marshal ) in TaskResult cause error"
Backend: mongodb
Broker: rabbitmq
[code]
these code using chain tasks: TaskA->TaskB
TaskA is working fine, but TaskB failed by error:"json is not one of supported types"
And in mongodb i can find this record:
![image](https://user-images.githubusercontent.com/16272458/113099590-c407e480-922c-11eb-8246-3f3e74e08c32.png)

[2021-04-05 08:45] yogesh-desai opened #671 "Is PriorityQueue support possible with machinery lib?"
Hi Team,
I recently started looking into the machinery library to use it in one of my projects.
Is it possible to support the `Priority Queue` with machinery?
If yes, then how?

Please help.
Thank you.

[2021-04-07 18:00] vrazdalovschi commented on #662
I will link the same opened issue.
https://github.com/RichardKnop/machinery/issues/640

[2021-04-15 05:32] yumingqiao opened #673 "Running v2 example will update go.mod to depend on the github lib"
Hi, I would like to contribute to the repo for V2. After running
[code]
the `go.mod` is being modified, the line being added is:
[code]
This suddenly makes all of the imports of `github.com/RichardKnop/machinery/v2` depend on the code that's released in github instead of the ones in the local.
Am I not using the tool correctly or this is a reproducible bug?

[2021-04-19 23:07] sibis opened #675 "EOF error while connecting to remote redis - worker"
Broker Redis & result backend is set to remote connection string and it throws EOF. whereas local setup works fine.

No problem with Redis as I have used go-redis also. Any idea?

[2021-04-22 06:27] #675 closed

[2021-04-22 13:01] skykery opened #676 "Is there a way to remove registered periodic tasks or dynamically update the cron?"
Hi! I want to update the cron from a registered periodic task dynamically.

[code]
Right now I am trying to register again the task with a new user-submitted cron, but after some iterations, my worker goroutines will crash with `fatal error: concurrent map writes`.

[code]

[2021-04-30 02:55] huanbaogihub opened #677 "In the sender use task not registered with this worker have error"
INFO: 2021/04/30 10:43:54 redis.go:321 Task not registered with this worker. Requeuing message: {"UUID":"task_f4daacd0-bad7-4ed6-91b9-2842bc9f06f2","Name":"Minus","RoutingKey":"goms_tasks","ETA":null,"GroupUUID":"","GroupTaskCount":0,"Args":[{"Name":"","Type":"int64","Value":1},{"Name":"","Type":"int64","Value":2}],"Headers":{},"Priority":0,"Immutable":false,"RetryCount":0,"RetryTimeout":0,"OnSucc

[2021-05-02 11:27] lxjian01 opened #678 "RegisterPeriodicTask repeated execute"
The program deploys multiple instances with the RegisterPeriodicTask task registered on each instance. At this point, each machine will execute the tasks simultaneously, resulting in repeated execution. For example, the Python celery celery_once program will execute a timed task only once.

[2021-05-04 14:42] jkamdjou commented on #483
We're experiencing this same exact issue. Were you ever able to resolve it?

[2021-05-05 00:15] jkamdjou commented on #483
We worked around the issue by using Redis as the results backend instead of AMQP.

[2021-05-10 12:24] skykery commented on #520
[code]

Even if you'll make your custom logger with implemented interfaces you'll have a problem, because each level will not differ.

[2021-05-10 12:32] shallowclouds commented on #520
Actually machinery logger provides methods to set logger for each log level, for me I implement it by wrapping my own loggers like this:

![image](https://user-images.githubusercontent.com/15541038/117659378-75a41900-b1ce-11eb-992c-bb7be850f38b.png)

[2021-05-25 11:57] jiangby123 opened #679 "onsuccess callback function. How to receive parameters? Regarding the callback of success and failure, you can add a demo"
onsuccess callback function. How to receive parameters?
Regarding the callback of success and failure, you can add a demo

[2021-05-30 13:09] a97077088 commented on #593
或许可以重新上线

[2021-05-30 15:42] a97077088 commented on #593
这不是什么大问题，关键在于他没法标记 重新入队，以及元数据丢失，更糟糕的情况会发生在服务端被关闭

[2021-06-02 09:22] chowyi opened #680 "go get failed because v1.10.5 requires v2.0.4"
I would install machinery/v1 by below command:
[code]

The file `go.mod` at `v1.10.5` contains
[code]
but there is no v2.0.4.

Is it a wrong require ?

[2021-06-05 19:59] RichardKnop commented on #680
Can you try now?

[2021-06-07 02:33] chowyi commented on #680
I found you update the version from 1.10.5 to 1.10.6, now it' ok.

[2021-06-10 09:46] 0xKrishna opened #682 "Can we set ack mode in amqp ? I want to use manual ack from my code."

[2021-06-18 03:51] migmartri commented on #214
Redis since 6.0 has in fact the [notion of user](https://redis.io/commands/auth). Would it make sense to add support to it?

Thanks!

[2021-06-22 02:06] xiaozuo7 commented on #678
1.Is redis as the broker? Repeated execution in celery is due to the scheduling problem of redis itself. Redis polls tasks every hour, which causes tasks with `eta` parameters to be executed repeatedly.
2.The solution is to use `rabbitmq` as the broker and `redis` as the backend, hope it is useful for you.

[2021-07-01 05:16] ctfang opened #687 "worker.Quit() Why output warning level"
`worker.Quit()`

Why output warning level

`WARNING: 2021/07/01 13:07:26 broker.go:118 Stop channel`

Info is more suitable

[2021-07-01 05:19] ctfang commented on #153
cnf := &config.Config{
		NoUnixSignals:   true,

[2021-07-01 17:57] mbyio commented on #153
I'm not using machinery anymore, so if someone else wants to take over or close this issue please go ahead. I'm going to unsubscribe. Thanks!

[2021-07-04 07:53] #687 closed

[2021-07-09 09:37] vivek-shrikhande-maplelabs commented on #670
I am facing the same issue.

Found that before storing task results to `mongodb` (this issue is specific to `mongodb` as `backend`) machinery tries to decode the result (if it's of type `string`) into `json`; if successful stores it as `json` otherwise just the string as it is in the result.

Hence, chords and chains will fail when they receive the `json` data.

Either `json` type should be suppor

[2021-07-16 14:10] jaskirat-s commented on #496
@RichardKnop Can I take it up and submit a PR? Can this change be accepted?

[2021-07-16 14:12] jaskirat-s commented on #496
That's true, but it would be called for every task. For error cases you might want to push the task into a deadset for manual inspection/retry it's prohibitive right now because the error handler is not passed the task.

[2021-07-20 07:05] FirYuen opened #690 "Task not registered with this worker."
if task is not registered in worker ,the worker will keep print msgs like below even restart worker , the only sollution is   restart redis when worker is printing msgs down there, what caused this problem?
[code]

[2021-07-20 21:27] migmartri opened #691 "redis:// lock URI does not support username:password or /db in the URI"
Hi!

URIs such as `redis://user1:mypassword@redisinstance/0` do not work as `lock` property in the machinery server config. Specifically the existing code does not handle well the username:password tuple nor the database number in the path [1]

Other factories https://github.com/RichardKnop/machinery/issues/214 have been modified to ignore the username and correctly parse the DB number and althoug

[2021-08-07 11:59] danthegoodman1 opened #692 "Improve Redis reliability of queue with BRPOPLPUSH"
I am suggesting that for the redis broker, the funactionality be switched from using `BLPOP` and `RPUSH` for the `Publish` and `nextTask` function sot using `BRPOPLPUSH` and `LPUSH`.

The danger comes from when a worker pops an item from the queue, then dies... there is no functionality to recover that job. This is specifically highlighted on the [Redis docs page for](https://redis.io/commands/blp

[2021-08-10 11:31] deagon commented on #581
`
type NilLogger struct {
}

func (n NilLogger) Print(...interface{}) {

}

func (n NilLogger) Printf(string, ...interface{}) {

}

func (n NilLogger) Println(...interface{}) {

}

func (n NilLogger) Fatal(...interface{}) {

}

func (n NilLogger) Fatalf(string, ...interface{}) {

}

func (n NilLogger) Fatalln(...interface{}) {

}

func (n NilLogger) Panic(...interface{}) {

}

func (n NilLogger) P

[2021-08-13 04:18] andresmonc opened #693 "Task Type Consts"
Hello! Not sure if this is the right place but would it make sense to include all the different supported argument types as consts in Machinery? my team is using their own consts but I feel like this should be something included in machinery

[2021-08-13 16:59] geovanisouza92 opened #694 "ExpiredToken / ExpiredTokenException from aws-sdk-go happens, but it's nearly impossible to recover the worker"
This is somewhat related to #189

When an error occurs on the ReceiveMessage, it's [just logged](https://github.com/RichardKnop/machinery/blob/53e2e28161717cf6185645f080214577dcf0edfa/v1/brokers/sqs/sqs.go#L96-L98), and there's no explicit way to recover the worker.

My approach to workaround was wrapping the AWS-SDK session using [WithRetryer](https://pkg.go.dev/github.com/aws/aws-sdk-go@v1.40.21

[2021-08-18 18:35] smeadows53 opened #695 "Multiple worker stop consuming"
I'm using Redis with multiple workers. These workers produce results from request when a single worker is running without issue. When multiple workers are running, we see inconsistency in behavior where where workers  are not receiving any request and the task state reported is pending.

It appears that machinery may not be delivering requests when multiple workers with different task names are ru

[2021-08-25 14:11] #695 closed

[2021-08-25 14:11] smeadows53 commented on #695
Resolved

[2021-08-27 07:02] WisperDin opened #697 "Is there any way to support the control of task consumption speed?"
such as limiting the consumption of N tasks per minute

[2021-08-27 20:55] cameron-dunn-sublime opened #698 "Retry Recommendations & Considerations"
Hi, I am considering my options for implementing a backing off retry for out tasks in Machinery.

I am familiar with the existing retry feature which was implemented in https://github.com/RichardKnop/machinery/issues/225. My understanding is that when a task returns a `tasks.ErrRetryTaskLater` the following will occur:
* The original message will still be deleted from the queue
* A new message wil

[2021-08-28 08:20] chen-zhuohan opened #699 "Has any advice or plan about recording each task retry result?"
In the process of task retry, various errors can be encountered, such as network errors, database errors, bugs, etc. I think these errors should not be hidden and ignored. Has any advice or plan about recording each task retry result? I think it can be recorded like results of task.

[2021-08-28 08:22] chen-zhuohan commented on #698
I support the first approaches more.
For retry, the problems generally involved include backoff and randomization of retry time. I think the retry time can be used as an attribute of error, and machinery provides some tool functions to generate this value, also allow users to make some customization.

The code I recommend like this:

[code]

In order to implement delay retry, the most direct and s

[2021-08-29 09:06] aivrit opened #701 "Support Single Configuration Endpoint for Redis broker/result-backend"
Hi,
The logic of picking the implementation backend for a broker/result-backend for redis is based on the number of redis hosts explicitly written in the connection string, as was implemented in #459
That's great, but does not support using a single configuration endpoint for auto-discovery of the cluster's hosts, as commonly used for example with aws elasticache redis.
perhaps adding support for

[2021-08-30 02:27] chen-zhuohan opened #702 "Consider using struct as task's args and results in V2 version."
To improve the clarity of args, do we consider using a struct as task args and result, making the task calling like async http call? The key code maybe like this:

[code]

[2021-09-02 10:18] ianlewis opened #703 "eager broker consumes 100% of CPU"
The eager broker's implementation of `StartConsuming` simply returns retry: true with a nil error.

https://github.com/RichardKnop/machinery/blob/master/v2/brokers/eager/eager.go#L31-L34
[code]

The worker calls this repeatedly in a tight loop which consumes all available CPU: https://github.com/RichardKnop/machinery/blob/v2.0.11/v2/worker.go#L77-L91

The eager broker should most likely block on a

[2021-09-07 06:28] vibyird opened #704 "Update redigo pacakage version"
Redigo package with v2.0.0 version does not use go mod, but its version is higher than version which use go mod, such as  package with v1.8.5 version. When one project use redigo and use machinery at the same time, go will choose package with v2.0.0 version, not package with v1.8.5 version. because its version is highest. But is is  actually the oldest package.

[2021-09-09 09:00] wassimbj opened #705 "avoid unnecessary backends packages"
whenever I run my docker compose file, machinery takes long time to install packages that are not even used, using just one broker doesn't need to install other broker packages like mongodb, amqp. any idea how to deal with this ? or i assume that this problem is related the lib folder structure ??

[2021-09-13 15:05] plsof opened #708 "How to keep failure task result"
backend: redis

the task was failed

such as the task command output was `TASK [deploy1]
1
TASK [deploy2]
2
TASK [deploy3]
3
TASK [deploy4]
4
test.sh: line 15: 123: command not found`

`ERROR: 2021/09/13 20:00:38 worker.go:370 Failed processing task 29e6eabe-148a-11ec-83bc-186590d31da1. Error = task failed`

in redis, the Results was null

`"{\"TaskUUID\":\"29e6eabe-148a-11ec-83bc-186590d31da1\",\

[2021-09-16 02:21] #708 closed

[2021-09-16 10:46] siddhant-deepsource opened #709 "Infinite Fibonacii retry on broker connection failure"
When the machinery worker fails to connect to the broker due to the renewal of the broker credentials, the following is logged :
[code]
After this, due to the retry mechanism of machinery, the connection is retried in the time intervals based on Fibonacci series and every time on failure this is logged :
[code]
It kept on retrying for hours until it was found by manual intervention.

I had the fol

[2021-09-18 10:05] mosasiru opened #710 "SetPostTaskHandler should support param with task result and error"
I would like to create a management screen that displays the status of Machinery tasks. For this purpose, I feel it is difficult to use the current ResultBackend system, and I am thinking of using `PreTaskHandler` and `PostTaskHandler` to record the results in a relational database.
However, since `PostTaskHandler` cannot retrieve `result` and `error`, I feel that it is difficult to create such a

[2021-09-23 03:51] unmurphy commented on #452
encounter the same problem, waiting for the solution 👍

[2021-09-24 07:44] cwww3 opened #711 "notice"
Can machinery notices active when task is complete(success or failure) instead of getting the result by asyncResult.

[2021-09-24 09:06] danie1Lin commented on #701
https://github.com/RichardKnop/machinery/pull/712
I make a draft to add this feature. Please feel free to give me some advice to make it better.

[2021-09-29 03:44] danie1Lin commented on #701
Hi @aivrit, the pr is already merged to master, perhaps you can try it.

[2021-10-08 07:14] superleo opened #715 "Support in-memory broker"
Now machinery supoort apmq,redis,aws sqs, gcp pub/sub as broker.  In some production senario, we don't want introduce those dependency.  Just want an in-memory queue.

[2021-10-08 13:36] ice-ares opened #716 "Custom Backend and Broker"
Is it possible to implement my own broker and backend and provide the implementation (with custom configurations) to the server?

[2021-10-11 08:43] gedw99 opened #717 "Mats Jetstream broker and store"
Nats is a decent broker and supports global clustering

It also recently introduced a kv store that is part of the system itself .

The kv store requires a master data center but then updates all the slave data centers . It does all this for you

So I was wondering if it’s a worthwhile addition to machinery ?

I am not sure if a basic kv is enough for machinery needs for storing result sets either

[2021-10-13 20:28] semenchukd opened #718 "Typo in envconfig: MULTIPLE_BROKEN_SEPARATOR"
MULTIPLE_BROKEN_SEPARATOR should be MULTIPLE_BROKE**R**_SEPARATOR

[2021-10-23 11:22] zc24 opened #719 "If the number of periodic tasks is too dense, the concurrent map reading fails"
The problem may be caused by the task registry using the base type map

[2021-11-05 21:58] rabinutam opened #722 "Signature.IgnoreWhenTaskNotRegistered change default to true"
Signature.IgnoreWhenTaskNotRegistered
https://github.com/RichardKnop/machinery/blob/19fdc7a65b0ba7508dbed2d069edec3b6d99fd54/v2/tasks/signature.go#L71

https://github.com/RichardKnop/machinery/blob/19fdc7a65b0ba7508dbed2d069edec3b6d99fd54/v2/brokers/amqp/amqp.go#L325
	if !b.IsTaskRegistered(signature.Name) {
		requeue = true
		log.INFO.Printf("Task not registered with this worker. Requeing message

[2021-11-12 09:16] #677 closed

[2021-11-15 09:05] vincentluan commented on #392
This is still happening with me...

[2021-11-17 11:25] iiiusky opened #723 "How to execute the existing task queue in the master first when the work starts?"
If the master starts and dispatches tasks first, and then starts the work node, the work node cannot obtain the previously dispatched tasks...

[2021-11-18 00:57] charleswhchan opened #724 "CVE-2021-20329 Update go.mongodb.org/mongo-driver to a newer version"
The current version of mongo-drive v1.4.6 at time of writing has a known vulnerability:
- https://nvd.nist.gov/vuln/detail/CVE-2021-20329
- https://github.com/mongodb/mongo-go-driver/releases/tag/v1.5.1

Please consider upgrading to a mongo-driver to a newer version in go.mod

[2021-12-09 10:40] YorkJ opened #726 "Error with redis password include '@'"
failed to connect when redis password include '@' . This is the code example:

[code]

This is error output:

[code]

It seems the redis broker code didn't deal with this situation:

[code]

Better to Find the last `@` of `addrs[0]` and then do the `Split()`.

[2021-12-21 15:01] Hzyhan opened #728 "it will loop call requeueMessage if broker appear a task that not registered"
https://github.com/RichardKnop/machinery/blob/master/v1/brokers/redis/redis.go#L338

[2021-12-23 20:15] zxia-wish opened #730 "Potential new features and PRs"
Hi @RichardKnop and all contributors to this awesome library! We are investigating the possibility to use machinery to power our task queue and it looks really great. Just one thing - would features like per-queue rate-limiting be a good addition to the project? If yes, we may be able to submit PRs to contribute to this project.

Thanks and have a happy holiday!

[2021-12-28 11:30] taythebot opened #731 "Get connected workers"
Is there a way to get all connected workers to the broker? I couldn't find anything in the API documentation.

[2021-12-28 14:16] qia01ng commented on #731
What is the use case that you want to get this information? As me know, there is no such api.

[2021-12-31 02:07] zhb127 commented on #728
+1

[2021-12-31 02:10] zhb127 commented on #728
IgnoreWhenTaskNotRegistered in signature struct, loop call requeueMessage  if signature forget set IgnoreWhenTaskNotRegistered=true, only force delete signature from redis

[2022-01-01 03:23] ianlewis opened #733 "Worker # and worker concurrency is ambiguous"
Currently there are multiple ways to set a limit on the number of concurrently of running tasks.

1. Run more workers asynchronously via `LaunchAsync` in which each worker will call `StartConsuming` on on the broker independently.
2. Set concurrency on the worker which will have the broker manage concurrency and call `Process` concurrently.

I think that 2 is kind of unnecessary as it pushes manag

[2022-01-01 03:25] ianlewis opened #734 "Worker concurrency can exceed limits"
Concurrency set on a worker passes concurrency to the broker implementation in `StartConsuming`. Each broker implementation returns an error to the worker if any concurrent task fails in which the worker will loop again and call `StartConsuming` with the same concurrency.

For tasks that fail often this could cause concurrency to explode far past the implied limit set by the worker's concurrency p

[2022-01-01 03:32] ianlewis opened #735 "Semaphore channels don't need to be initialized"
Semaphore channels can be push style rather than pull.

For example:
https://github.com/RichardKnop/machinery/blob/7ccba3d50e4edd1489bd0ab1743534920deb093b/v2/brokers/redis/goredis.go#L97-L102

Can be implemented like:
[code]

[2022-01-01 04:55] ianlewis opened #736 "Eager backend doesn't expire results"
Results aren't expired from the eager backend so it can cause a memory leak if used for anything other than limited use.

[2022-01-01 04:57] ianlewis opened #737 "Eager backend reads are not protected"
Reads on maps in the eager backend are not protected from concurrent read & writes.
Ex: https://github.com/RichardKnop/machinery/blob/master/v2/backends/eager/eager.go#L160

[2022-01-02 07:24] XIAZY commented on #730
Happy new year! Hope you had a great holiday season. I'm eager to contribute to this awesome library so please let me know if this is a good feature to add, thanks!

[2022-01-06 14:59] oskov commented on #735
Also in both redis brokers (goredis.go / redis.go has similar code) this pool is useless as it's always used by only one goroutine. Not sure what the original idea was, maybe multiple goroutines should simultaneous fetch data from redis or maybe this pool should be shared with the b.consume method. But definitely something is missing.

[2022-01-16 10:44] encryptblockr opened #739 "[REQUEST] web UI for machinery"
Will there be a web UI for machinery like asynqmon => (https://github.com/hibiken/asynqmon) or flower => (https://flower.readthedocs.io/en/latest/) for python celery

[2022-01-17 00:13] ianlewis commented on #735
@oskov Yeah, concurrency is kind of ambiguously implemented. See #733 for my thoughts.

Some work probably needs be done to make this stuff cleaner.

[2022-01-17 00:55] ianlewis commented on #733
Related to #734, #735

[2022-01-19 08:54] kobehaha opened #741 "redis distribute bugs"
https://github.com/RichardKnop/machinery/blob/master/v2/locks/redis/redis.go

1 i think redis lock  reply SETNX is no problem, but there is no need to check if the lock is set successfully,  relay redis ttl is ok, so i think can we delete !success func code block

![image](https://user-images.githubusercontent.com/14839922/150095391-c2d23749-98de-47dc-91b2-78dffcad30a2.png)

2  a r.rclient.GetSet(

[2022-01-19 09:05] kobehaha commented on #741
![image](https://user-images.githubusercontent.com/14839922/150098224-c8b14413-8122-410e-aaa1-0ec473364d61.png)

and more:
 interval attr can not set , default value always is 0, time.sleep doesn't actually work

[2022-01-27 14:31] LionelCS commented on #213
Hello, is there a reason why this hasn't been fixed?
I have a config file too big...

If it helps, I can open a PR.

[2022-02-15 02:37] zxia-wish opened #745 "GroupCompleted in Null backend doesn't always return true"
This bahaviour is inconsistent with the documentation.

https://github.com/RichardKnop/machinery/blob/master/v1/backends/null/null.go#L63

Is this a bug? If so, I can submit a PR to fix it.

[2022-02-19 15:41] wantdrink commented on #704
yeah I saw the warning when execute go list as below. I'm using v1.10.6.

`go list -m: github.com/gomodule/redigo@v2.0.0+incompatible: retracted by module author: Old development version not maintained or published.`

[2022-03-04 09:15] shmcgough opened #747 "CVE-2021-20329 related to MongoDB version"
Dependabot alerted me that one of my repos has a security issue and I traced it back to the version of MongoDB being used in this project, more details can be found here https://github.com/advisories/GHSA-f6mq-5m25-4r72

The fix is to update the MongoDB driver to 1.5.1 at least.

[2022-03-10 14:32] JenishGnanasicamani opened #749 "Revoke a registered task or periodic task"
How do I revoke or cancel a registered task with eta or periodic task?
Let's say I enabled a task with a delayed ETA of five days, but I decide to cancel before that task execution after registering the task. How do i do that with machinery?

[2022-03-21 01:49] XIAZY opened #750 "OpenTracing is deprecated in favour of OpenTelementry"
I'm not sure if we need to replace OpenTracing with OpenTelementry in v1 since it's already feature complete and API-stable, but I can definitely do it for v2.

[2022-03-21 05:12] XIAZY commented on #750
I am trying to understand what #248 is doing under the hood. Is it trying to inject a Context that contains an OpenTracing Span to the task(https://github.com/RichardKnop/machinery/pull/248/files#diff-2c5528c34559b126f27e745189a4d7668124c5264caa9ca471d64604ed99a1aeR135), so it can be used when the task is actually being processed (https://github.com/RichardKnop/machinery/pull/248/files#diff-2bd723

[2022-03-29 10:26] samuelololol commented on #340
Any updates?

[2022-04-07 05:59] Mrliu8023 commented on #531
Hello, has machinery implemented passing context yet?

[2022-04-08 06:46] GeeMing opened #753 "GetPendingTasks not including tasks channel using Redis as broker"
calling `server.GetBroker().GetPendingTasks("")` will only return the tasks exists in Redis, but there are some tasks still block in the channel `deliveries`, channel size is `concurrency` defined in `NewWorker(consumerTag, concurrency)`, which is not including in `GetPendingTasks`.

how could I get the correct pending tasks in this case?

[2022-04-18 02:39] samuelololol commented on #749
Any hints? I'd love to know as well

[2022-04-23 23:43] ingfdoaguirre commented on #325
Hi, as of 2022 you can just put "null" in ResultBackend property.

[2022-04-24 09:29] jeefs opened #756 "Debugging with goland, the task queue reports an error"
use goland debug and get an
WARNING: 2022/04/24 16:45:55 worker.go:101 Signal received: interrupt
WARNING: 2022/04/24 16:45:55 worker.go:106 Waiting for running tasks to finish before shutting down
2022/04/24 16:45:55	INFO	logger/logger.go:76	Shutdown Server ...
WARNING: 2022/04/24 16:45:55 broker.go:118 Stop channel
2022/04/24 16:45:55	INFO	logger/logger.go:76	Server exiting

[2022-04-24 22:16] ingfdoaguirre commented on #756
Hi you need to give us more information about your problem, like some of your code, settings, etc.

The problem you are posting, is not really an error, is just when the script receives a TERM signal (Typically ctrl + c) and the script is gracefully terminating.

[2022-04-25 00:50] ingfdoaguirre opened #757 "Basic json message, and signature in headers rabbitmq"
Hi, I'm very happy with this library, but I have a special case where I have different microservices, using rabbitmq as broker, and to simplify things, I only send a json message, and other settings(equivalent to task signature in machinery, like retrycount) in headers.

So basically, is there a possibility to use signature struct in message headers and args as message out of the box?

If not, can

[2022-04-25 01:30] jeefs commented on #756
I use redis as a broker, the worker runs in a separate concurrent thread, I use goland single point debugging, when clicking next the debug exits，

My configuration is as follows:
machinery:
  broker: "redis://127.0.0.1:6379"
  default_queue: "default"
  result_backend: "redis://127.0.0.1:6379"
  redis:
    max_idle: 3
    max_active: 3
    max_idle_timeout: 240
    wait: true
    read_timeout: 15

[2022-04-25 04:19] jeefs commented on #756
After switching to the goland version, the problem disappeared

[2022-04-25 06:37] ingfdoaguirre opened #758 "Get arguments names in task"
Hi, is there an option to get the full arguments array in a task?
Lets say that I publish something like this:

[code]

When my worker call the task I can only get the values like this "[MLM323232323 1211221212]", but I cant identify them.

Is there any option to get the full Args in my task? If not, do I have to create a custom worker, where I can achieve what I want, and, if I achieve that, will

[2022-04-25 07:46] ingfdoaguirre commented on #758
Ok I got answered by reading the code.

This is the way on how you can get Args from context in your task:

[code]

[2022-04-26 06:17] munir131 opened #759 "Result backend required"
Driver: Google pubsub
Version: 1

https://github.com/RichardKnop/machinery/blob/master/v1/factories.go#L112 - There is not support of Google pub sub but I am getting error while sending message in google pubsub that `Result backend required` from https://github.com/RichardKnop/machinery/blob/7ccba3d50e4edd1489bd0ab1743534920deb093b/v1/server.go#L190

If you can point me to proper value of ResultBa

[2022-04-26 06:36] munir131 commented on #759
I used null backend(https://github.com/RichardKnop/machinery/blob/master/v1/backends/null/null.go) and it worked. So closing it

[2022-04-26 06:36] #759 closed

[2022-05-02 08:49] armoona opened #760 "Upgrading required redigo version?"
Just installed machinery and discovered that it requires:

github.com/gomodule/redigo v2.0.0+incompatible

That's a 4 year old version of redigo. Is it possible to upgrade it to the latest 1.8.8?

[2022-05-04 05:01] khalilsimpl opened #761 "worker not picking all the registered tasks - machinery v1"
### I'm using machinery/V1 and broker and result_backend -> redis
This is my architecture :

2 ECS services:

1.    -> has a machinery server instance and adds the tasks (IgnoreWhenTaskNotRegistered = true)
2.  -> service to process the tasks , has a worker instance with this config (concurrency:1 ) and all the tasks are registered here.

Note : In 1st ECS I'm not registering any tasks when i'm se

[2022-05-08 08:29] XTeam-Wing opened #763 "allow Missing Tasks Not To Be Retried"
worker Often Has Timeout Situations At Runtime Which Will Cause A Task To Be Run Repeatedly

When a task is running, the amqp connection is interrupted, and the task will not stop. When the amqp connects again, the task will be rerun again, causing a task to be executed multiple times. generated a lot of duplicate data

<img width="1389" alt="image" src="https://user-images.githubusercontent.com/2

[2022-05-11 20:56] NikBisht opened #765 "When a worker pod is killed, no mechanism for retrying task"
We're using Redis broker + DyanmoDB backend, and we've noticed that when a worker pod is terminated (ungracefully) and the task was still running, the task stays in `STARTED` state. It seems as though Machinery doesn't have a timeout at which point it we re-queue tasks that have been in `STARTED` state for a long period of time. This seems like a critical feature for fault tolerance.

[2022-05-16 02:06] lzg553665176 opened #766 "how to set task run time"
I want to set task run time, such as control worker expire. but I can't find param, do you known, please tell me

[2022-05-17 04:49] #761 closed

[2022-05-25 09:58] GodYao1995 opened #767 "Log ouput Issues"
INFO: 2022/05/25 17:52:39 worker.go:58 Launching a worker with the following settings:
INFO: 2022/05/25 17:52:39 worker.go:59 - Broker: ://
INFO: 2022/05/25 17:52:39 worker.go:61 - DefaultQueue: machinery_tasks
INFO: 2022/05/25 17:52:39 worker.go:65 - ResultBackend: ://
INFO: 2022/05/25 17:52:39 goredis.go:110 [*] Waiting for messages. To exit press CTRL+C

TIPS: if use iface mode
cnf := &config.C

[2022-05-30 06:11] GodYao1995 opened #768 "loop forever to get tasks"
items, err := b.rclient.BLPop(context.Background(), pollPeriod, queue).Result()

[machinery_tasks {"UUID":"task_01946605-74d3-42cd-b496-1d167c84cdb7","Name":"sum","RoutingKey":"machinery_tasks","ETA":null,"GroupUUID":"","GroupTaskCount":0,"Args":[{"Name":"","Type":"int64","Value":1},{"Name":"","Type":"int64","Value":1}],"Headers":{},"Priority":0,"Immutable":false,"RetryCount":0,"RetryTimeout":0,"O

[2022-05-30 06:58] #768 closed

[2022-05-30 07:29] GodYao1995 commented on #767
func NewGR(cnf *config.Config, addrs []string, db int) iface.Broker {
   .......
   cnf.Broker = strings.Join(ropt.Addrs, ", ")
   ....
}

[2022-06-06 02:55] zhenqianz opened #769 "(monitoring) How to check if consumers are working well?"
I used Machinery for quite some time now, and I almost have no problem. However one day the consumers stopped consuming.  I used Redis as the broker and it was running okay. The problem was fixed after I restarted the service. And it did well for a couple of months.

Then, one day, my service did break again, and the tasks were not consumed again by the consumer. It was also fixed by restarting th

[2022-06-06 09:51] khalilsimpl commented on #666
Did you find why it is happening @pjmuller ?
I'm facing the same problem and struck

[2022-06-17 03:18] Liang-zeyu opened #770 "RegisterPeriodicTask Error"
fatal error:concurrent map writes
such as
`machinery.RegisterPeriodicTask("T1","*/1  * * * ?","periodic-task1")
		machinery.RegisterPeriodicTask("T2","*/2  * * * ?","periodic-task2")
		machinery.RegisterPeriodicTask("T3","*/3  * * * ?","periodic-task3")
		machinery.RegisterPeriodicTask("T4","*/4  * * * ?","periodic-task4")
		machinery.RegisterPeriodicTask("T5","*/5  * * * ?","periodic-task5")`

[2022-06-19 17:11] stephenafamo opened #771 "Result expiration for groups and chords"
Since the expiration time is set whenever the state is updated, it is possible for the result of a group or chord to expire *before* the sub-tasks complete (especially in case of retries).

Or am I missing something?

### Other related issues.
* There's no way to set the results never to expire.
* There is no way to only clear the results of completed tasks.

[2022-06-23 11:02] xiaoxiaosu commented on #405
I had the same problem,did you resolve it?

[2022-07-27 21:29] vtfr commented on #483
Any update on this issue?

[2022-07-29 03:47] cameronbarclift opened #778 "Help with Periodic Task Run on v1"
I'm having issues running a periodic task.  I'm setting up the machinery server with a redis backend, then sleeping, and I can submit individual task runs that get picked up by my worker just fine.  But the periodic tasks don't ever submit to redis or run.  Any ideas on what I'm doing wrong?

I'm on macOS, running machinery v1

[code]

[2022-08-01 03:29] gdlxSong opened #779 "why not support custom arg type？"
[current supported task argument type](https://github.com/RichardKnop/machinery#supported-types)

[code]

[2022-08-02 04:24] huyidaoxinyu opened #780 "redis.Lock bug"
I found a bug in the function of struct redis.Lock in v2/locks/redis/redis.go fil.
if the key not expired when r.rclient.Get,but expired when r.rclient.GetSet, it will lock failed.
My fix codes like this:
func (r Lock) Lock(key string, unixTsToExpireNs int64) error {
	now := time.Now().UnixNano()
	expiration := time.Duration(unixTsToExpireNs + 1 - now)
	ctx := r.rclient.Context()

	success, err :=

[2022-08-04 10:17] ortolot commented on #760
Redigo v2.0.0 has been retracted by its author, and unmaintained for more than four years. Any project using machinery is indirectly using it, and, if also directly using it, is forced to use that same old and unmaintained version. Would it be possible to switch machinery to the latest redigo version, which is currently 1.8.9?

[2022-08-29 11:59] taylorzhangyx commented on #765
I face the same issue here.

[2022-09-15 06:20] xlanor opened #782 "Configuration with Redis Sentinel"
Does anyone have an example of a configuration file for a redis Sentinel?

[2022-09-23 09:12] zhouhui521 commented on #765
I face the same issue here.

[2022-10-01 06:23] Shahriar-Sazid commented on #340
This works fine. But one important thing is, **setting UUID in task signature before sending task**. Without that this will not work properly.

[2022-10-30 03:22] XTeam-Wing opened #783 "goredis should add IgnoreWhenTaskNotRegistered"
<img width="1079" alt="image" src="https://user-images.githubusercontent.com/25416365/198861082-e12ba610-2fa6-4822-8ec0-b025939616a2.png">

This is my addition
<img width="1069" alt="image" src="https://user-images.githubusercontent.com/25416365/198861087-d06b3185-7940-4781-979f-165885a2bb3d.png">

[2022-11-04 03:22] gurpreetg opened #784 "Prevent more than one instance of task running at the same time"
I am wondering if it's possible to obtain a behaviour in v1 so a task is not ran if it's already running. For example, if request 1 pushes taskX and request2 pushes taskX only a second later, assuming taskX pushed by request 1 is still running, can we ensure that taskX pushed by request2 will be skipped.

[2022-11-04 03:25] gurpreetg commented on #778
according to the docs err := server.RegisterPeriodicTask("* * * * *", "add-task", signature), this needs to be `server.RegisterPeriodicTask("* * * * *", "periodic-task", signature)`

[2022-11-07 00:34] tomo25 opened #785 "Receiving Task will not be processed while worker is quitting"
Hi, I'm using v1 and sqs as a broker.

When the  message receipt is in progress and worker starts to shutdown, the worker will wait for the message to be received from the broker but will not process it and the task will end up not to be executed until visibility timeout.

Worker should wait until the receiving message is finished processing, and then shutdown gracefully.

The main reason why this

[2022-11-15 12:10] kushalhalder commented on #496
For this use case alone, you can use `onError`

[2022-11-18 11:20] kushalhalder commented on #765
Do we have any updates or workarounds against this?

[2022-11-20 03:09] tomo25 commented on #785
here is an implementation for sqs.
https://github.com/tomo25/machinery/pull/1

it's working for me so far.

[2022-11-24 06:50] call-stack opened #786 "Failed delivery of delivery tag: 0"
Hi, I am using v1 and amqp as a broker.

While publishing some message I am getting below error. <br>
`EnqueueRequest: SendMessage: Publish message error: Failed delivery of delivery tag: 0`

Please correct if I am wrong, delivery tag 0 meaning failed to publish single message.

Also I want to replicate the same but could not do this. Can anyone help me here?
Thanks!