[2015-05-11 02:42] JamesAwesome opened #1 "Your netrc is showing"
Just FYI :(

[2015-05-11 05:47] vanhalt opened #2 "Dependencies"
Running it, happened this:

[code]

[2015-05-11 05:48] vanhalt commented on #1
:(

[2015-05-11 06:02] vanhalt commented on #2
Didn't read the whole readme... :)

[2015-05-11 06:02] #2 closed

[2015-05-11 06:35] vjeantet commented on #1
Maybe one of you can use it to remove this sensitive information :-/ ? And change password ?

[2015-05-11 08:29] RichardKnop commented on #1
This is needed for TravisCI to work. The token is read only, so it should be safe. I didn't find any other way to make TravisCI work.

[2015-05-11 11:36] JamesAwesome commented on #1
Personally I would see if I could encrypt it and export it as a variable and build the .netrc on the fly. It's read only but it does give us read access to all your repos...

[2015-05-11 12:11] RichardKnop commented on #1
Thanks. I used environment variable for that ;)

[2015-05-11 12:11] #1 closed

[2015-05-11 12:12] JamesAwesome commented on #1
Glad I could help. :+1: :smile:

[2015-05-17 15:05] nesizer opened #7 "Tasks only works with string and float64"
if i try the example with

    func Add(args ...int64) (int64, error) {
	    sum := int64(0)
	    for _, arg := range args {
	        sum += arg
	    }
	    return sum, nil
    }

i get "**Failed processing** {54740152-8C08-4F6F-BA2A-579B092E0615}. **Error = 1 is not int64**", from worker.go

i think it is because the default behavior of [encoding/json](https://golang.org/pkg/encoding/json/#Unmars

[2015-05-17 18:13] RichardKnop commented on #7
Hi,

Thanks for spotting that. I have pushed fix to master. It should work now for these basic types:

- int, int8, int16, int32, int64
- uint, uint8, uint16, uint32, uint64
- float32, float64
- string

This is quite early stage project so I expect there to be more bugs.

I also need to add support for slices and maps so you can use them as task arguments.

[2015-05-17 18:13] RichardKnop commented on #7
Hi,

Thanks for spotting that. I have pushed fix to master. It should work now for these basic types:

int, int8, int16, int32, int64
uint, uint8, uint16, uint32, uint64
float32, float64
string
This is quite early stage project so I expect there to be more bugs.

I also need to add support for slices and maps so you can use them as task arguments.

[2015-05-17 18:13] #7 closed

[2015-05-18 10:42] RichardKnop opened #8 "Dependencies & vendoring"
Use vendoring for dependencies. See:

https://groups.google.com/forum/#!msg/golang-dev/nMWoEAG55v8/iJGgur7W_SEJ

[2015-05-19 19:28] m0sth8 opened #11 "Add new brokers and backends"
Hello @RichardKnop, I want to use my own broker (in memory broker) for testing purposes.
Could you add methods to `Server` for set up broker and backend?

[2015-05-19 20:12] RichardKnop commented on #11
@m0sth8 I have added setters and getters to Server. Is this good enough for testing?

https://github.com/RichardKnop/machinery/blob/master/v1/server.go#L49

[2015-05-19 21:03] m0sth8 commented on #11
Thanks, It's enough for me.

[2015-05-19 21:04] #11 closed

[2015-05-21 10:15] RichardKnop opened #13 "Retrying Doesn't Reset Fibonacci Sequence"
When a connection drops, worker will keep retrying to connect to the broker using Fibonacci sequence, so it will retry in 1, 1, 2, 3, 5, 8... seconds.

However, when worker successfully connects and starts consuming messages, the retry Fibonacci sequence should be reset so next time connection drops we start from 1 again.

[2015-08-06 09:37] ishail opened #15 "Is machinery ready for production?"
Hi @RichardKnop , I'm moving from python to golang and I need a celery like architecture to handle asynchronous tasks for almost real time execution. Machinery looks a great fit for it, but I would like to get your honest review about whether it is ready to use in production and how much time it will take?

[2015-08-06 09:46] RichardKnop commented on #15
My honest opinion is it is not ready for production environment. I have not yet used it on any production server and I would probably not recommend it.

I have been quite busy with work couple of last weeks/months so I haven't worked on the codebase that much. It would help if somebody else contributed as well which would help move this project towards production readiness sooner.

There are two p

[2015-08-06 11:17] ishail commented on #15
Thanks. First let me analyze the architecture then I would love to contribute on this.

[2015-08-06 11:17] #15 closed

[2015-08-08 12:07] #8 closed

[2015-08-08 12:12] RichardKnop commented on #15
@ishail I have spend some serious time finishing the remaining priorities. Chords are now supported, dependencies are managed with godep. Also fixed couple of bugs. It's definitely closer to production ready now :)

[2015-08-16 17:04] #13 closed

[2015-08-20 16:49] spinx opened #18 "Sidekiq"
Hey,

just a suggestion - use Sidekiq way of doing things to make this useful for a lot broader user base. Will help with adoption/migration for sure since a lot of people are using that.

I can document everything (how sidekiq works with redis) and also help with some implementation, although my Go skills leave a lot to be desired ;)

[2015-08-20 19:43] RichardKnop commented on #18
Hey,

I am not very familiar with Sidekiq. If you can help me document how it works that would be great. Getting this useful for a broader user base is something I would like to do. Also getting other people help would be great as so far this has been a one man project.

Don't worry about your Go skills. I am a generalist myself although Go has been really growing on me recently.

[2015-08-21 13:53] blalor opened #19 "Support for scheduled tasks"
I'd love to see some kind of scheduled task support, where you can submit a task for execution at a point of time in the future.

[2015-08-21 14:08] mirzac commented on #18
Hello...
there is already a project that implements workers and jobs in Go that are compatible with Sidekiq:
https://github.com/jrallison/go-workers

[2015-08-21 19:02] spinx commented on #18
@mirzac
I'm aware of go-workers, but I was drawn to this solution because of groups, chords and chains as well.

@RichardKnop OK, great. I'll start with the docs and some code next week. What are you using as a backend now ? Do you think that Memcache make sense as a queue ?

[2015-08-21 19:18] RichardKnop commented on #18
@spinx Using memcache as a queue is probably a bad idea. I recommend RabbitMQ as a top choice followed by Redis. There is also disque which is interesting but I haven't added adapter for that yet.

[2015-08-21 19:23] spinx commented on #18
@RichardKnop Yeah I had backends folder open and was a bit perplexed why memcache would be used as a queue. I saw later these are results backends :)

[2015-08-27 08:04] balzaczyy opened #20 "sendGroup is very slow when task number is large"
I tried to use send group task feature. However, it turns out to be quite slow. The scheduling frequency seems to be fixed. So I end up using send task one by one.

What is exact the benefit to use send group instead of sending task one by one?

[2015-08-27 15:29] RichardKnop commented on #20
It shouldn't be slow. I will have to test it over the weekend. All SendGroup does is:

1. Sets state of all tasks in a group to pending.
2. Sends all tasks to the broker.

Both steps can actually be parallelised with goroutines I guess. I will need to look at where the bottleneck is.

The group is just a wrapper used to send multiple tasks at once (plus also used by chords).

What broker and backe

[2015-08-27 23:10] balzaczyy commented on #20
I'm using rabbitmq for broker and wrote a elasticsearch backend to keep all the job status, which all host in a private cloud. There is one lead task, which scans 10K records, and update each record in a single task. After this initial setup, the following delta update may be far less.

On a second thought, maybe I should try rabbitmq in local. I will have another test today.

[2015-08-28 01:13] balzaczyy commented on #20
Using a local broker improves a lot. This should work for now.

[2015-08-28 02:33] balzaczyy opened #21 "task UUID is ignored if included in group"
I suggest we keep the existing task UUID if included in a group.

[2015-08-28 02:34] balzaczyy commented on #20
Still one question. What's the exact benefit to use a group, instead of sending task one by one? Is there any design consideration?

[2015-08-28 06:00] balzaczyy opened #22 "worker doesn't make use of concurrency"
My task logic would send new tasks within a task body. In this case, this worker no longer receive no tasks until it finishes the current one. It can be workarounded by initiating multiple workers on one nodes but it seems strange.

To me, it's a waste of resource. But is it a valid scenario? Or should I avoid initiating tasks within the task body?

[2015-08-28 15:09] RichardKnop commented on #19
@blalor This is definitely on my TODO list.

[2015-08-29 18:13] RichardKnop commented on #22
Yes. This is something which needs to get fixed. Feel free to submit a PR if you think this is a low hanging fruit. I will take a look myself.

You should probably avoid publishing new tasks in the task body but still the worker needs to use concurrency properly without the need to launch multiple workers. One worker process should be capable of processing multiple tasks at the same time using gor

[2015-09-01 01:01] balzaczyy commented on #19
My practice is to use a cron library (like "github.com/robfig/cron") and feed task event accordingly. E.g.,

[code]

[2015-09-01 13:38] balzaczyy commented on #22
I managed to refine my task logic to make best use of concurrency and avoid running too long, e.g., split long task into smaller pieces.

I also had a check on the above change. It looks quite promising. When will it be merged into the master branch?

[2015-09-01 15:45] RichardKnop commented on #22
I need to fix a failing integration test.

Plus there is an issue with AMQP backend which I need to solve.

I might get some more free time this weekend.

[2015-09-02 20:22] RichardKnop opened #24 "RedisBroker.StopConsuming() Does Not Work"
It seems like RedisBroker.StopConsuming() doesn't properly shut down the Redis receiving goroutine.

This causes one of the integration tests to fail (I have commented it out for now).

Not a high priority issue as StopConsuming() methods are only used by integration tests for now.

[2015-09-02 20:28] RichardKnop commented on #22
@balzaczyy Merged. Using AMQP as a result backend is a bit dodgy right now (I made it work with a clever hack but I would recommend to use Redis or Memcache as result backends if you can).

[2015-09-02 20:28] #22 closed

[2015-09-03 08:47] RichardKnop commented on #20
After I merged the last PR, SendGroup should send tasks in parallel using goroutines. Should be faster now.

[2015-09-03 08:47] #20 closed

[2015-09-03 09:48] RichardKnop commented on #19
Something like celery monitor would be ideal. I will eventually get around to do that. But lot of other things that have higher priority right now.

[2015-09-03 10:48] #18 closed

[2015-09-03 10:48] #19 closed

[2015-09-03 10:49] RichardKnop opened #25 "Chord Bug With Redis/Memcache Backend"
There seems to be a race issue with chords when using Redis or Memcache backends.

I have observed an intermittent bug when chord callbacks would not get triggered. Probably caused by inconsistent state of TaskStateGroup.

Needs some investigation.

[2015-09-03 21:46] RichardKnop commented on #25
Fixed with latest push to master.

[2015-09-03 21:46] #25 closed

[2015-09-07 09:04] Requilence opened #26 "AMPQ broker connection reusing"
Is there a reason to open/close broker connection on every message publishing?
In a single goroutine with AMPQ connection reusing I have 110 msg publish/sec vs 55 msg/sec with current implementation.
Also with using of goroutines to publish messages I was able to get 34000 msg/sec on the same configuration. Looks like goroutines is safe when reusing AMPQ connection

[2015-09-07 09:18] Requilence opened #27 "ResultBackend is not optional"
But in fact when I try to leave ResultBackend empty there is a panic at
[code]

[2015-09-07 09:31] RichardKnop commented on #27
@Requilence This is a bug. Thanks, I'll take a look at it.

[2015-09-07 09:31] RichardKnop commented on #26
@Requilence Hi Roman. There is no specific reason for it. You can submit a PR if you want. I'm a bit busy at the moment but performance improvements like this are needed.

[2015-09-07 11:01] Requilence commented on #26
@RichardKnop Ok, I will test my solution and if everything works great I will create PR.

[2015-09-07 13:22] RichardKnop commented on #27
@Requilence I made the result backend mandatory for now. Most workflow functionality requires a backend to store tasks states anyways.

[2015-09-07 13:22] #27 closed

[2015-09-08 23:28] balzaczyy opened #28 "support customized result backend"
The latest server.go changes the following error handling.

	backend, err := BackendFactory(cnf)
	if err != nil {
		return nil, err
	}

It used to be:

	// Backend is optional so we ignore the error
	backend, _ := BackendFactory(cnf)

This change breaks my customised result backend. I still want to monitor the error returned by NewServer(). Can you revert it or provide an alternative to support cu

[2015-09-09 10:03] RichardKnop commented on #28
This was related to another issue: https://github.com/RichardKnop/machinery/issues/27

I chose to make result backend mandatory for now as otherwise it was easy to get errors and the documentation was a bit misleading so I fixed that too. Perhaps I should revisit that decision.

I will be travelling this weekend so I might not be able to look at this until next week.

[2015-09-09 16:28] RichardKnop commented on #28
@balzaczyy Is your backend too customised? Ot do you think it is generic enough you could contribute it via a pull request? If it's not too specific to your use case, it can be added as another backend option.

[2015-09-09 16:49] RichardKnop commented on #28
@balzaczyy git pull

It should allow custom backends again. Sorry.

[2015-09-09 16:49] #28 closed

[2015-09-09 22:03] RichardKnop commented on #24
Fixed now.

[2015-09-09 22:03] #24 closed

[2015-09-09 22:04] RichardKnop opened #30 "Chord Callback Called Multiple Time"
Chord callback is being called N times where N is number of tasks in the group.

This affects Redis and Memcache backends. AMQP backend is not affected.

Workaround until this is fixed is to make sure chord callback is idempotent.

[2015-09-09 22:15] RichardKnop commented on #21
Fixed.

[2015-09-09 22:15] #21 closed

[2015-09-09 23:07] balzaczyy commented on #28
Cool. Thanks. I'm using ElasticSearch as the result backend. But it's only partially implemented for my own purpose. I will try create a pull request when I finish the remaining function.

[2015-09-09 23:16] balzaczyy opened #31 "worker stopped process task after a while"
I haven't nail down the root cause yet. But my worker seems to stopped working after it received a new message, and leave the message un-acknowledged. I tried purge the queue, and 3 were left un-acknowledged. Then I shutdown the worker, the 3 messages are changed back to ready.

I'm always use the latest code base and it has happened two times. Will try again to see if there is a pattern.

[2015-09-09 23:20] RichardKnop commented on #31
Ok. Let me know if you find the cause of the problem or a way to reproduce it.

This is quite an early stage project so I expect there to be some issues and it will take some time to make it more robust.

[2015-09-13 09:47] balzaczyy commented on #31
In Worker.Launch() loop, if retry is true, the returned error is eaten. I suspect there is some error and keep retrying won't auto-fix it. I have added a debug message to retry. It feels like time related.

Will update later.

[2015-09-14 17:39] RichardKnop commented on #31
Ok. Seems promising.

I'm on a vacation now so I'll be online a bit less frequently over next couple of weeks.

Let me know when you find the culprit though.

[2015-09-17 14:06] wizard580 opened #34 "amqp problems"
Work with amqp not stable:
from time to time sender hangs on results.Get()
fix: ctrl+c and re-run again. some times from 3rd try.

Today I see worker crashed with this output:
/home/user/go/bin/src/github.com/RichardKnop/machinery/v1/brokers/amqp.go:161 +0x1c9

goroutine 13329 [select]:
github.com/RichardKnop/machinery/Godeps/_workspace/src/github.com/streadway/amqp.(*Connection).heartbeater(0xc82

[2015-09-17 14:08] wizard580 opened #35 "amqp high cpu usage"
when I start server and there no workers with registered tasks which server sends, there many queries to amqp and near 100% cpu usage

[2015-09-17 14:10] wizard580 commented on #26
@Requilence
Can you show your solution? I'll try to test it.

[2015-09-17 20:47] Requilence commented on #26
@wizard580 https://github.com/RichardKnop/machinery/pull/36

[2015-09-18 01:02] wizard580 commented on #34
In my little investigation I see there no amqp problems, but more general issues as this issue reproducable with redis too.

Situation:
I have 2 workers, all running in parallel on the same server. One worker registered only 1 task "worker1_task" and second only 1 "worker2_task".
SendGroup -> result.Get() hangs.

Please test such case.

[2015-09-18 04:41] wizard580 commented on #34
May be look at this:
"consumeOne()"  calls  "taskProcessor.Process()", then workers "Process()" calls:
        task, err := worker.server.GetRegisteredTask(signature.Name)
	if err != nil {
		return err
	}
if task was not for this worker, Process() will return "err" and then will be "errorsChan <- err" at consumeOne(). So task discarded, sender/server will hang forever.
I think in case of failed "G

[2015-09-18 05:14] wizard580 commented on #34
For me it was fixed:
v1/worker.go
----
func (worker *Worker) Process(signature *signatures.TaskSignature) error {
   task, err := worker.server.GetRegisteredTask(signature.Name)
   if err != nil {
      worker.server.GetBroker().Publish(signature)
      return err
   }

[2015-09-18 08:48] mission-liao commented on #26
I've working on some go-amqp stuff (another worker queue project) and found this (issue)[https://github.com/streadway/amqp/issues/119] in that project. Quote from one discussant:

[code]

In current implementation of machinery, we create a channel (and connection) per 'SendTask', it seems a reasonable implementation, or maybe we would at least maintain a 'channel pool' for each request from differ

[2015-09-18 08:54] Requilence commented on #26
@mission-liao Also the similar approach is using in https://github.com/go-mgo/mgo.
Initially I made the same decision (reusing connection, reinit channel) but doesn't see any performance benefits from thus. I will repeat tests today and come back with results

[2015-09-18 10:19] RichardKnop commented on #26
Great work and investigation guys. It seems reusing channels might be the way to go.

[2015-09-18 10:28] RichardKnop commented on #35
I think this is caused by: https://github.com/RichardKnop/machinery/blob/master/v1/backends/result.go#L71

Basically, if you call AsyncResult.Get method, it uses loop to check if the task has completed.

You can avoid this by not using blocking AsyncResult.Get (which is there mostly for convenience and testing/debugging) calls and just design your tasks to be completely asynchronous using callback

[2015-09-21 08:29] wizard580 commented on #34
Is it acceptable or there will be released proper fix?

[2015-09-21 15:39] RichardKnop commented on #34
@wizard580 This is acceptable. Can you create a PR?

[2015-09-21 15:39] RichardKnop commented on #34
There will probably be a proper fix when I come back from the vacation.

[2015-09-22 11:56] #34 closed

[2015-09-22 11:57] #35 closed

[2015-09-22 15:40] RichardKnop commented on #31
Found out anything?

[2015-09-30 15:29] balzaczyy commented on #31
Sorry for the late response. I'm currently traveling. And yes, I did found the root cause. It's caused by my local change that disabled the worker task concurrency. And the exiting error channel is blocking the main loop. After I changed the error channel to non-blocking, the issue is gone. It can be closed now.

发自我的 iPad

[2015-10-06 01:27] wizard580 commented on #35
There not all clear with callbacks.
Can you show example with explanations?
And sure it's good to update docs.

[2015-10-09 11:40] #31 closed

[2015-10-09 11:40] #26 closed

[2015-11-06 00:58] rvera opened #49 "Insanely high CPU usage on the Redis adapter."
Seems like the Redis adaptor is using `LPOP` instead of `BLPOP` which leads to super busy polling.

[2015-11-06 10:02] RichardKnop commented on #49
@rvera Hi. I'm quite busy with another project at the moment so might not have time to look at this in near future. If you want to refactor the Redis adaptor, feel free to issue a PR :)

[2015-11-12 00:00] F21 opened #50 "A kafka broker"
I think it would be really awesome if Kafka can be added as a broker. I am currently investigating using kafka to send messages as part of an event-sourced system on mesos. Being able to use kafka would mean that existing kafka infrastructure can be used, rather than having to build a AMQP cluster on mesos.

[2015-11-13 21:37] RichardKnop commented on #50
@F21 Feel free to submit a PR that adds a Kafka broker. At the moment I am busy with another project so it is not likely I will have time to do this myself.

[2015-11-13 21:39] RichardKnop commented on #49
@rvera Although there is a reason why BLPOP is used. Using LPOP means multiple workers can process a task at the same time which would require tasks to be idempotent. I didn't want to force people to define idempotent tasks and instead make sure in the library each task is processed just once, hence BLPOP. If you have a different solution which works, feel free to submit a PR.

[2015-11-20 11:36] RichardKnop opened #51 "Codeship Build Fails"
Running tests on Codeship fails. Investigate and try to find a source of the problem.

There have been intermitten issues with integration tests on Travis as well but that is less pressing.

[2015-11-20 11:41] RichardKnop commented on #51
Disabled RabbitMQ integration tests on Codeship for now but a proper solution would be preferable.

It seems the intermittent issues happen with Go 1.4, I haven't seen it happen with Go 1.5.

[2015-12-10 13:40] joeblew99 opened #52 "a nats mesage queue"
nats is a brokerless message queue

i woudl love to use this with it :)

[2015-12-10 13:51] waterlink commented on #49
@RichardKnop I can't 100% understand what are you saying in your last comment. It seems like, you are advocating the use of `BLPOP` since it allows users of the library to not care about idempotency in their tasks.

What puzzles me is that the code in question actually using `LPOP`, not `BLPOP`. Can you clarify a bit, I am, most probably, misunderstand something.

[2015-12-31 13:53] ghost opened #53 "If redis crashes a worker won't quit"
[code]

I have a test case where i see how my program handles redis crashes. Once i identify the crash, i want to close the worker and create a new one since redis's ip might've changed.
So when redis crashes, i try to call Quit() in the hope of stopping the previous worker goroutine. The stopping channel isn't sampled, so the worker won't quit since it'll keep on retrying.

[2015-12-31 15:28] roee-indegy commented on #53
Also since the stopRecv channel is overwritten every iteration of StartConsume, if i sent a quit request during that time it won't ever happen even when a reconnecting attempt succeeds

[2016-01-01 04:19] RichardKnop commented on #53
@roee-indegy Hi. Yes Redis has been the second broker after RabbitMQ and the implementation is a bit quick and dirty (leaving a lot to be desired). If you think this is relatively simple to fix, you can submit a PR. I'd be happy to merge it!

[2016-01-03 04:27] RichardKnop commented on #53
@roee-indegy Does this fix the issue?

[2016-01-03 05:01] RichardKnop commented on #51
Fixed.

[2016-01-03 05:01] #51 closed

[2016-01-03 08:23] roee-indegy commented on #53
Not really, the channels are blocked till the consuming goroutine reads from the channels. So the consuming goroutine will exit, but the caller to Quit will be blocked by writing to the channel.

[2016-01-03 13:42] RichardKnop commented on #53
@roee-indegy Alright, sorry. I will look into this more closely if I get more free time but I will be quite busy next few weeks so I can't guarantee it will be fixed soon. If you have a fix for it already, submit a PR :)

[2016-01-03 14:28] roee-indegy commented on #53
I bypassed the problem by publishing the redis server's port, that way i refer to the same ip and i don't have to use quit. I played around with some patches, none of them worked so well. I'll see what i can do about it :)

[2016-01-04 20:21] niedbalski opened #56 "Task stuck due to "Error: Reflect task args: test is not xxx""
If a task argument value of incorrect type is passed, the tasksignature.Get method get stuck waiting
for a result.

Example client:

[code]
The worker displays the following error:

2016/01/04 16:18:47 Failed processing task_488a2edb-433b-4fda-a4eb-d5a59568f3a3. Error = this-is-a-string is not int64
2016/01/04 16:18:47 Going to retry launching the worker. Error: Reflect task args: this-is-a-string

[2016-01-05 03:40] #56 closed

[2016-01-18 11:08] parhamdoustdar opened #59 "Converting `error` to type `string` has weird consequences"
When my function is called and it returns an error, it is converted to string, rather than an error. This causes `error` to be a string containing `<error Value>`. Here is an example:

[code]

When I run this, I see `<error Value>` in the log where I print `err`. It is because in `worker.go`, on line 92, the second returned argument is converted to `string`, and the string representation of an `er

[2016-01-18 13:46] parhamdoustdar commented on #59
Here are the changes I've made to make this work for me. I'm not sure if they are acceptable though, so I'm pasting the diff here:

[code]

[2016-01-18 14:59] RichardKnop commented on #59
@parhamdoustdar Can you open a PR and see if tests pass? It seems good on first glance.

[2016-01-18 16:17] parhamdoustdar commented on #59
Pull request done. All tests pass:

https://github.com/RichardKnop/machinery/pull/60

[2016-01-24 16:02] roee-indegy commented on #49
I have encountered this issue as well. BLPOP has a timeout parameter which makes it behave similarly to LPOP. So I just changed the call to BLPOP with a timeout. The response you get is a little different but it's documented quite well here: http://redis.io/commands/BLPOP

[2016-01-24 17:01] RichardKnop commented on #49
@roee-indegy Do you want to create a PR? :)

[2016-01-31 09:48] #59 closed

[2016-01-31 11:45] parhamdoustdar commented on #49
Why would `LPOP` increase CPU usage while `BLPOP` wouldn't?

[2016-01-31 12:03] roee-indegy commented on #49
@parhamdoustdar Using LPOP causes the goroutine to busy wait (constantly sampling the socket to see if there's a change) whereas using the blocking call causes the goroutine to enter a waiting state thus relinquishing its resources till the socket gets a reply from redis. It's similar to the difference between a spin lock and a regular mutex.

[2016-02-01 06:56] parhamdoustdar commented on #49
@roee-indegy Thanks a lot for the explanation!

[2016-02-01 08:17] RichardKnop commented on #49
This should be solved by this PR: https://github.com/RichardKnop/machinery/pull/61

If it is indeed solved, I will close this issue. Let me know if it works for everybody.

[2016-02-01 08:37] parhamdoustdar commented on #49
This works perfectly fine for me.

[2016-02-03 14:09] #49 closed

[2016-02-04 12:21] egorsmkv opened #62 "/del"
/del

[2016-02-04 12:22] egorsmkv commented on #62
Excuse me, my carelessness

[2016-02-04 12:22] #62 closed

[2016-02-15 16:02] parhamdoustdar opened #63 "A broker written with Go channels"
I was thinking of having a broker written entirely in Go. Its benefits would be:

- No external dependencies: you don't need Redis or AMPQ. It's all Go.
- You're not limited to marshalable data: I have to do some weird things because I can't pass a channel to my task handler function. If this was all in Go, I could pass any value I wanted.

Would it work with Machinery? Would there be a point in i

[2016-02-19 11:36] RichardKnop commented on #63
@parhamdoustdar Sure.

But if you are going to use just pure Go then there is no need for machinery at all.

The advantage of something like RabbitMQ or Redis is you can have workers running on multiple servers and distribute your tasks to be processed on many machines. This makes horizontal scaling easier.

You can also make your architecture more decoupled and run different tasks on different se

[2016-02-19 11:45] parhamdoustdar commented on #63
Very true. My use case is to only use Machinery so that I wouldn't have to implement my own library for queues and workers in Go, and that's why I use Machinery. I hadn't considered what you are saying though. Thanks for enlightening me.

[2016-02-19 11:45] #63 closed

[2016-03-14 01:27] pgruenbacher opened #70 "Pass struct as result value?"
Is there an opportunity for a task to return a struct or map value in order to pass more information. For instance if I'm doing file processing tasks, I'd like to convey information like filepaths, sizes, stats, etc. Currently I'm just writing the data to a json file and sending back a string value of the config filepath as a result. Is it problematic for passing such a struct value to chained tas

[2016-03-14 12:46] RichardKnop commented on #70
Structs are difficult as all return values must be JSON serializable. Maps might be easier to support but only restricted to maps that can be represented as a valid JSON object. So the implementation might be a bit trickier.

[2016-03-14 23:05] pgruenbacher commented on #70
Actually what I can do is just serialize the structs I need into strings manually myself using the encoding/json package for the time being. It seems similar questions are asked with Redis and the response is to serialize manually. http://stackoverflow.com/questions/27468458/go-how-to-save-and-retrieve-a-struct-to-redis-using-redigo

[2016-03-14 23:05] #70 closed

[2016-03-15 05:38] RichardKnop commented on #70
This sounds like a bad design. Any tasks exposed via machinery should probably quite simple and complex logic (methods that return, accept structs) should be private and called from the simple exposed public tasks.

What I would probably do is have some sort of a `Result` struct, which has a corresponding table in your database. Just return the primary ID of result object. And then whatever code w

[2016-03-15 12:16] randomandy commented on #52
I'd also like so see a scenario with NATS. Should be quite interesting to use it with Machinery

[2016-03-17 17:02] guillemcabrera opened #71 "Priority queues"
We've been evaluating different queuing alternatives for golang with a Redis backend. Machinery seemed to be promising, but we were worried about different priority queues usage.

We're building a system in which several workers should share a queuing system to pick and perform tasks. We want some tasks to have higher priority than others and workers to pick first from higher priority queues if th

[2016-03-18 03:55] RichardKnop commented on #71
@guillemcabrera You could do something "similar", where you can define multiple queues for different kind of tasks. And let's say you could have 4 workers consuming the important queue and 2 workers consuming the less important queue.

This way you could achieve at least something close to what you need, i.e. there would be more computing power for priority tasks.

Just have multiple workers with

[2016-03-18 03:58] RichardKnop commented on #71
With `AMQP` you could also take advantage of different routing algorithms. There is already support for that: https://github.com/RichardKnop/machinery/blob/master/v1/signatures/signatures.go#L27

[2016-03-26 07:22] ypyf opened #73 "Forget to close AMQP connection"
You open a connection in AMQPBroker.Publish method, but you don't close it.
Why?

[2016-04-20 12:22] randomandy opened #75 "Catch error on startup"
So I have something like this:
[code]
which leads to this if the worker cannot connect to the broker on startup:
[code]

I'm trying to figure out where the process dies. `server.RegisterTasks(tasks)` or in `worker = server.NewWorker("machinery_worker")` (I'm catching all other errors).

Although the output would suggest that the error actually occurs during `worker.Launch()`, which leads me to bel

[2016-04-20 13:03] randomandy commented on #75
Ok so I'm pretty sure it happens here:
`broker.StartConsuming()`
inside `Launch()`

[2016-04-20 13:48] randomandy commented on #75
This fixes it:
[code]

[2016-04-20 15:02] RichardKnop commented on #75
@randomandy HI Andy. Thanks for catching this bug!

I'm quite busy at the moment so it might take me few days to take a look. If you want, create a PR with a fix and I will try to look at it and merge it this weekend if time allows.

[2016-04-21 05:53] randomandy commented on #75
@RichardKnop Hey Richard. Sure thing, happy to help. Fix is in #76

[2016-04-21 15:40] scotwells opened #77 "Update task state with metadata"
Awesome work on this project!

Did you have any plans to add the ability for a task to update its state with metadata? I'm currently using this project to import data and it would be beneficial to be able to determine the progress of the task. I wanted to gauge the interest in having this feature before implementing it. My initial thoughts would be to add a field into the TaskState struct which wo

[2016-04-24 12:49] #75 closed

[2016-05-19 11:34] pbrazdil commented on #73
I don't get it as well. I am forced to use Redis as a backend.

[2016-05-19 13:43] RichardKnop commented on #73
Right. Sorry for that. If you want to submit a patch, feel free to do so. I'll look into fixing this myself eventually.

[2016-05-19 15:39] RichardKnop commented on #73
@ypyf @pbrazdil Try the latest code in master. Does it fix the issue? Let me know. Also guys, feel free to submit patches. I haven't had much time to work on maintaining this library recently.

[2016-05-19 15:39] #71 closed

[2016-05-19 15:41] RichardKnop commented on #77
@scotwells Hi Scott. Thanks. This actually sounds like a pretty useful feature to have. I would definitely like to implement something like this.

I haven't had much time to work on this library lately but eventually when I will have some spare time it would be something I might look at. Also if you want to submit a patch which implements something along these lines, feel free to do so.

[2016-05-20 03:59] kcoleman731 opened #80 "Add logic to query current tasks in a queue"
@RichardKnop been working with Machinery for a few months now and it is really great. Thank you so much for your work on the project!

I am interested in the ability to query a broker for tasks that are currently enqueued. I've searched through the project and don't believe this is currently supported.

Unless I am mistaken, would you consider a PR that provides this functionality? I'm interested

[2016-05-20 08:18] pbrazdil commented on #73
Thank you Richard, seems like it's working. Btw, I plan to do some PRs in the future.

[2016-06-15 05:08] #73 closed

[2016-07-07 15:18] zhulik opened #83 "Worker's concurrency limit"
Hi, is there way to limit count of concurrent tasks running on one worker server? For example: I know, thar server A is slow, but server B is fast and i want to server B perform more tasks than server A. I want to told machinery worker that it can perform only 10 goroutins on server A, and 20 on server B.

Or another method: on servers i have some metric(GPU memory usage) and i want to configure w

[2016-07-18 16:10] RichardKnop commented on #80
@kcoleman731 Could you create a PR for this? I think this would be a useful method to add to broker interface. However it would need to be supported by RabbitMQ too before it can get merged.

If you open a PR with your Redis implementation, I would try and add RabbitMQ equivalent.

[2016-07-18 16:12] RichardKnop commented on #83
The first use case could be supported. We could add a parameter so worked would only consume a new task if it is processing less than N tasks at the moment. That seems like it could be done.

The second use case (with GPU or other metric) sounds more difficult to implement.

[2016-07-18 16:52] RichardKnop commented on #80
@kcoleman731 I have added this to the master branch with a small change. The method takes `queue` parameter and is named a bit differently. See: https://github.com/RichardKnop/machinery/blob/master/v1/brokers/interfaces.go#L14

[2016-07-18 16:52] #80 closed

[2016-07-18 16:52] RichardKnop commented on #50
@F21 I am closing this for now but am open to a PR adding new broker.

[2016-07-18 16:52] #50 closed

[2016-07-18 16:53] RichardKnop commented on #52
@randomandy @joeblew99 I am closing this for now but am open to a PR adding a new broker (such as NATS).

[2016-07-18 16:53] #52 closed

[2016-07-18 16:55] RichardKnop opened #85 "Refactor Tests"
I have been going over tests recently and while the test coverage is decent, there is a lot of low hanging fruit to improve the tests. Make them more readable, reuse code.

I would like to use `testify` library instead of just Go's core testing module. I have been using `testify` in my other projects and it improves the tests readability and maintainability.

See: https://github.com/stretchr/testi

[2016-07-18 16:56] RichardKnop commented on #53
@ghost I am closing this for now. If you have managed to find a way to fix this please open a PR. I will reopen this if other people encounter the same issue.

[2016-07-18 16:56] #53 closed

[2016-07-18 17:57] zhulik commented on #83
You can implement this feature as user-defined function, with simple interface
[code]
By default it will be like this
[code]

And allow users to implement his own functions, based on his requirements

[2016-07-29 09:39] vampirekiss opened #87 "Runtime Error: index out of range"
file: ./worker.go
line: 139
[code]

this code on my machine will got an error "Error = runtime error: index out of range"

value of "results" is ``[<int Value>]``

go version: go1.6.3 darwin/amd64

task:
[code]
worker:
[code]

[2016-07-29 11:12] vampirekiss commented on #87
my wrong, forgot it

[2016-07-29 11:12] #87 closed

[2016-07-29 22:28] mehcode opened #88 "Feature Request: Pluggable Logger"
Something simple where we can have this library use a logger that follows the standard interface would be good.

I'm looking to use logrus to hide a good chunk of the `printf` spam that I get from using this library.

[2016-07-30 09:30] RichardKnop commented on #88
@mehcode Would you like to propose a PR? I agree that logging needs to be done in a more sensible way. There should be a way to configure custom loggers.

[2016-07-30 10:23] mehcode commented on #88
Oh It's definitely something I wouldn't mind contributing to; just don't expect something fast (I don't often get time to work on things like this though I do enjoy it).

---

I'd propose the following -- change `Config`  to accept a `Logger StdLogger` (interface type copied out from logrus -- https://github.com/Sirupsen/logrus/blob/master/logrus.go#L97-L109 ).

Then its just a matter of propagati

[2016-08-02 13:08] RichardKnop commented on #85
Done.

[2016-08-02 13:08] #85 closed

[2016-08-04 21:13] hryx opened #89 "Support unix domain socket Redis connections"
Hello,

I'm working on an application which uses Machinery with a Redis backend, both embedded on a single desktop client. For a few reasons, we've concluded that using a unix domain socket is preferable to a network socket. Socket connections are already supported in redigo, so I'd like to propose extending that support to Machinery.

This may not fit perfectly with the current means of instantia

[2016-08-06 07:19] owenhaynes opened #91 "Feature Request: Delay task"
Ability to delay the tasks for processing e.g run task in 5 Min.

Could be implemented by adding a Execute Time to the task signature, and by user a helper method e.g

[code]

When the worker gets the task, it holds onto it until the execution time and then runs it.

You want a store a time to execute and not just the delay as you want to guarantee that the task is run as close as possible to it,

[2016-08-06 11:46] RichardKnop commented on #91
A good concept and I agree in principal.

This could be supported natively by AMQP. You can schedule a delayed task. Redis broker also supports delayed tasks I believe.

So this could be implemented in a native way with both AMQP and Redis which is good as I am trying to keep the library behaviour consistent with different brokers / backends.

This would be taken care of by RabbitMQ / Redis proces

[2016-08-06 12:03] owenhaynes commented on #91
I thought rabbit required installing a plugin for delayed tasks, the plugin
then requires a header being applied to tasks with the delay

On 6 Aug 2016 12:46 p.m., "Richard Knop" <notifications@github.com> wrote:

[2016-08-06 12:09] RichardKnop commented on #89
I like this proposal. I had the similar problem before when adding support for Redis passwords, to support both:

- `redis://127.0.0.1:6379`
- `redis://password@127.0.0.1:6379`

I was thinking at a time to possibly change `Config. Broker ` and `Config.ResultBackend` from strings to some sort of a struct with multiple properties instead of supporting ever more complex connection URL formats.

Perha

[2016-08-06 12:18] RichardKnop commented on #91
If it requires a plugin then I wonder how would this work.

We need to store the execution time somewhere. So if you are using AMQP for both broker and backend this is a bit of a problem.

You can use a hack of storing the execution in a unique queue, something like `task_id_execute_at`. The message is gone once you read it form queue.

See this comments in AMQP backend: https://github.com/Richard

[2016-08-08 07:43] owenhaynes commented on #91
I do not think its a good idea to have another process to be able to delay random run tasks. Only ever used redis for celery backend and AMQP for the broker. So not seen any of the flaws of AMQP as a backend.

Could do something like this https://ivanyu.me/blog/2015/02/16/delayed-message-delivery-in-rabbitmq/ for AMQP backends?

I agree that it make sense to have something similar to celery-beat i

[2016-08-08 20:15] hryx commented on #89
Ah, modifying `Config` looks like a more accessible and sensible approach than the `redis.DialOption` suggestion I made. I like it better.

I wouldn't mind making the changes, but the downside is that it would break existing configs and necessitate a `v2` API. This change alone seems a little small to warrant a whole new API version.

Expanding the URL parser is a bit of a cheap workaround, but it

[2016-08-10 11:19] RichardKnop commented on #91
@owenhaynes Agreed. Delaying tasks should be part of the main process. If you have a solid idea how to implement this, PR's welcome!

Scheduling tasks (something like CRON) could come later and probably be a separate process.

[2016-08-10 11:20] RichardKnop commented on #89
Tbh, I think this library is still quite new / experimental so I hope most people are pinning down against a specific commit in their projects and not just pulling from master (in case there are some breaking changes).

But I agree, the second option seems quicker and won't break anything for now.

I might do the config modification later, it would still be under v1, not sure I want to move to v2

[2016-08-10 23:34] hryx commented on #89
Roger that. Thanks @RichardKnop, I'll get started on updating this and send a PR soon.

[2016-08-11 11:20] RichardKnop commented on #89
Sounds good!

[2016-08-13 03:51] chennqqi opened #92 "Publish Message error when use redis as broker"
Publish Message: write tcp 192.168.56.1:14302->192.168.56.6:6379: wsasend: An existing connection was forcibly closed by the remote host.

I start a chord task which has more than 1500 subtask， one of each contains a 1K bytes message.

[2016-08-13 03:53] chennqqi commented on #92
This error may be redigo's bug

[2016-08-13 07:43] RichardKnop commented on #92
@chennqqi I am not sure what is causing the error. This needs to be investigated further.

FYI: https://github.com/RichardKnop/machinery/issues/30

There is a bug with chords on Redis. They don't work correctly at the moment. So could be related.

[2016-08-13 11:37] chennqqi commented on #92
Yeah, I use chords on Redis. I found workers 'ESTABLISHED' too many connections with broker&backend. so, that's way publishing tasks  failed(wsasend: An existing connection was forcibly closed by the remote host).  Each subtask of a chord has a connection with broker&backend.

[2016-08-13 14:58] RichardKnop commented on #92
I see. Can you make a PR to fix this?

[2016-08-13 15:07] chennqqi commented on #92
ok. I will have a try. or I sugguest using nsq or nats instand of redis...
Now, i simply package a chord task (with a lot of subtask) as a standard task to escape this problem.

[2016-08-14 16:25] dokterbob commented on #87
@vampirekiss What was the problem here, in the end? I'm running into the same (probably similar) error.

[2016-08-15 09:19] RichardKnop commented on #87
Your task needs to return second argument, an error. I believe that might be it.

[2016-08-15 09:25] dokterbob commented on #87
I discovered what caused the problem, though I'm not sure whether it's a feature or a bug.

It seems that machinery assumes that a return argument (besides an error) is required, whereas in my application no return value is needed. Perhaps machinery should not assume there to be non-error return arguments or this could be documented better.

[2016-08-16 00:37] saggit opened #94 "Could not send task"
Hi,
    When I test with the example, I got this error:
[code]

I am running RabbitMQ 3.6.4 on my mac and use the default exampleconfig.yml,

I also do search, the problem seems to be  declare it again with a x-message-ttl, so i remove this line

[code]
then it works fine,  is there other way to solve this problem?

thanks.

[2016-08-16 06:58] dokterbob opened #95 "Configurable prefetch count"
Having machinery run with tasks that have a long (+1 minute) I/O wait gets tedeously slow. It would be great to be able to increase the prefetch count.

For APMQ, this lives here:
https://github.com/RichardKnop/machinery/blob/fdb5d381481abc9a365bb091a4a58bdd5b23c610/v1/brokers/amqp.go#L66

[2016-08-16 07:07] RichardKnop commented on #95
@dokterbob I agree. Do you want to create a PR? Probably another field in config so this can be configured instead of current state when it's hardcoded to 3.

[2016-08-17 19:23] dokterbob commented on #95
I have been considering it, but for my particular application I think I might be better off interfacing with AMQP directly - I might want to do stuff like dynamically requesting more work for slower tasks and don’t need results at all.

Should I change my mind, you can be sure to find yourself a pull request - although that would be my first contribution to a Go project. :)

[2016-08-18 08:17] owenhaynes opened #96 "Feature print stack on panic"
Print the stack when panic happens when processing task.

At the moment the stack is lost when a panic happens inside of a task. I do not know if its best to enforce people to put there own handling for panics or just update the global worker panic recover to have a stack trace, or both?

At the moment you can get into situations like this:

Which makes it impossible to debug.

If its a good idea

[2016-08-20 06:50] RichardKnop commented on #96
@owenhaynes This is a good idea. Should be part of the worker processing logic. Can you make a PR?

[2016-08-20 06:52] RichardKnop commented on #94
@saggit

Source: https://github.com/streadway/amqp/issues/60#issuecomment-18119437

[2016-08-25 06:18] saggit commented on #94
thanks.

[2016-08-25 06:18] #94 closed

[2016-08-27 11:23] palanglung opened #97 "extensible brokers and backend?"
current implementation for broker and backend are with factory that use connection prefix as backend selector and i think is not posible to extend the broker or backend? CMIIW how about
database/sql style backends and brokers?

[2016-08-27 11:46] rooty123 commented on #96
Any ideas how to walk around it at the present time?
I cannot find what's the reason of the error:

Error = runtime error: invalid memory address or nil pointer dereference

[2016-08-27 14:41] #89 closed

[2016-08-27 15:19] RichardKnop commented on #96
@rooty123 @owenhaynes This has been fixed now: https://github.com/RichardKnop/machinery/pull/98

[2016-08-27 15:19] #96 closed

[2016-09-06 03:57] ryanbaer commented on #88
+1

[2016-09-06 05:45] RichardKnop commented on #88
@ryanbaer @mehcode https://github.com/RichardKnop/machinery/pull/99

[2016-09-06 05:46] RichardKnop commented on #88
Merged

[2016-09-06 05:46] #88 closed

[2016-09-06 06:44] RichardKnop commented on #88
@ryanbaer @mehcode documented here: https://github.com/RichardKnop/machinery#custom-logger

[2016-09-07 11:07] davidje13 opened #100 "Avoid logging potentially sensitive data"
I have a use-case where semi-sensitive data is passed around through a redis queue. This data should not be revealed in the logs, but https://github.com/RichardKnop/machinery/blob/master/v1/brokers/redis.go#L211 causes the data to appear.

Ideally it should be possible to suppress this output without suppressing all log output (currently it is possible to provide an alternative logger implementati

[2016-09-08 02:14] RichardKnop commented on #100
@davidje13 If you would like to contribute, this sounds like a useful feature. PR welcome!

I might add this functionality to filter out certain logs (perhaps based on level) in the future but not sure how soon it will be as there are other issues higher on my list of things I want to do first.

So if you need this quickly, I'm open to merging a PR that solves this.

[2016-09-10 19:30] kavirajk commented on #91
I think we don't need either CRON or delayed-message-delivery-in-rabbitmq as suggested by @owenhaynes for delay task.

We can do the way celery does it. Point to note here is celery doesn't use celery-beat for delayed task. It uses beat only for periodic tasks (CRON).

The way actually cerely handles is via simple kwargs eta=<to-be-executed-time>. refer here http://docs.celeryproject.org/en/latest

[2016-09-11 11:19] RichardKnop commented on #91
@kavirajk Your proposed solution makes sense! This seems like it might not be that difficult to implement. Feel free to submit a PR if you need this fast :)

[2016-09-14 18:39] vamsu commented on #30
FYI, this affects mongo backend as well.

[2016-09-17 09:32] kavirajk commented on #91
@RichardKnop I think I can pick this up coming week.

[2016-09-25 18:00] kavirajk commented on #91
@RichardKnop I had a second thought while implementing this feature,

Why don't we just use time.Timer feature to delay the task

example: To delay Add task to 10 seconds, we can write in the following way

[code]
@owenhaynes what do u think?

[2016-10-05 19:01] brannon commented on #91
One use for Celery delayed tasks is when retrying a task (e.g. `task.retry(countdown=30)`).  That could be implemented via the "eta" / "unacknowledge" approach pretty easily if you are just re-queueing the same task with an eta.

[2016-10-13 02:41] RichardKnop commented on #100
@davidje13 You can use your custom logger to filter out certain logs: https://github.com/RichardKnop/machinery#custom-logger

[2016-10-13 02:43] RichardKnop commented on #97
@palanglung To implement a new broker or backend, you just need to follow these interfaces:

- https://github.com/RichardKnop/machinery/blob/master/v1/brokers/interfaces.go
- https://github.com/RichardKnop/machinery/blob/master/v1/backends/interfaces.go

The current factory is not very flexible, I agree. That is one of the things I would like to refactor.

Instead of prefixes I would like to inste

[2016-10-20 12:35] mdouchement commented on #97
I have made a prototype with Postgres [here](https://github.com/mdouchement/machinery-pg) that works well.

The relevant points are:
- As @RichardKnop said, its a bit difficult to use external implementation with the current factory
- SQL databases do not fit well for tasks' broker because you need to poll the data

[2016-10-21 03:49] RichardKnop commented on #97
@mdouchement If you'd like to improve / refactor to make it easier to add custom external implementations, PRs welcome :)

[2016-11-14 15:56] oleksandr opened #105 "Setting the concurrency level for worker?"
As far as I can see it's not possible at the moment to set the size of worker's pool? How do you plan to throttle incoming tasks to protect the resources?

[2016-11-15 01:22] catherinetcai opened #106 "Launch machinery worker within application?"
I'm trying to use machinery within a larger application. I was wondering if there was any way to launch machinery workers within the application, so that it can send and work on applications at the same time...

Or am I fundamentally misusing machinery?

[2016-11-15 03:47] RichardKnop commented on #106
This should be possible. You can create a worker and launch it inside your application.

[code]

You could launch it inside a goroutine if you wanted to.

However I would probably run it as a separate process. Imagine this library like Python's `celery`.

You would run celery workers as separate process and send celery tasks to them from main application.

[2016-11-15 03:48] RichardKnop commented on #105
@oleksandr Currently this is not possible. I would like to add this feature though if I have enough time as I think it's important. Feel free to submit a PR if you have a working implementation of worker concurrency.

[2016-11-15 06:07] catherinetcai commented on #106
@RichardKnop - Thanks for the quick response! I thought that would be the case, so I set it up, but I seem to be having a few issues...

I start a new worker inside my application and I see that it connects to Redis (using both Redis as a broker and a backend), and it hangs unless I launch it in a separate goroutine:

`machinery: worker.go:28: - Broker: redis://localhost:6379
machinery: worker.go:

[2016-11-17 08:22] gofort opened #107 "Creating workers with different configurations"
Exchange, Exchange type, Default queue, Queue Binding Arguments and Binding Key, tasks are worker configurations, not server. For now we can't create worker which will use another queue except default, because we need to create new server instance and create worker from it. I think that only broker, result backend, result expire in and TLS configurations should be in servers config struct.
And whe

[2016-11-22 14:49] oleksandr commented on #105
@RichardKnop OK, this is something I'm currently looking at and would love to submit PR soon.

[2016-11-22 16:09] RichardKnop commented on #105
@oleksandr Cheers. Looking forward to it!

[2016-11-28 03:58] #100 closed

[2016-11-28 04:00] RichardKnop commented on #107
@gofort You are correct. The configuration is one of the main areas that needs refactoring if I get enough time.

I was thinking of different way to refactor config. What you mention seems like a good approach. Also the format of connection strings is a bit ambiguous so I was looking at refactoring that as well.

If you would like to contribute and submit a PR with refactor/more sensible structure

[2016-11-28 04:02] RichardKnop commented on #106
@catherinetcai There could be some deadlock going on, I am not sure. Have you had any luck debugging this to see where the issue is coming from? I will look once I have some free time.

[2016-11-28 04:04] RichardKnop commented on #95
@dokterbob Fair enough. For many use cases interfacing directly with AMQP is better than using this library. Depends on what problem you are solving :)

[2016-11-28 04:04] #95 closed

[2016-11-28 15:48] dokterbob commented on #95
That's indeed what I ended up doing. :)

Thanks. :)

[2016-11-28 16:27] egorsmkv opened #109 "Panic on tasks without results"
I create simple task without result, example:

[code]

But server panic after I request this task:

[code]

[2016-12-06 23:11] michaeltcoelho opened #110 "Is machinery ready for using it in production?"
Hey there! I came from python and its celery library for distributed messaging. Is there anyone using machinery in production already?

[2016-12-24 02:05] marcsantiago opened #112 "Using Machinery with Python Celery"
I was curious as to whether or not I could use Machinery to communicate with python via celery. For example if I have a go webserver, can I send a task to the queuing system and then have a python script using celery execute that task and then retrieve the results with Go again?  I'm in the process of creating a hybrid system where all automations are done in python, but the web app is in Go. So I

[2016-12-24 07:45] RichardKnop commented on #112
@marcsantiago I am afraid this will not work at the moment. Machinery was inspired by celery when I originally wrote it but they are not identical, the format of messages is a bit different.

You could probably rework the library to use identical format to celery in which case it might work. Not sure that's worth the effort.

It might be trivial to send tasks to celery from Go just using the AMQP

[2016-12-24 07:45] #112 closed

[2016-12-28 07:04] saggit commented on #109
Yes, try to return (string, error) in your task define.

[2016-12-28 07:36] RichardKnop commented on #109
Yes this is currently an issue. Tasks that don't return an argument back but just error will fail.

You need to return some value + error from tasks. This might not be too difficult to refactor.

This function will probably need to become more robust:

https://github.com/RichardKnop/machinery/blob/master/v1/worker.go#L231

As currently it makes an assumption that second returned value is an error.

[2016-12-28 21:45] gonzalobustos commented on #91
+1
I'm really interested in this feature.

[2016-12-29 02:41] catherinetcai commented on #106
@RichardKnop - Looks like the only way I've been able to resolve this has been to create a slice of workers, and then instantiate these workers in a goroutine.

[2017-01-16 22:05] bscott commented on #110
This project is still very young, doesn't seem to be ready for Production, but that's up to your needs and how critical they are.

[2017-01-17 02:48] RichardKnop commented on #110
I am not aware of anybody using machinery in production. I know about multiple instances of people experimenting with it in development environments.

Of course, there might be somebody our there using it in production already :)

It would help the project if some companies or people actually used the library in their production environments, maybe on smaller scale to see how robust it is.

[2017-01-19 09:12] hphilipps commented on #105
@oleksandr I think PR #111 is implementing what you asked for and is merged with master.

[2017-01-19 09:35] #105 closed

[2017-01-19 10:03] hphilipps commented on #83
PR #111 added a config option to limit the number of worker instances.

[2017-01-19 10:17] #83 closed

[2017-01-19 10:17] hphilipps opened #113 "Retry is never set to true for workers"
There is support for relaunching failed workers with a backoff time in machinery, but in the Redis and AMQP brokers the `retry` field is never set to true, so workers will never be restarted when they fail. As the Redis worker will die as soon as Redis becomes unavailable, setting `retry` to true would prevent the worker from staying down forever in such a case. Is there a reason for not retrying?

[2017-01-19 14:58] RichardKnop commented on #113
I just looked at the code and it seems retry is set to `true` in the AMQP broker constructor:

https://github.com/RichardKnop/machinery/blob/master/v1/brokers/amqp.go#L28

You can test this by launching example worker:

[code]

And then turning RabbitMQ off and on:

[code]

There does not seem to be a way to turn off the retry logic, it's just hardcoded to `true`.

However I just looked in the red

[2017-01-19 15:00] RichardKnop commented on #113
Sorry for this issue. For quick fix I suggest, just set retry to `true` in `NewRedisBroker`:

https://github.com/RichardKnop/machinery/blob/master/v1/brokers/redis.go#L35

That should prevent worker from quitting if there is problem with Redis connection.

Do you want to create a PR for this?

[2017-01-19 15:06] hphilipps commented on #113
Ah - I didn't notice that retry is already set to true for AMQP. In this case I will just create a small PR to also set it to true for Redis - because that's what I'm mostly using. I think there is no reason to disable retries at all. The fibonacci based backoff sequence is nice and should be used! 😄

[2017-01-19 15:08] RichardKnop commented on #113
Sure, submit PR and I will merge it.

[2017-01-19 16:09] #113 closed

[2017-01-30 18:55] sergebezborodov opened #115 "How to pass addition data to worker?"
Hello!

I want to pass Machinery server instance to worker, how can I do this?
My worker must set tasks to another workers.

Thank you

[2017-02-01 12:00] RichardKnop commented on #115
@sergebezborodov Hi,

Sorry for late reply. Currently there is no way of doing it.

I am thinking about whether this is a good idea to implement such feature. I am not sure accessing server instance inside tasks is a good practice / idea.

This could lead to deadlocks within tasks potentially. I know you can do this with celery but it is advised against as it's a bad practice.

If there is a clean

[2017-02-03 16:47] kartlee opened #116 "How to retry failed tasks?"
Hi,

Is there a way to configure the worker to retry the failed task at periodic interval and give up and report in the task queue status?

-Karthik

[2017-02-03 20:17] siredwin opened #117 "Using SQS Broker and S3 Results Backend."
I currently use Python Celery with SQS broker and S3 results backend in a production ready environment.  How hard will it be to create this configuration with machinery in go?  I am in the process of migrating everything to go.

[2017-02-04 00:44] kartlee commented on #116
I see a OnError callback in the task signature. I assume we can register a worker which can exclusively retry failed tasks? Is there a working example for this?

[2017-02-04 11:04] RichardKnop commented on #30
@vamsu Update. This has been fixed for Redis backend now. The way to fix it is using distributed locks.

For MongoDB backend, you could fix this bug by implementing this method: https://github.com/RichardKnop/machinery/blob/master/v1/backends/mongodb.go#L100

See Redis implementation for reference: https://github.com/RichardKnop/machinery/blob/master/v1/backends/redis.go#L98

[2017-02-04 11:56] RichardKnop commented on #117
It would not be too difficult. But I guess it would require a week or two of work. You can look at interfaces in `brokers` and `backends` directories. You just need to implement them. And I would also add unit and integration tests.

[2017-02-04 11:57] RichardKnop commented on #116
@kartlee There isn't a way to configure machinery to retry failed tasks at the moment. You can set callback tasks (OnSuccess task will be called when task completes successfully, OnError task will be called when the task failed - and the error string will be first argument passed to it).

[2017-02-10 20:56] Blogoslov commented on #94
@RichardKnop Speaking friendly I don't get how the queue can be declared without x-message-ttl when server and sender before initialization has and read the same config file and set the same option 'results_expire_in:' which mentioned in the config file.

And I don't understand how it can be fixed? Where and how should I declare int32 x-message-ttl? Could you please explain with small example?

Th

[2017-02-10 22:36] Blogoslov opened #118 "How create task with time delay?"
I have created following task which should wait 20 sec and exit

[code]
also I have registered it like this
[code]

and executed by this way:

[code]

But it exit immediately and sleep was not run. Return text is available as return value so this procedure executed.

So the question - what wrong with this task?

Thanks and regards

[2017-02-11 18:04] Blogoslov commented on #118
Sorry, my false - everything is working fine with sleep function.
Please reject this item.

[2017-02-11 18:04] #118 closed

[2017-02-14 18:47] davmaz opened #119 "runtime problem"
Great package -- looks very interesting. But I installed rabbitmq and ran the examples as you've described in the documentation, and it fails with this output:
machinery: worker.go:110: Processed task_2e01a458-61ec-40f2-968e-775c12fa3b57. Result = 68
machinery: amqp.go:159: Received new message: {"UUID":"task_125cbb34-be07-4f3d-9fb4-288cad6c1971","Name":"panic_task","RoutingKey":"","GroupUUID":"",

[2017-02-14 19:24] davmaz commented on #119
Sorry for the bad issue report. I didn't have a backend running.

[2017-02-14 19:24] #119 closed

[2017-02-17 14:48] yexiangyu opened #120 "more complex workflow?"
Hi all,

I'm designing a solution require to create a workflow with couple of steps constructed  by some group/chord/chain/task together. Is there any plan of this feature? Or should I implement it outside of machinery? Any suggestion will be welcomed.

Thanks for your great job at first, really wonderful piece of work.

[2017-02-20 00:34] kartlee commented on #116
Thanks Richard. Feel free to close it.

-Karthik

[2017-02-20 00:35] kartlee opened #121 "Recommended procedure to start the worker(s) under development and production?"
Is there a recommended notes to restart the workers under development and production environment? I see an equivalent for celery and it would be useful to have one for the machinery project.

-Karthik

[2017-02-27 09:38] Blogoslov commented on #120
Hello yexiangyu,
yes I also  search such functionality at 'machinery' but it seems not available. Do you have any ideas how it can be done until it does not supported by 'machinery'?

[2017-03-02 09:29] saggit commented on #121
Have same question, For now, If I press control +C, the worker stop immediately, How to implement a feature like celery, give it a warm shutdown?

[2017-03-03 17:02] dkiser commented on #116
This would be an AWESOME feature that aligns with a few key requirements of the system I'm looking to migrate away from (Celery in Python).

[2017-03-03 17:03] kartlee commented on #116
Excellent. Looking forward for the change...

[2017-03-06 17:02] hieven opened #122 "redisBroker.errorsChan deadlock"
Hello,

Please follow step below to reproduce the problem.

1. Send multiple group tasks to queue
2. Shut down the process
3. Wait key `task_****` expires
4. Run worker to process the group tasks
5. Deadlock

Here is the demonstration of why this happens

[code]

the main process will get into `case k` in the first time and it will emit a goroutine.
later, the main process still get into `case k`

[2017-03-07 15:49] kartlee commented on #121
Any update?

[2017-03-08 03:45] RichardKnop commented on #121
I agree this is an issue. I don't have much free time at the moment so I would accept PRs dealing with this problem.

[2017-03-09 07:00] asimashfaq opened #123 "Connection Reset By Peer"
Why am getting this error "connection reset by the peer"

http://prntscr.com/ehqfop

When i wait for the task result it just crash the sender

[2017-03-09 07:27] asimashfaq commented on #123
When ever i try to send 150+ task at once it  reset my connection

[2017-03-15 21:56] foobargeez commented on #116
+1 retrying failed tasks will be pretty helpful.

[2017-03-15 22:01] foobargeez commented on #121
In need of warm shutdown akin to Celery.  @RichardKnop, I would be happy to contribute but I am not currently a golang guy, unfortunately.  BTW, I know time is the issue here but if it helps, I am happy to swallow some of the development costs if you are willing to put in hours.  If you're interested, please drop me a message in gitter.  Thanks!

[2017-03-23 03:08] chennqqi opened #125 "How to cancel a task?"
When I start a long-term task, how to cancel or stop it

[2017-03-24 18:42] macnibblet opened #126 "Disable prefect in rabbitmq for long running tasks"
I was reading through the code and I noticed the rabbitmq broker pre-fetches three messages, which might be a concern for me with very many long running tasks encoding files.

[2017-04-05 19:13] Mudpuppy12 opened #127 "Returning results of task with uuid"
Is there a way to return the results of a task providing the taskState.TaskUUID?

I've set up a test to get the results but with a 5 second wait. (ie, all workers down, or a working task taking a bit of time.

result, err := asyncResult.GetWithTimeout(5000000000, 1)

It will return the result, or on error it will return the taskState.TaskUUID to a client.

I'd like to then retrieve the results bas

[2017-04-05 19:44] Mudpuppy12 commented on #127
This seemed to work, with some digging

task, _ := server.GetBackend().GetState("task_d7e33c78-6888-4e87-8a26-18a83b98fa95")

[2017-04-06 19:36] #127 closed

[2017-04-12 00:44] Mudpuppy12 opened #128 "Example of using machinery with restful api"
Thank you for this library. I am learning go, and expanded one of the examples a bit in a form of a restful API.

https://github.com/Mudpuppy12/doozer

[2017-04-26 18:04] tspecht commented on #91
Any update on this?

[2017-04-26 23:47] RichardKnop commented on #91
No update from me yet unfortunately.

[2017-05-01 01:09] #30 closed

[2017-05-01 01:16] RichardKnop commented on #126
@macnibblet This could be added to config object so it's not hardcoded.

[2017-05-01 01:17] RichardKnop commented on #125
There is no way to cancel a task at the moment. You would have to stop the worker process which is executing the long running task.

[2017-05-01 12:08] RichardKnop commented on #126
@macnibblet I have added `prefetch_count` configuration option so you can now disable it via config (or set it to a low number such as 1 so each worker will only be processing one task at a time).

https://github.com/RichardKnop/machinery/blob/master/v1/config/config.go#L31

[2017-05-01 12:08] #126 closed

[2017-05-01 15:35] RichardKnop commented on #109
@saggit @egorsmkv This should be solved in this pull request:

https://github.com/RichardKnop/machinery/pull/131

[2017-05-01 15:35] #109 closed

[2017-05-01 16:26] egorsmkv commented on #109
Thanks, Richard!

[2017-05-01 22:49] RichardKnop commented on #91
@owenhaynes @kavirajk @tspecht @gonzalobustos I have added support for delayed tasks. Currently it only works with AMPQ broker though.

See here: https://github.com/RichardKnop/machinery#delayed-tasks

[2017-05-01 22:49] #91 closed

[2017-05-01 22:49] #123 closed

[2017-05-01 22:49] #92 closed

[2017-05-01 22:50] #117 closed

[2017-05-01 22:51] RichardKnop commented on #122
@hieven Have you managed to solve this issue? Is it still happening?

[2017-05-01 22:51] #125 closed

[2017-05-01 22:52] #110 closed

[2017-05-01 22:52] #115 closed

[2017-05-01 22:52] #121 closed

[2017-05-01 22:52] #107 closed

[2017-05-01 22:53] #106 closed

[2017-05-01 22:53] #97 closed

[2017-05-01 22:53] #77 closed

[2017-05-01 22:53] #116 closed

[2017-05-01 22:53] #120 closed

[2017-05-01 22:53] #128 closed

[2017-05-02 09:28] tspecht commented on #91
Awesome, thanks a lot, exactly what I needed!

[2017-05-02 15:06] zfsamzfsam opened #133 "Suggestion: Support the nats.io as Messageing system"
NATS  is a simple, high performance open source messaging system for cloud native applications, IoT messaging, and microservices architectures.
https://nats.io/

[2017-05-07 21:46] RichardKnop commented on #133
@zfsamzfsam If you want to contribute, adding NATS broker would mean implementing this interface: https://github.com/RichardKnop/machinery/blob/master/v1/brokers/interfaces.go#L8

You can take a look at `AMQP` and `Redis` broker implementations to get some idea how it's done currently.

https://github.com/RichardKnop/machinery/blob/master/v1/brokers/amqp.go
https://github.com/RichardKnop/machinery

[2017-05-08 07:48] tspecht opened #136 "Result backend required"
Hey guys,

I'm trying to use machinery with AMQP as a broker and am not interested in collecting any of the results for now... However i seem to not being able to start a server without a result backend configured? Any idea?

[code]

[2017-05-08 09:02] RichardKnop commented on #136
It should be possible to start the server without backend. This line should ignore any errors:

https://github.com/RichardKnop/machinery/blob/master/v1/server.go#L32

However most functions will return error without a backend as it is required for most functionality, e.g.:

https://github.com/RichardKnop/machinery/blob/master/v1/server.go#L121

You can try using:

[code]

This will use `eager` in-

[2017-05-18 09:18] vanng822 opened #140 "Performance issue using redis as backend"
I use this package for running some background tasks and just upgraded to the latest (for using ETA and Group) but it turned out that the CPU usage was really high, almost 50% for go process and 40% for redis server (Redis server v=3.2.4  MAC).

I tried to profiling CPU but not really figured out what was going on. Any one has experienced or has time to test it out and confirm?

I use Mac and run

[2017-05-18 10:11] RichardKnop commented on #140
@vanng822 I have pushed a small improvement so try rebasing from master.

I have added a timer to only ping idle Redis connections every 15 seconds instead of every time you get a connection from pool:

https://github.com/RichardKnop/machinery/blob/master/v1/brokers/redis.go#L403

And I have also added a small delay to the go routine which is looking for delayed tasks in a `ZSET` as otherwise it w

[2017-05-18 11:11] vanng822 commented on #140
Thank for quick response

Not really help
Look like that
`"ZRANGEBYSCORE" "delayed_tasks" "0" "1495105325993073062" "LIMIT" "0" "1"`
returns zero length items wish causing error, the timer you just put in never reach.

Not really sure why it is empty now and not on the old version (revision bae667d798a33928db0349a5e2d098d20ce3b301). Maybe something that you know by heart? need to set it up?

Anoth

[2017-05-18 11:28] RichardKnop commented on #140
OK. I have moved the timer up. Try it now.

The older revision did not have goroutine which runs `ZRANGEBYSCORE`. This is needed for delayed tasks. So might be the culprit. I think this issue might be solved by placing a timer/delay to a proper place.

[2017-05-18 12:17] vanng822 commented on #140
That helps thank you,

I was thinking that delayed_tasks is nil when there are no delayed tasks. Isn't it better to stay in that for loop since it is expected that len(items) == 0, just continue instead of returning an error.

[2017-05-18 12:17] #140 closed

[2017-05-24 16:58] coli opened #141 "Resume failed workflow?"
If one of the task in a workflow failed, can I retry it and resume the rest of the workflow?

[2017-05-24 18:28] RichardKnop commented on #141
@coli Not right now. I would like to implement a retry functionality so you can specify how many times to retry a failed task before giving up. But that's not implemented yet.

[2017-05-30 21:01] RichardKnop commented on #141
@coli I have implemented a very basic retry logic. Hopefully it helps with your problem: https://github.com/RichardKnop/machinery#retry-tasks

[2017-05-30 21:02] RichardKnop commented on #116
@kartlee @dkiser @foobargeez I have implemented a very basic retry logic: https://github.com/RichardKnop/machinery#retry-tasks

[2017-06-02 17:32] #141 closed

[2017-06-02 17:33] #136 closed

[2017-06-04 08:08] Blogoslov opened #143 "received 'i/o timeout' error"
Hello. When I have multiple tasks sometimes I received such message:

Dial Backend: dial tcp 10.84.150.42:58060: i/o timeout

and my flow stops with panic error.

Is it possible to set some redial functionality to avoid such issue?

[2017-06-04 18:29] RichardKnop commented on #143
What backend are you using?

[2017-06-05 08:19] Blogoslov commented on #143
I'm using AMQ as a broker and backend.
Yes, broker has redial functionality. But this message from backend procedure.

[2017-06-18 16:42] Jolly23 commented on #123
I have the same problem, have you fixed it?

[2017-06-18 16:45] Jolly23 commented on #123
I use `SendGroup` to send my tasks, when I send 10 tasks, it works well. However, if I send 100 tasks, it tells me `read tcp 127.0.0.1:56064->127.0.0.1:56379: read: connection reset by peer`.
I do not know how to solve this problem.

[2017-06-18 16:45] Jolly23 commented on #123
@RichardKnop Could you help us?

[2017-06-20 03:08] Jolly23 opened #144 "`Connection Reset By Peer` When sending lots of tasks by `SendGroup`"
I use `SendGroup` to send my tasks, when I send 10 tasks, it works well. However, if I send 100 tasks, it tells me `read tcp 127.0.0.1:56064->127.0.0.1:56379: read: connection reset by peer. `Therefore, they won't be execute.
I do not know how to solve this problem.

[2017-06-20 05:12] Jolly23 commented on #144
Sometimes, my project has to send tens of thousands of I/O tasks
It used celery with rabbitMQ before I decided to shift the language from python to Golang
I am searching for the Golang RabbitMQ plan, I think using this package is the best way to replace the python's method.
But I meet this problem, I hope someone could help me.

[2017-06-20 05:14] Jolly23 commented on #144
I tried to use `SendTask` with a loop to send big amount of tasks, but it is very slow.
So I have to use the `SendGroup`

[2017-06-20 09:20] RichardKnop commented on #144
@Jolly23 I am aware of this problem but am currently very busy to really look into it.

What broker and backend are you using? I don't recommend RabbitMQ as backend if you want to process large amount of tasks. I would recommend RabbbitMQ for broker and Redis for backend in that case.

Or perhaps you can even try using Redis/Redis broker/backend combination to see if it is faster.

The code which

[2017-06-20 09:31] RichardKnop commented on #144
@Jolly23 You can see here:

https://github.com/RichardKnop/machinery/blob/master/v1/brokers/redis.go#L367
https://github.com/RichardKnop/machinery/blob/master/v1/backends/redis.go#L317

That with redis it is using a connection pool. So it keeps reusing same connections.

But with AMQP, this:

https://github.com/RichardKnop/machinery/blob/master/v1/backends/amqp.go#L49
https://github.com/RichardKno

[2017-06-20 09:32] RichardKnop commented on #144
@asimashfaq FYI

[2017-06-20 09:55] Jolly23 commented on #144
Thank you, now, I knew the problem.
Thanks again for your serious and responsible.
I will try to shift the backend.

[2017-06-20 12:56] Jolly23 commented on #144
But I just found that I met this problem when using RabbitMQ for broker and redis for backend, as you said.

[2017-06-24 01:46] jsm opened #145 "Set state pending error: MOVED 2912 172.31.3.148:6379"
Hey,

Great work on this library so far.
Having an issue when using an elasticache redis-cluster, since it does sharding and what not, the node you connect to might return a `MOVED` which is basically a redirect to the IP of the node you should actually be hitting.

[2017-06-26 14:13] RichardKnop commented on #144
@Jolly23 I did a quick test with 100 tasks and I am not getting an error. Replace `example/machinery.go` with this file: https://gist.github.com/RichardKnop/985d00eda8375aa4596c9d545b32538d

And try to run:

[code]

And:

[code]

I haven't had time to do any more detailed testing but this quick test processes group of 100 tasks and I don't get the error you are getting. Hmm.

[2017-07-04 12:49] clstb opened #146 "Any way of passing arguments from worker to task?"
Hello,

I would like to use machinery to query a 3rd party REST api distributed via tasks. Best practice afaik would be to pass the api client from a worker process to the task routine. That way connections get used efficiently and caching integrated in the client would work flawless without creating a new client for every task.

Is there any way I can achieve this or something similar with machin

[2017-07-04 19:01] RichardKnop commented on #146
There is a built in support for passing context as first argument to tasks: https://github.com/RichardKnop/machinery/blob/master/v1/tasks/task.go#L21

Possibly something similar could be done to optionally inject other objects to the task. I would need to think of some way to make this generic though so you can pass arbitrary object which might not be straightforward.

You could have all your task

[2017-07-05 09:00] RichardKnop commented on #146
@clstb what do you think?

[2017-07-05 09:21] clstb commented on #146
Storing the API client internally appears to be the best solution. I forgot that this was actually a thing. I could probably do the same thing with a DB connection too.

I´m a beginner in terms of microservices so there is another question you could help me out with.

The API I query returns simple JSON. Do you think I should go for the approach you advised in https://github.com/RichardKnop/machin

[2017-07-11 09:02] Blogoslov opened #147 "Need example for non-block run"
Hello,
could you please share an example how to use non block tasks run?

As example I used 'machinery.NewGroup' and added tasks into group, then I used 'server.SendGroup' and sent tasks for execution and then I did block execution which stopped and wait when tasks will be generated

[code]

How can I start tasks and continue get information that some tasks from the mentioned above group are compl

[2017-07-13 07:29] zyanho opened #149 "endless loop bug when use delayed task"
env like this
golang 1.8
machinery lastest, redis broker & backend
TaskA & TaskB, just return some err
TaskA register by WorkerA , defaultQueue WorkerAQueue, retry 2
TaskB register by WorkerB, defaultQueue WorkerBQueue, retry 0

reproduction steps
1. run WorkerA & WorkerB two process. WorkerA watch "WorkerAQueue,delayed_tasks", WorkerB watch "WorkerBQueue,delayed_tasks"
2.Send TaskAObj Task to Wor

[2017-07-19 09:33] saggit opened #150 "worker hangs"
hello

I have a  worker running some tasks, but most time, the worker is idle, may be weeks or more.
and I find the worker just `dead` with no respond even with Ctrl + c.

some details:
golang 1.8.1 use rabbitmq as backend and redis as result backend
cross compile build on mac and running on centos7

here is some details when i press control+backslash

`^CWARNING: 2017/07/19 16:36:22 worker.go:59

[2017-07-19 09:44] RichardKnop commented on #150
This might have been solved by this commit: https://github.com/RichardKnop/machinery/commit/bbdc469fc5ec89871a303ef2f6e33ad3f4ba89bd

Are you running latest code?

[2017-07-19 09:50] saggit commented on #150
Yes, I try to solve it by use the latest code, but it still hangs,
more detail, the problem will happen when worker idle for days.

[2017-07-20 10:05] saggit opened #151 "Multi Config file only create same Config object"
If i have multi config file(config.yml), v1/config/file.go:14 will stop create new Config object after the first config file loaded. I am not sure it's done by purpose or a bug, But if i want to have multi server, I need put multi conf,

btw, comment
`// if configLoaded {
 // 	return cnf
// }` works fine

-----------------------------------------
edit: the comments above does not help.

----------

[2017-07-20 18:57] mbyio opened #152 "Support for SQS and S3 results backend"
Sorry if this is annoying - I did see #117 - but I thought we ought to have an open issue/feature request since I would like to be able to use SQS.

[2017-07-21 10:55] RichardKnop commented on #152
Sure there can be an open issue. I am not planning to add support for these new backends myself though so it would need to be contributed by somebody else.

There still needs to be more focus on making current broker/backend implementations more robust.

[2017-07-21 10:57] RichardKnop commented on #151
Have you set `keepReloading` to true? That needs to be set to true for auto config refresh to work.

[2017-07-21 11:18] saggit commented on #151
I don't want the reload feature, what I need is create multi Config object with different settings

[2017-07-23 21:26] clstb commented on #146
I think we can close this by now. I figured that using MongoDB as ResultBackend and general persistent storage is the most convinient way to handle data for my application.

[2017-07-23 23:53] #146 closed

[2017-07-25 05:59] michael-younkin opened #153 "SIGINT is ignored if sent before a worker connects to the broker"
I'm using redis as my broker and result backend. If I send SIGINT I see a log message saying `Signal received: interrupt. Quitting the worker`, but then the process never exits, and it keeps going as if the signal was never sent.

[2017-07-27 09:37] alieve commented on #150
It seems worker can not restore connection to Rabbit in case of loosing it and go to idle state.
Steps to reproduce:
1. Run **worker.go worker** with configuration above, make sure rabbitmq-server is running
2. Stop rabbitmq-server
3. Start rabbitmq-server
4. Try to strike Ctr+C or send message by **worker.go send**. Nothing happens, worker in idle state and can be closed by killing process only.

[2017-07-27 10:51] RichardKnop commented on #150
@saggit @alieve Can you pull from master and try now? I have pushed update which should fix this problem.

@alieve I have managed to reproduce the bug with steps you provided. I have updated code to fix this issue. Pull from master and try it. It should work now.

[2017-07-27 11:03] saggit commented on #150
@RichardKnop Thanks for your hard work, But it will take me same time to verity due to #151 .

[2017-07-31 02:57] saggit commented on #150
@RichardKnop I can confirm the issue was solved.

@alieve  what about you?

[2017-07-31 10:34] praveenchourasia opened #154 "Support for JSON Type in Task Signature"
I'm looking for possibility to have JSON as a supported type in Task Signature?

For instance

{
   "UUID":"48760a1a-8576-4536-973b-da09048c2ac5",
   "Name":"Test",
   "RoutingKey":"TestKey",
   "ETA":null,
   "GroupUUID":"",
   "GroupTaskCount":0,
   "Args":[
      {
         "Type":"json",
         "Value":{
            "id":1,
            "name":"A Door"
         }
      }
   ],
   "Immutable":

[2017-07-31 11:56] StTymur opened #155 "OnSuccess callback receives only last result from returned arguments from the previous task"
https://github.com/RichardKnop/machinery/blob/master/v1/worker.go#L163
[code]
This snippet is from worker.go . It seems that the inner cycle doesn't work as supposed. At the end of the day it appends only last argument from `taskResults` to `successTask.Args`. If it is intended behavior (though it doesn't seem to), than there is no need for cycle.
This way, we can't pass 2 or more results from the

[2017-07-31 19:57] RichardKnop commented on #155
If the task is immutable then not results from previous task should be passed.

If immutable is set to false then all results from previous task should be prepended (not appended) to input arguments of the callback task.

So if it only prepends the last argument, that's a bug. Maybe it should be like this?

[code]

It makes more sense to prepend the results to the argument list of the callback tas

[2017-07-31 20:04] StTymur commented on #155
I'm sorry, I meant 'prepended' in my first comment. Yes, sure, the intended behaviour explained in the docs is the most natural one. It's just a little bug, that makes onSuccess callback to prepend only last argument. I think I could make a PR, some time soon. However, if someone used this exact behavior (relied on getting only last result as an argument) this would lead to breaking compatibility

[2017-08-01 10:04] RichardKnop commented on #155
I think making a breaking change now should still be possible even though not ideal. This library is fairly new and I would hope most people are pinning a specific commit when they use it in their projects.

Once I start doing proper releases (so from release v1.0.0) no breaking changes should be introduced. I think this project is getting close to thinking about making an official `1.0.0` release

[2017-08-01 11:17] StTymur commented on #155
Great!
I submitted PR for this!
https://github.com/RichardKnop/machinery/pull/156

[2017-08-01 11:40] #155 closed

[2017-08-03 07:28] praveenchourasia commented on #154
Any pointers on this?

[2017-08-03 09:20] RichardKnop commented on #154
Not sure that is easily possible as Go is strictly typed language. In order to properly handle arguments passed to tasks via JSON message I use reflection, as can be seen here:

https://github.com/RichardKnop/machinery/blob/master/v1/tasks/reflect.go

I think it would be very tricky to support more complex types so I would suggest to keep tasks simple and only accept simple argument types (for exa

[2017-08-03 09:21] RichardKnop commented on #153
@michael-younkin Is this still an issue? Have you tried with the latest code? I have committed code which fixed one interrupt signal issue so perhaps this is fixed already. If not there is another bug,

[2017-08-03 09:21] #150 closed

[2017-08-04 15:10] codepushr commented on #153
I got a similar issue. When I start my service without turning on redis I can't seem to stop it anymore.

Logs:
[code]

[2017-08-04 15:18] RichardKnop commented on #153
I see. Will take a look later.

[2017-08-04 20:30] codepushr opened #158 "Argument count of remaining task in chain changes after completion"
Hey Richard,

thanks for this package. I'm encountering a strange behaviour. Not sure if I'm just misunderstanding anything on a fundamental level or if this is a weird bug.

When building a `Chain` of let's say 2 tasks the underlying JSON message looks correct, but after the first task is finished the new message with the remaining task has changed. More specifically the argument count changed.

[2017-08-04 20:51] RichardKnop commented on #158
By default, the chain passes results of each task to its callback. So in this case I assume what's happening is that your first task returns 3 results (plus error) which get prepended to the second task that is defined as a success callback.

You can disable this behavior by making a task immutable. Try this:

[code]

This is described in the README file if you look here:

https://github.com/Richa

[2017-08-04 20:59] codepushr commented on #158
Wonderful, so it's a feature. Sorry for missing this. I had to set `s1` instead of `s2` to immutable for the error to resolve though.

Thanks a bunch!

[2017-08-04 20:59] #158 closed

[2017-08-04 21:04] codepushr commented on #158
**Appendix**
Maybe it's only me but it might be more intuitive to append previous results into a separate field. For me the `args` field should always be immutable as it sort of reflects the initial arguments.

[2017-08-05 11:09] RichardKnop commented on #158
That's a good idea. It would perhaps be better under a separate field.

[2017-08-09 08:48] codepushr commented on #152
@michael-younkin If you are still interested have a look at this fork https://github.com/udacity/machinery/tree/babcock/sqs_broker

They already implemented SQS, however no idea how robust/tested it is.

[2017-08-09 20:07] michael-younkin commented on #152
Nice! I wish I had seen this sooner.

Unfortunately, we needed something a little more robust, and so far we don't need all the features provided by machinery, so we ended up writing our own little framework. We might have time to revisit it in a few months though!

[2017-08-10 17:27] Blogoslov commented on #147
Any help?

[2017-08-11 09:56] RichardKnop commented on #147
That is not possible right now. Not sure how to achieve that in efficient way in a distributed system like this (which runs on multiple servers).

In the `README` file it is mentioned that `asyncResult.Get()` is something which you shouldn't really do in your code. It's mostly for testing purposes but you should design your tasks to be asynchronous so you would never need to get a result of a task

[2017-08-14 16:47] rvolykh opened #160 "Support for task scheduling"
### Problem
Need to add possibility to execute tasks according to the given schedule (mostly presented by Cron)
e.g:
1. Exact time task
[code]
\*  It can be solved even now by ETA field

2. Reoccurring task
[code]
Or even more complicated
[code]

### Attempt
https://github.com/rvolykh/machinery/pull/1/files (work in progress).
Have few problems related to several instances of broker (sender)

____

[2017-08-22 12:42] mihaihuluta opened #162 "Dynamically specify a binding key"
Is it possible to specify dynamically a binding key (on tasks registration for example)?
Currently from what I saw in existing examples both queue name and binding key is specified at library initialization.

[2017-08-25 08:05] winter6588 opened #164 "when will it be a release version"

[2017-08-25 14:29] Blogoslov commented on #147
Sorry, but your comment very confuses me. You say that asyncResult.Get() is not recommended for usage (it is only for testing) but how on my program I will know that tasks are completed?
For instance - in my program, I started all necessary servers (Postgres, RabbitMQ, Redis and others), started my flow tasks and send to server.SendGroup all my thousand tasks. These tasks are working and require f

[2017-08-26 01:56] #164 closed

[2017-08-26 19:53] Blogoslov opened #165 "what is 'max_worker_instances' option in example YAML file?"
Hello,

what does mean 'max_worker_instances' option in example YAML configuration file? What it for?
I did not find in the code where it uses.

Regards.

[2017-08-27 00:37] RichardKnop commented on #165
@Blogoslov I have removed that. It used to be an option to limit number of tasks a single worker can process at a time.

It was moved to a specific worker attribute. See here: https://github.com/RichardKnop/machinery/pull/159

[2017-08-27 00:37] #165 closed

[2017-08-27 11:07] Blogoslov opened #166 "Is it possible on OnSuccess callback assign Chain or Group tasks?"
Hello,
my flow has different branches which are separated - tasks, chain, groups.  Is it possible that after single Task complete I  need submit multiple parallel tasks using sendGroup function but using OnSuccess callback in Signature structure? Now I see that it accept only single tasks ( []*Signatures)

Thanks in advance.

[2017-08-28 13:34] Blogoslov opened #167 "'tasks_xxx' not deleted from RabbitMQ queues"
Hello Richard,
I use AMQP as a broker and result backend.
In one of the previous 'machinery' versions, I saw that when the task is completed then results were deleted from AMQP and queue was everytime empty. But now I see that it grows with every my tasks execution and I see multiple result tasks like 'task_030a87b7-1b69-4638-becc-a2965d0712fe' are in the queue and they are not deleted.

Could you

[2017-08-28 21:59] RichardKnop commented on #167
I don't recommend using AMQP as backend but if you must, the last commit I just added will ensure the task state queues will get deleted automatically after 1 hour.

[2017-08-28 21:59] #167 closed

[2017-08-29 06:51] Blogoslov commented on #167
Richard, does it means that if my task which is in PEND mode will not be processed by workers (the reason can be too little number of workers or too heavy tasks which take too much time for processing) then it will be deleted from the queue? Or you are speaking about only about completed tasks?

Best regards!

[2017-08-29 08:16] Blogoslov opened #168 "connections are not closed"
Hello Richard,

I think I found a bug and this bug affects also on my previous ticket with number #167 ('tasks_xxx' not deleted from RabbitMQ queues).
The root of the issue is in used OnError and OnSuccess arguments on the tasks.

I used your examples from 'example' directory and updated it a little bit. Here is the example for the issue reproducing:

[code]
and file 'task.go' I added PPP function

[2017-08-29 09:28] RichardKnop commented on #167
@Blogoslov No. The tasks are being stored in a separate queue (by default called `machinery_tasks` but this can be changed by `DefaultQueue` setting). However task states are stored in task specific queues (there is no other way to do this with RabbitMQ unfortunately, therefor I recommend AMQP/Memcache or AMQP/Redis combo). These expire after 1 hour but this can also be changed via `ResultsExpireI

[2017-08-29 12:43] Blogoslov commented on #168
I don't why but code formatting has stranges and half of code was formatted and other half was not formatted in my previous message.

[2017-08-29 16:26] hamidfzm opened #169 "Add array and map support to argument types"
These array and map types are native json serializable in Go. Please add support for these args:
[code]

[2017-08-30 06:04] Blogoslov commented on #168
will try to use redis as result backend insted of amqp to see if this affects ib this case or not.

[2017-08-31 12:55] Blogoslov commented on #168
In case of AMQP broker and Redis as result backend, everything is ok and all connections are closed and I do not see any redundant connections in RabbitMQ web page.

[2017-08-31 13:00] Blogoslov commented on #166
As I understood from the code it is not possible at this moment and complex flow steps are not allowing.

@RichardKnop, do you plan to support complex flow steps in near future? I'm ready to help you in this way because this is really important things.

Best regards.

[2017-08-31 18:48] Blogoslov opened #170 "Question: 'prefetch_count' and 'concurency'"
I have a question - how mentioned above options are correlated with each other?

for example a set
`server.NewWorker("machinery_worker", 0)`
which means from doc  'makes the number of concurrently executed tasks unlimited'

But in config I have following option

`  prefetch_count: 1`

which means for AMQP that each worker will receive only 1 task from the queue.

I have 3 workers (as example). I s

[2017-09-01 09:07] RichardKnop commented on #170
The `prefetch_count` is different to concurrency setting (the second parameter to `server.NewWorker`). In your case you'd want to do:

[code]

Prefetch count is a RabbitMQ specific thing, see here for explanation: https://www.rabbitmq.com/consumer-prefetch.html

[2017-09-01 09:14] MaJiangBo opened #171 "can't send tasks to worker"
use example demo send tasks to worker ,can't get result.that's task state always "PENDING".I use redis do it

var cnf = &config.Config{
	Broker:             "redis://localhost:6379",
	DefaultQueue:       "machinery_tasks",
	ResultBackend:      "redis://localhost:6379",
	AMQP:               &config.AMQPConfig{
		Exchange:     "machinery_exchange",
		ExchangeType: "direct",
		BindingKey:   "machiner

[2017-09-01 09:14] MaJiangBo commented on #171
use example demo send tasks to worker ,can't get result.that's task state always "PENDING"

[2017-09-02 18:20] deanchou commented on #171
Good job.
I'm following up too.

[2017-09-04 08:24] j-xu3 commented on #171
This is because you have AMQP settings in config, this will cause the worker search `AMQP.bindingKey` instead of `defaultQueue`.  task object could not be found, That's the reason why it is always in `pending` state.

[2017-09-04 08:25] zhex commented on #171
This is because you have AMQP settings in config, this will cause the worker search AMQP.bindingKey instead of defaultQueue. task object could not be found, That's the reason why it is always in pending state.

[2017-09-04 08:35] MaJiangBo commented on #171
thanks very much

[2017-09-04 09:21] RichardKnop commented on #171
Sorry for late reply. As @zhex has said you have AMQP settings in the config so it is trying to connect to RabbitMQ. Remove the AMQP part of config if you are using Redis and it should work.

[2017-09-04 09:22] #171 closed

[2017-09-05 13:04] vidmed opened #172 "Wrong pool logic in SendGroup"
Hello.
Here is logic of pool in SendGroup() method
https://github.com/RichardKnop/machinery/blob/master/v1/server.go#L186

You initialize pool with only one element:
https://github.com/RichardKnop/machinery/blob/master/v1/server.go#L188
and then you work only with one element:
https://github.com/RichardKnop/machinery/blob/master/v1/server.go#L194
https://github.com/RichardKnop/machinery/blob/maste

[2017-09-05 15:57] RichardKnop commented on #172
@vidmed Thanks for finding this bug. I have made a quick PR to fix it: https://github.com/RichardKnop/machinery/pull/173

If you want to review it, please feel free to do so.

[2017-09-06 07:26] vidmed commented on #172
Yeah, that`s ok. Thank you.

[2017-09-06 07:26] #172 closed

[2017-09-06 18:54] kartlee opened #175 "Passing context to worker"
Hi,

I like to pass the context obtained from rest api request to task submitted for worker. This context has requestId and additional details to track about the original request for the which the task is tied. Is there a way to do it?

[2017-09-07 06:31] #170 closed

[2017-09-07 11:07] maxpowel commented on #160
At this moment I'm calculating the next execution at the end of the task:
eta := time.Now().UTC().Add(time.Second * 5)
signature.ETA = &eta
And then send this task to the server. I need to define a package variable with a reference to the machinery server instance so I can use it inside of the task for send tasks inside a task.

You should control onError and onSuccess events, imagine that your ta

[2017-09-08 08:00] cool14521 opened #176 "Can I configure a result backend to add the ask info ?"
Can I  configure a result backend  to add the ask info .
Just like this:

{
  "TaskUUID": "task_8ca7d27a-a614-4c4c-9291-9aee398ffe45",
  "State": "SUCCESS",
[code]

  "Results": [
    {
      "Type": "int64",
      "Value": 6
    }
  ],
  "Error": ""
}

[2017-09-08 09:28] #176 closed

[2017-09-08 09:29] cool14521 commented on #176
maybe i should change some code.

[2017-09-10 16:49] simonoff opened #177 "Batches?"
Hello! I have found that your jobs library is actively developed and support different backends which are good. But I haven't found any possibility to run jobs in batches.

Case:
We track page views. On every page view, we push job in Redis. After we doing a batch DB update by processing 1000 jobs at once.

Is it possible with machinery? I have not read the code yet, but I think would be faster to

[2017-09-11 06:56] rvolykh commented on #160
Wow, thanks, very interesting idea

[2017-09-11 06:56] #160 closed

[2017-09-11 14:54] RichardKnop commented on #177
There are several types of workflows supported: https://github.com/RichardKnop/machinery#workflows

1. Groups (send N tasks at once, executed in parallel)
2. Chords (same as group but after all tasks in a group complete a callback can be triggered)
3 Chains (execute A, then B, then C)

It depends on how you do the batch processing. You could use groups.

[2017-09-13 21:14] #147 closed

[2017-09-13 22:19] Blogoslov commented on #153
Any thoughts about how it can be fixed?

[2017-09-13 22:24] Blogoslov commented on #153
In the broker.go file I just commented in function stopConsuming() following piece of code and I stopped see the issues

[code]

I'm sure that this is the incorrect way but for now, I see that worker completeness is much better.

[2017-09-15 00:15] jsm opened #178 "Custom Recovery Handling"
Right now, task execution recovery is handled by printing the stack trace.

It would be great to be able to initialize a worker with a function that takes the error, as a sort of custom recovery handler.

In my case, I might want to capture the error and send it to our error tracking service.

[2017-09-15 10:56] RichardKnop commented on #178
Yes, the current logic for recovering from panics is here:

https://github.com/RichardKnop/machinery/blob/master/v1/tasks/task.go#L54-L68

It would need to be made customizable which it currently isn't. It might not be too difficult to add this functionality.

[2017-09-15 18:01] clstb opened #179 "ResultBackend Overhead"
There is a very big overhead when running huge quantity groups. (8000+ tasks per group)
This is probably caused by inefficient task state monitoring (IO with the ResultBackend) since redis takes like a whole core when running the tasks. My example worker takes up the other 3 cores. Also the worker crashes sometimes when receiving to many messages.
This was tested with nearly no-op tasks (increment

[2017-09-15 19:58] Blogoslov opened #180 "Question: what means option 'sendConcurrency' in Sendroup function"
Hello,

I see that this is a new option (it was not available at least before release v1.0). Also in the examples on your 'readme' page you did not use this parameter. Could you please write brief explanation what is this and which values should it contain and what they will mean?

`SendGroup(group *tasks.Group, sendConcurrency int)`

Thanks in advance.

[2017-09-18 13:19] simonoff commented on #177
@RichardKnop thank you for reply! But I don't need to execute them in parallel.
I need to collect params as Map or similar structure and insert one request into DB instead of 1000 for example.
As I understand I can use a channel with Chords and after in trigger make an insert into DB.

Is it simple to Chord a 1000 same tasks?

[2017-09-18 14:20] simonoff commented on #177
@RichardKnop also I want to push tasks one by one instead of creating a new queue inside app via channels

[2017-09-19 09:31] RichardKnop commented on #180
It is a concurrency setting to be used when sending group tasks to the broker. Previously they were sent in a for loop but now you can specify how many to send at the same time in goroutines.

[2017-09-19 09:31] #180 closed

[2017-09-19 09:33] RichardKnop commented on #179
@clstb I haven't done much performance testing so it is quite possible there is some low hanging fruit how to increase performance and reduce the overhead. It would require more time to investigate and research than I have right now though.

[2017-09-26 10:59] surendratiwari3 opened #184 "mongodb backend _id is not getting generated automatically when uuid is null"
hi i am not passing the uuid parameter in signature so machinery should generate it and pass it to mongodb as object id.but this scenario is getting failed.

[2017-09-29 06:53] MaJiangBo opened #185 "defined state in task"
how I can  defined state in task?
this state I can get  by UUID

[2017-09-30 14:01] surendratiwari3 commented on #185
will you please elaborate your use case?

[2017-10-05 14:44] rakeshbala opened #186 "Retrieve result using just `taskUUID` instead of holding onto the `AsyncResult` object?"
I am planning to use `machinery` to convert a few REST endpoints that take a long time to respond to return immediately by offloading the work to task queues.
I was thinking of returning a result polling URL from each of this endpoints to query the result.

From my understanding of how machinery works this would involve me holding onto the AsyncResult object returned from each task dispatch call a

[2017-10-05 15:15] rakeshbala commented on #186
Alright. I realized that I can re-create the `AsyncResult` if I specify a UUID for the signature and then use a signature with same UUID while creating the new AsyncResult.

[code]

and then later

[code]

gives me the right result.

I'll leave the issue open for a couple of days to see if you have any comments.

[2017-10-09 01:01] MaJiangBo commented on #185
I have a task to copy file,like this:
for i=0;i < count;i++{
		off :=i*bufferSize
		_, err := srcFile.ReadAt(buf,off)
		if err != nil {
			return 0,err
		}
		_,err =dstFile.WriteAt(buf,off)
		if err != nil {
			return 0,err
		}
	}
when I copy 1M success,I want return a state

[2017-10-09 08:12] MaJiangBo opened #187 "how can I tracking task progress?"
how can I tracking task progress?

[2017-10-09 14:33] #186 closed

[2017-10-09 14:36] RichardKnop commented on #186
Yes, this is correct approach. The only attribute from `Signature` object inside `AsyncResult` needed to retrieve the task state from the backend is UUID. So you can pass in otherwise empty signature - just make sure to set UUID and you should be able to poll results.

[2017-10-12 20:07] sstarcher opened #189 "[feature] Machinery worker should have a reconnection limit"
Currently if machinery is misconfigured for the connection to AMQP it will run indefinitely at a exponential backoff.  It will be easier for users to detect failure in a production application if the application is allowed to exit out on failures that are not likely going to be recoverable.

[2017-10-13 10:40] yang-f opened #190 "AdjustRoutingKey error with redis"
This is my config.yml

[code]

and run worker

[code]

It's normal now...

But  when i run send with same config file
[code]

I have no AMQP config in config.yml  at all. The cnf.AMQP should be nil but no.
And the task always send to queue 'machinery_task'.
I think it's a bug.......

[2017-10-17 16:20] sstarcher opened #191 "ResultsExpireIn never"
Would you take a PR to update the ResultsExpireIn to support never expiring the results?  Currently the ResultsExpireIn is an int so the longest results can be kept would be 45 days.

[2017-10-17 19:28] rooty123 opened #192 "Worker receives foreign tasks"
After upgrading to latest version(from old 1 year version) I've noticed that workers that share same configuration receive tasks which they are not responsible for. The broker is Redis
[code]
What am I doing wrong?

[2017-10-17 21:02] RichardKnop commented on #192
Hard to tell. How do you configure workers. Maybe they have same tasks registered.

This test should verify workers only consume registered tasks: https://github.com/RichardKnop/machinery/blob/master/integration-tests/worker_only_consumes_registered_tasks_test.go#L133

[2017-10-18 00:18] rooty123 commented on #192
Turned out this happens  when there are no workers responsible for the task available.

[2017-10-18 10:12] RichardKnop commented on #192
Even if all workers share the same queue but have different tasks registered, if task is not registered and worker receives it, the task should not be processed and re-queued instead. As seen here:

https://github.com/RichardKnop/machinery/blob/master/v1/brokers/redis.go#L253

So not sure why that would happen. More robust way is to use different queues for different types of tasks / workers thoug

[2017-10-18 11:34] rooty123 commented on #192
Looks like it is not processed but printed out in console, that's why it looks like it take foreign task. Sorry for misunderstanding.

[2017-10-18 11:34] #192 closed

[2017-10-18 20:05] SurendraPlivo commented on #191
@sstarcher right now its not implemented in the machinery. but we can change the behaviour of ResultsExpireIn to never expire the result. i started working on this. i will be coming back with solution.

[2017-11-01 15:56] siredwin opened #193 "One convenience AsyncResult UUID for reconstructing Group, Chord & Chain for APIs."
When constructing my API, i would only like to send my clients(customers) the IDs of their tasks and not the AsyncResult object.
That means that the original AsyncResult object needs to be re-constructed every time that client makes a request.

Below are some examples of products needed to be returned for a successful reconstruction of AsyncResult object.

For a simple async task. I get an asyncRe

[2017-11-02 15:22] siredwin commented on #193
This will probably be a breaking change but it is something that can help in the future.

[2017-11-02 15:25] #193 closed

[2017-11-10 17:01] makkalot opened #194 "Wait For All Tasks To Finish On Shutdown"
Hi,

Would you be interested in MR when SIGTERM is received to wait for all of the tasks to finish before exiting? We have very sensitive tasks that shouldn't be interrupted or at least should be given a chance to finish.

I'm thinking of a setting on machinery like `waitTasks bool` and `waitTaskTimeout time.Duration` where the behavior will be :
- if not set continue with current behavior
- if se

[2017-11-11 08:37] RichardKnop commented on #194
Yes this sounds like a good idea. Basically when you quit a worker this method is being called (it's implemented slightly differently for different brokers):

https://github.com/RichardKnop/machinery/blob/master/v1/brokers/interfaces.go#L12

So we will need to configure it to wait for running tasks to finish or at least wait some time period.

[2017-11-11 08:42] RichardKnop commented on #194
Just looking at AMQP implementation and it seems that should already wait for tasks to complete when it receives interrupt signal. Take a look here:

https://github.com/RichardKnop/machinery/blob/master/v1/brokers/amqp.go#L165

The wait group's `Wait` method is deferred to run before returning from the function.

Every task which is started will increment the wait group's count by 1: https://githu

[2017-11-11 09:34] RichardKnop commented on #194
I have just ran a simple test with long running task and it seems current implementation doesn't work. So it needs to be fixed.

[2017-11-11 10:03] RichardKnop commented on #194
@makkalot I submitted a PR for this: https://github.com/RichardKnop/machinery/pull/195

[2017-11-11 13:25] RichardKnop commented on #190
How are you loading the config from file? I mean where do you specify path to `config.yml`?

[2017-11-12 07:53] takfate opened #196 "how to use different queues in different tasks"
RT

[2017-11-12 09:01] RichardKnop commented on #196
You can configure which queue the task will be routed to by adjusting `RoutingKey` parameter of a signature: https://github.com/RichardKnop/machinery/blob/master/v1/tasks/signature.go#L23

By default, when you don't specify a custom routing key, the task will be routed to default queue, see here: https://github.com/RichardKnop/machinery/blob/master/v1/brokers/broker.go#L51

If you are using AMQP,

[2017-11-12 11:00] #194 closed

[2017-11-12 11:05] RichardKnop commented on #191
@sstarcher @SurendraPlivo I agree this is not possible with current implementation. It could be modified to allow this behavior. It's simple with some backends (Redis, MongoDB) which are persistent. It's a bit more tricky with Memcache and also AMQP.

I'd suggest your tasks could save data you need to hold longterm in a database. This can be totally separate from machinery and be part of your appl

[2017-11-13 06:15] takfate commented on #196
thanks, i would know whether the worker could be registered by an object 's function

[2017-11-13 09:44] makkalot commented on #194
That was quick @RichardKnop, thanks giving it a try :)

[2017-11-13 16:55] snapercloud opened #197 "Support for struct type as a task arg"
Currently, Machinery does not support structs as an Arg for a task (only scalar values are supported). The ability to create definitions in a single file (let's say a task package) would make extending tasks (either by adding or replacing parameters) much easier.

[2017-11-14 04:36] baiyunping333 commented on #151
[code]

in the way:
[code]
may help.

[2017-11-14 04:38] baiyunping333 commented on #151
keepReloading is chicken ribs！

[2017-11-14 10:56] takfate opened #198 "how to make some workers run in the background"
Launch a worker will block the process
Should I execute `go worker.launch()`?

[2017-11-15 07:33] RichardKnop commented on #198
Yes, currently you would use goroutine. Perhaps we could add an alternative launch method which will take error channel as input. This would be non blocking and you can then handle the worker process yourself via the error channel.

[2017-11-15 07:40] RichardKnop commented on #198
@takfate What about:

[code]

See here: https://github.com/RichardKnop/machinery/pull/199

[2017-11-15 08:44] #198 closed

[2017-11-15 08:45] RichardKnop commented on #151
I'm open to PRs to refactor the config. I agree it's a bit sketchy at the moment.

[2017-11-16 15:23] alexhudici opened #200 "Is there a pattern for dealing with redis master/slave configuration?"
If redis is set up to have a master and several fall back nodes, is there a built in way to deal with redis master election in case of a failure on one node or is there a pattern for changing the URL for workers?
Do servers have to be recreated with `NewServer()` and workers have to be re-registered or would it be enough to change the `ResultBackend` and `Broker` variables in the configuration of

[2017-11-20 09:06] baiyunping333 commented on #197
Is it necessary？ I  can give a patch, but i don't think this is a good way.

[2017-11-20 10:14] RichardKnop commented on #200
@alexhudici For Redis I am using this library https://github.com/go-redsync/redsync/tree/v1.0.1 for connection pooling. This should work well for master / fall back nodes. When master nodes doesn't work, workers should retry to connect to one of fall back nodes. I have not tested this setup though so cannot confirm for sure it works correctly.

Changing variables in the configuration should be eno

[2017-11-20 16:25] alexhudici commented on #200
Thats awesome thank you @RichardKnop. I will have a look at the library and for the workers, I figured I would have to create a new machinery server and register new workers to it since the server is where the redis IP gets registered. Unless it is safe to switch the IP of the existing server struct and just restart it since the queue would have the same name.

[2017-11-21 08:35] RichardKnop commented on #151
@saggit @baiyunping333 I have refactored config. Now it should work better. Let me know if it's good enough.

[2017-11-21 08:35] #151 closed

[2017-11-22 06:20] KirinDave commented on #152
@michael-younkin @codepushr We're using it in production. Right now we only support fifo queues but we're about to add non-fifo (as we've discovered that we actually don't care about the fifo nature for the jobs we run at all).

We've also got a port in Typescript that we're gonna open source Real Soon Now(tm)

[2017-11-27 14:13] jzhbiao opened #201 "how to send task just by redis"
I use redis as  broker , and I want to send task just like "rpush machinery_tasks ******", but this show error
.what is the right format in ******, because is very convenient to use,help me.

[2017-11-27 14:15] jzhbiao commented on #201
I want to send task just use redis command  in redis, then machinery listen it , is that a proper way?

[2017-11-28 02:32] jzhbiao commented on #201
I try to rpush like this:
127.0.0.1:6379> rpush machinery_tasks "[123 34 85 85 73 68 34 58 34 116 97 115 107
 95 51 55 101 57 101 48 55 57 45 100 99 57 101 45 52 55 48 101 45 56 98 51 100 4
5 56 50 102 101 50 101 48 99 99 56 101 57 34 44 34 78 97 109 101 34 58 34 99 97
108 95 110 117 114 101 114 121 95 100 97 116 97 34 44 34 82 111 117 116 105 110
103 75 101 121 34 58 34 34 44 34 69 84 65 34 58 11

[2017-11-28 06:18] RichardKnop commented on #201
@jzhbiao This should work:

[code]

[2017-11-28 06:34] jzhbiao commented on #201
thank you for reply, and I try it but also error :
(error) WRONGTYPE Operation against a key holding the wrong kind of value,
it seems '"' is not a right format to rpush, and i will google it ,or whether you can show me why I wrong.
127.0.0.1:6379> rpush machinery_tasks '{"UUID":"task_1158d38e-2afb-4fbe-a08f-9e1
b11e6bfa3","Name":"add","RoutingKey":"machinery_task","ETA":null,"GroupUUID":"",
"Grou

[2017-11-28 06:48] jzhbiao commented on #201
thank you for reply

[2017-11-28 08:19] #201 closed

[2017-11-29 15:53] #200 closed

[2017-12-03 14:25] zyanho commented on #149
@RichardKnop

[2017-12-03 14:28] zyanho commented on #149
machinery could not handle different task with retry
if use redis, RoutingKey not work, because redis only have one default key for delay task name "delayed_tasks"

[2017-12-03 14:31] zyanho commented on #190
redis could not use task, all delay task shoud send to delayed_tasks, if there 2+ queue worker
then all worker should got block, the delay task could not handle by the right worker
#149

[2017-12-03 14:33] zyanho commented on #196
machinery could not handle different task with retry
if use redis, RoutingKey not work, because redis only have one default key for delay task name "delayed_tasks"

[2017-12-03 14:33] zyanho commented on #196
#149

[2017-12-04 06:18] RichardKnop commented on #149
@zyanho I have created a patch that fixes this bug: https://github.com/RichardKnop/machinery/pull/204

Will test it and then merge to master.

[2017-12-04 06:21] RichardKnop commented on #190
@zyanho @yang-f This could be caused by: https://github.com/RichardKnop/machinery/pull/204

Once I merge into master try it again and hopefully it works.

[2017-12-04 06:24] #190 closed

[2017-12-04 06:24] #196 closed

[2017-12-04 06:25] RichardKnop commented on #196
@zyanho Should be fixed in the new release.

[2017-12-04 06:26] RichardKnop commented on #187
You would need to do that from inside the task. The worker has no way of knowing how long until a task finishes. For example if you have a long running task (hours long, for example), you should implement some tracking mechanism (using database perhaps) from inside the task. Or perhaps split it into smaller tasks and chain them.

[2017-12-04 06:26] #187 closed

[2017-12-04 09:15] #149 closed

[2017-12-05 13:45] mavidser opened #206 "Stuck on "Waiting for running tasks to finish before shutting down""
Hi. I'm not really sure what I'm doing wrong.

Some details:
I'm using redis as the broker. Earlier, I tried a blank ResultBackend, which resulted in tasks not being executed. I later added a ResultBackend anyway (the same as the broker), and the tasks being executed. But whenever I try to gracefully exit out of the worker (SIGINT), this is what happens:
[code]
It kinda stops acknowledging any fur

[2017-12-05 15:32] RichardKnop commented on #206
Can you try with the latest release? I have fixed a bug with `AdjustRoutingKey`.

In previous release way to fix the bug you are experiencing would be to delete / comment out AMQP related settings from config file. So get rid of this subsection of config file:

[code]

There was a bug when binding key from AMQP settings would be used also for Redis broker. That should be fixed now.

Let me know if

[2017-12-06 06:20] mavidser commented on #206
Solved

[2017-12-06 06:20] #206 closed

[2017-12-06 06:33] RichardKnop commented on #206
Glad to here.

Basically, this condition was being evaluated as true before even for Redis broker:

https://github.com/RichardKnop/machinery/blob/master/v1/brokers/broker.go#L100

Changing it so it works properly and is only applied for AMQP broker fixed the issue.

[2017-12-06 07:25] mavidser opened #208 "Machinery catches all signals even after broker quits."
Basically, what I faced in #206 - I had started the broker on a goroutine with another long-running task in the the foreground.

Trying to stop the process didn't work because the broker always caught the signal. I think we should `Reset()` those signals when the broker has quit, so the normal behavior of the process can resume (or maybe add a note that this issue might be caused if you try to lau

[2017-12-06 07:26] mavidser commented on #206
Ah. I did face this issue earlier, but I proceeded with changing the config file to fix the issue, like you suggested earlier.

Though, this particular issue actually turned out to be #208

[2017-12-06 07:32] mavidser commented on #208
On further thought - it's better to call signal.Reset() after quitting, and add a note about this behavior on the Readme.

[2017-12-06 08:32] RichardKnop commented on #208
Sounds good, maybe it's enough to add signal.Reset in these two places:

https://github.com/RichardKnop/machinery/blob/master/v1/worker.go#L60
https://github.com/RichardKnop/machinery/blob/master/v1/worker.go#L83
https://github.com/RichardKnop/machinery/blob/master/v1/worker.go#L87

Perhaps the code can be refactored so it doesn't need to be copied 3 times.

[2017-12-10 18:03] WillAbides opened #209 "Workers getting tasks from multiple queues"
I'm on a project using the redis broker with consumers who need to get tasks from multiple queues, and it would be great if we could have only one BLPOP per consumer instead of one per queue per consumer.

From what I can tell, this will require significant changes to RedisBroker and Worker or a creating a new broker and taskprocessor.

I have a few questions before I start working on this.
1. Am

[2017-12-11 11:48] RichardKnop commented on #209
Hi,

Currently with Redis, you are correct it's not possible. Each worker will only consume via `BLPOP` from one queue.

Take a look at `fanout` exchange type for AMQP. It doesn't do exactly what you want (have one worker consume messages from multiple queues) but depending on your use case it might be a possible solution.

I think it's more natural to do it this way, instead of having one worker

[2017-12-11 16:10] WillAbides commented on #209
Thanks for taking the time to provide detailed answers to all my questions.

Unless I am misunderstanding fanout, I don't think it will work for us because we need each task to be processed by exactly one worker. Also, adding RabbitMQ to the stack could be a tough sell. Not that there's anything wrong with RabbitMQ. There's just a lot of effort involved in supporting a new service.

a) It would ne

[2017-12-16 12:56] #143 closed

[2017-12-16 13:01] Blogoslov commented on #166
Richard,
How do you think is it reasonable to have such feature that OnError and OnSuccess callbacks can support a different kind of tasks (group, chain, single and etc)?

And how do you think is it possible to do in current code implementation just make several changes? I'm ready to support this enhancement.

Thanks in advance.

[2017-12-18 08:06] baiyunping333 opened #213 "there is a defect inReadFromFile."
The origin source is:
[code]
data := make([]byte, 1000) means that the size of config can't be over 1000 byte.

Maybe this can be help.
[code]

[2017-12-18 09:47] RichardKnop commented on #213
You are probably right. That was quite a lazy implementation, your improvement makes sense.

[2017-12-18 18:39] #213 closed

[2017-12-19 19:46] joelpresence opened #214 "Redis broker fails when redis url contains a user name in addition to a password"
Thanks for making this library available - I really like it and enjoy using it.  :-)

Your factory doesn't seem to properly parse redis urls like `redis://user:password@host:port`.

Many common Redis cloud providers, e.g RedisCloud on Heroku, provider redis urls like the following `redis://user:password@host:port`.  This is a valid URL and also a valid Redis url as per [the IANA scheme for redis](

[2017-12-19 20:12] joelpresence commented on #214
Actually, I don't even think `redis://password@host:port` is a legal URL is it?  I think the spec requires the user info to either be `user` or `user:password`, but just `password` is not legal because it's ambiguous - does the plain text value without a colon represent a password or a user.

[2017-12-20 07:12] RichardKnop commented on #214
@joelpresence You are basically correct. The reason why Redis broker URL format is expected to be:

[code]

... is because Redis does not have a concept of users (e.g. there is no access control). So `user:password` didn't make sense to me as there is no such thing as username in case of Redis. When choosing format for Redis URL I was following format of AMQP which was the first implemented broker

[2017-12-27 15:40] WillAbides commented on #209
We ended up changing the design of the project that was going to require this change.  Instead we are using machinery in a more conventional way.

Before the design change, I did start on a broker that would allow a worker to work multiple queues.  As @RichardKnop said, I was able to implement `brokers.Interface` to create a custom broker in my own package.  I couldn't use `machinery.NewServer` wi

[2017-12-27 15:40] #209 closed

[2018-01-12 13:18] mymtw opened #221 "cannot build or run project"
same as in title:
when running my app:
[code]
thx

maybe it will be helpful:
Im using `govendor` in my vendor.json:
[code]

[2018-01-13 00:34] mymtw commented on #221
I installed from commit 0ca0c2cf9e6f8d79757fdc089a34c854ad557138. I even don't know, is project should be fixed, with ability to use new API, or close this issue? Because `govendor` not cloning e.g. `machinery/vendor` folder, `govendor` installing all deps that he will find in `import` statements

[2018-01-13 13:24] mymtw commented on #170
@RichardKnop is it means that better to set `concurrency setting`(the second parameter to server.NewWorker) always equals to `prefetch_count`?

[2018-01-17 21:11] Blogoslov opened #222 "[Question] How use extended Logrus logger types?"
Hello,
I have used Logrus logger as a custom logger in Machinery. How can I use other logger types like log.Info, log.Debug and etc which support Logrus?

At this moment only Println, Panic and Error type are supported

[2018-01-18 03:17] siredwin opened #223 "Retrieve Args from previous signature or Asyncresult"
For my API, I need the ability to be able to access the entered arguments instead of passing them on URL because they are sensitive.
I have tried the following but i get empty Argument list all the time.

[code]

What is the right way to get the arguments back?

[2018-01-18 14:38] Rio commented on #175
I'm just running into this myself. We're evaluating machinery for workflows but one of the requirements is context propagation for opentracing and maybe access tokens. If anybody has an already working solution to this we'd all like to know. Before we start doing double work ;)

[2018-01-18 16:19] Rio commented on #175
I've just noticed `signature.Headers`, might be an idea to add it to the context if not empty? Task should get a reference to the signatures then.

[2018-01-18 16:33] Rio commented on #175
Another way would be to extend `Signature` with `Context` that is populated by the various `Server.Send*` methods that propagate the contexts in the case of `SendChain`.

Sorry, just brain dumping.

[2018-01-19 02:46] RichardKnop commented on #175
@Rio Sorry for late reply but I have been quite busy at my new job so didn't have much time to spend on machinery.

There is a partial support for contexts already. Take a look at this boolean flag:

https://github.com/RichardKnop/machinery/blob/64d4c50bbd0e943e823596645c04ce98ca1c1830/v1/tasks/task.go#L21

Therefor you might be able to use contexts already. You would need to define a task functio

[2018-01-19 09:54] Rio commented on #175
I didn't expect any reply soon so that's ok. We're all busy ;)

I've seen the `UseContext` field and was thinking of loading the contents in `Signature.Headers` into the new context that's passed to the function. This way the payload structure doesn't need to be changed unless you foresee some issues with AMPQ with which I'm not familiar.

We could also scope the context within the headers with it

[2018-01-19 09:57] Rio commented on #175
Oh yeah, if we could add a `context` type argument to the signatures that would also work.
Missed your remark about that.

[2018-01-21 23:53] mymtw commented on #169
@RichardKnop what to if I need to pass map[string]string into my function, which will be called by signature?

[2018-01-23 06:41] zhufei910 opened #224 "An error occurred while running."
[0;94mINFO: 2018/01/23 14:35:08 worker.go:49   - PrefetchCount: 3[0m
[0;95mWARNING: 2018/01/23 14:35:10 worker.go:58 Broker failed with error: Dial error: dial tcp [::1]:5672: connectex: No connection could be made because the target machine actively refused it.[0m
[0;95mWARNING: 2018/01/23 14:35:12 retry.go:20 Retrying in 1 seconds[0m
[0;95mWARNING: 2018/01/23 14:35:13 worker.go:58 Broker

[2018-01-29 01:52] snapercloud opened #225 "Task should be able to push itself back to the queue"
For some tasks, defining a hardcoded retry count argument is not enough. For instance, I have a task that should check for a DNS entry to be present before running other operations. It may take a couple days, and, thus, several soft failures like this one for the task to be really completed. I could hardcode `signature.RetryCount = 1,000,000` , but this is not very elegant, to say the least.

[2018-01-30 04:35] jmcarp opened #226 "Allow custom retry backoff"
It looks like the retry backoff function is hard-coded to use the fibonacci sequence. Users might want other backoff logic, like exponential, static, etc. WDYT about allowing a custom backoff function that accepts the retry index and returns a delay?

[2018-01-31 20:40] Blogoslov commented on #222
any suggestions? or is this impossible?

[2018-01-31 20:42] #168 closed

[2018-02-02 02:20] RichardKnop commented on #226
@jmcarp This is a good idea. If you want to submit a PR, feel free. Sorry for ignoring bunch of issues and feature requests but time to work on machinery has been very limited last month or two.

How do you propose to implement this, make the backoff function used for retrying a string argument of a task signature? And have couple of functions for different use cases? Or allow users to use custom

[2018-02-04 03:01] jmcarp commented on #226
I think that registering a map of named retry functions and including the map key in the signature would work. We could also use an api more like celery's and allow users to return custom retry errors from a task that include a delay: `return NewRetry(5 * time.Second)`. WDYT?

[2018-02-08 01:24] ItsLeeOwen opened #228 "Handle scenario where a chord is not registered as a task."
We forgot to register a chord as a task, and the result was:
- SQS message queue was continually flooded with duplicate events for the unregistered chord (requeue a task to default queue).

[2018-02-09 15:49] ItsLeeOwen opened #232 "MongoDB backend - multiple chord triggering"
Chords are being triggered multiple times.

Fix - https://github.com/RichardKnop/machinery/pull/231

[2018-02-12 15:28] steven-zou opened #234 "Parallel executing is not supported when using 'eager' broker and backend?"
**config.yaml:**
[code]
When executing group/chord tasks, runtime error occurred:
[code]

Checked code line 196 in **github.com/RichardKnop/machinery/v1/backends/eager.go**, seems no any sync lock way used in the following method:
[code]

**Is it worked as design? 'eager' does not support parallel executing?** Looking forward to the answer. @RichardKnop  Thanks!

[2018-02-13 07:00] steven-zou opened #235 "Is it possible to cancel/stop a running task?"
Is it possible to cancel/stop a running task?

[2018-02-14 04:09] RichardKnop commented on #234
@steven-zou Eager mode is only present for testing purposes. It was not designed to really be used in real scenarios. But yes, this is a bug which could be solved.

[2018-02-14 04:10] #214 closed

[2018-02-14 04:16] #228 closed

[2018-02-14 04:17] RichardKnop commented on #235
@steven-zou Not right now. Not possible unless you implement some custom logic inside your task.

[2018-02-14 04:17] #235 closed

[2018-02-15 19:07] ItsLeeOwen commented on #232
@RichardKnop  sorry was the issue report too poor?  I can outline standard expected behavior, actual result, steps to reproduce if that's helpful.

[2018-02-15 19:37] jsm commented on #178
I think this PR provides a way to custom handle panics, since panics are wrapped in errors and sent up the stack.

https://github.com/RichardKnop/machinery/pull/238

[2018-02-17 09:25] RichardKnop commented on #169
@hamidfzm Adding slices here: https://github.com/RichardKnop/machinery/pull/240

[2018-02-17 12:26] #169 closed

[2018-02-17 12:26] #221 closed

[2018-02-17 12:29] RichardKnop commented on #232
I thought this was fixed already. It it's still an issue then this should be open.

If you can try to rebase your PR against master and make sure CI passes, then it would be possible to merge it.

[2018-02-17 13:54] ItsLeeOwen opened #241 "chord_triggered typo in tasks/state"
line #32 reads "chord_trigerred" should be "chord_triggered"

[2018-02-17 14:03] ItsLeeOwen opened #243 "Support passing SQS options via config.Config"
We encountered a scenario where we want to:
- pass in a created SQS client (instead of having machinery instantiate one from env vars)
- pass the SQS WaitTimeSeconds param

[2018-02-17 14:23] ItsLeeOwen commented on #243
PR - https://github.com/RichardKnop/machinery/pull/244

[2018-02-17 14:23] ItsLeeOwen commented on #241
PR - https://github.com/RichardKnop/machinery/pull/242

[2018-02-17 14:30] ItsLeeOwen opened #245 "return an err if task is not registered in SQS broker"
I encountered an issue when a task was accidentally not registered machinery flooded the SQS queue with delete + republished messages.  Perhaps we can leave the return an error, and leave the message in the queue allowing reprocessing to occur after visibility timeout.

[2018-02-17 14:33] ItsLeeOwen commented on #245
PR - https://github.com/RichardKnop/machinery/pull/246

[2018-02-20 13:48] seonixx commented on #110
Any updates/change of opinion on this (almost) a year on? Looking to implement this in production for a startup.

[2018-02-21 14:43] #245 closed

[2018-02-21 14:43] #241 closed

[2018-02-21 14:44] #243 closed

[2018-02-21 21:29] #166 closed

[2018-02-21 21:29] #222 closed

[2018-02-22 05:53] ItsLeeOwen commented on #232
Fix Merged https://github.com/RichardKnop/machinery/pull/247

[2018-02-22 05:53] #232 closed

[2018-02-22 07:09] RichardKnop commented on #166
@Blogoslov Sorry for late reply. I think it would be possible to do this but it would require couple of changes to how success callbacks work now. If you are ready to support this feature feel free to submit a PR.

[2018-02-22 07:14] RichardKnop commented on #222
@Blogoslov The current logging implementation supports different log levels. See here:

https://github.com/RichardKnop/machinery/blob/master/v1/log/log.go

So you can define INFO, WARNING, ERROR, FATAL levels.

Basically you can define a custom logger for every level of logs by implementing this interface:

https://github.com/RichardKnop/logging/blob/master/interface.go#L5

Which is identical to n

[2018-02-22 11:49] #234 closed

[2018-02-22 11:49] #133 closed

[2018-02-22 11:50] #152 closed

[2018-02-22 11:50] #144 closed

[2018-02-22 11:51] #145 closed

[2018-02-22 11:51] #197 closed

[2018-02-22 11:52] #184 closed

[2018-02-25 00:25] seonixx commented on #175
Any updates on this? Can't seem to figure out how to pass the context in to the task signature.

[2018-02-25 13:43] Rio commented on #175
I've actually worked on this last week. It's functional but only for passing opentracing contexts. All other values are currently ignored. I'll make a PR but I'd like to put in some tests, haven't come around to that yet and the readme needs work.

[2018-02-25 15:25] Rio commented on #175
PR is here: https://github.com/RichardKnop/machinery/pull/248

[2018-02-27 04:48] RichardKnop commented on #225
@snapercloud One way we could implement this would be with a special error you return from the task. So let's say we could define `ErrRetryTaskLater` and you could return something like: `machinery.NewErrRetryTaskLater(24 * time.Hour)`. This would push the task back to the queue and reschedule it to be consumed again in 24 hours? What do you think?

[2018-02-28 11:50] BaSO4 commented on #224
pls check your rabbitmq or other mq

[2018-02-28 14:01] RichardKnop commented on #225
@snapercloud https://github.com/RichardKnop/machinery/pull/250

[2018-02-28 14:02] RichardKnop commented on #226
@jmcarp This is a Celery like solution which might be good enough for most use cases: https://github.com/RichardKnop/machinery/pull/250

What do you think?

[2018-02-28 20:56] snapercloud commented on #225
That's a good idea. I would be good to keep an error count (or the number of times the task tried to execute so far) for inspection. Maybe allow combining timed retries with a limit of attempts. How would this work with a chain? It should fire the remaining tasks only when the failed task suceeds.

[2018-03-01 10:12] WingGao opened #251 "uint64 in Signature receive different value when use reids"
Create a signature with uint64 `185135722552891243 `
[code]
The output result is:
[code]

Worker log:
[code]

They have the same signature, but uint64 value has been changed to `185135722552891230`

[2018-03-01 10:42] WingGao commented on #251
I found these code https://github.com/RichardKnop/machinery/blob/master/v1/brokers/redis.go#L113-L116
And https://github.com/RichardKnop/machinery/blob/master/v1/brokers/redis.go#L258-L261
will shrink the uint64 value.

[2018-03-01 11:13] RichardKnop commented on #251
@WingGao I think this is because JSON treats all numbers as floating point (it doesn’t have int or uint type). So the conversion from uint to float and then back to uint might be causing this. Can you verify that’s the case? Any suggested solutions?

[2018-03-01 11:20] WingGao commented on #251
@RichardKnop You're right.
Here is the test.
[code]
It will convert to `float64`.
My current solution is  change the `uint64` to `string` in the my sender code.
I think it's not a universal method, but is the easiest.

[2018-03-01 15:04] RichardKnop commented on #251
@WingGao Solution here: https://play.golang.org/p/MqOaajygFqp

[2018-03-01 15:06] RichardKnop commented on #251
@WingGao Pull request here: https://github.com/RichardKnop/machinery/pull/252

[2018-03-01 15:10] steven-zou opened #253 "[Urgent] Seems machinery does not support task failure recovery mechanism"
When one worker is crashed, all the tasks running on that worker will be lost. Those tasks can not be re-queued in other healthy workers.

Failure recovery is a **MUST-HAVE** mechanism for a distributed async job queue, right?

[2018-03-01 15:11] steven-zou commented on #253
@RichardKnop Is it true?

[2018-03-01 15:14] RichardKnop commented on #253
This needs more information. What broker are you using? Steps to reproduce problems?

Just from quick glance, with AMQP deliveries are asked after processing, so if worker crashes while processing a task, task should still be in the queue and can be consumed by other worker?

https://github.com/RichardKnop/machinery/blob/master/v1/brokers/amqp.go#L234-L235

[2018-03-01 15:20] #251 closed

[2018-03-01 16:22] rakeshbala opened #254 "Warning when using []string (or other slice types) as a return value"
Worker prints out a warning when using `[]string` as a return value
For e.g when task is:
[code]
And I send
[code]
I get this warning on the worker and prints the result as empty:
[code]
However I am able to fetch the result using the `Get` method of the result.

[2018-03-01 16:52] rakeshbala commented on #254
I think this is because:
https://github.com/RichardKnop/machinery/blob/master/v1/tasks/reflect.go#L152

value.([]interface{}) returns false for an `interface{}` type pointing to `[]string`
Here is a an example snippet https://play.golang.org/p/HqIvwMqRa4N

However, I haven't checked how it is working while retrieving the results.

[2018-03-02 02:52] steven-zou commented on #253
Thanks a lot for your quick reply @RichardKnop, here are more details:

Broker and backend are redis
[code]

Use the example code to start 2 workers
[code]
Create an example long running task
[code]

Send the task for executing
[code]

The task will be executed on one worker. Terminate/Kill that worker node, the running task will not be put to another worker as a failure recovery task.

The task r

[2018-03-02 03:05] RichardKnop commented on #254
@rakeshbala Basically the error you see in the logs is coming from here: https://github.com/RichardKnop/machinery/blob/master/v1/worker.go#L204-L212

It does not affect functionality as it's just a debug log so task results are visible in the logs. But this is still a bug we should try to fix.

[2018-03-02 03:06] #226 closed

[2018-03-02 04:02] bseenu opened #256 "Pending tasks not implemented for AMQP, and for redis it returns wrong value"
Get pending tasks is not implemented for AMQP broker, and for redis it always returns 11 because of the code - https://github.com/RichardKnop/machinery/blob/master/v1/brokers/redis.go#L193

[2018-03-02 10:51] RichardKnop commented on #256
@bseenu For AMQP it is not implemented as there are technical limitations, RabbitMQ is a good message queue but is not appropriate to use for storing data, therefor the AMQP backend is just a hack which can be used for development or testing but for any real usage I recommend to use AMQP broker and Memcache/Redis backend.

For the Redis bug, you can submit a PR to fix it if it's something obvious.

[2018-03-02 18:00] bseenu commented on #256
Richard,

Thanks for responding, I am checking the pending message count in the queue

`	messages_url := `http://localhost:15672/api/queues/%2f/machinery_task`
	req, _ := http.NewRequest("GET", messages_url, nil)
       client := &http.Client{}
       http_resp, _ := client.Do(req)
		defer http_resp.Body.Close()
		var data map[string]interface{}
		rbytes, _ := ioutil.ReadAll(http_resp.Body)
		json

[2018-03-02 18:04] bseenu commented on #256
Also any reason why you want to put the retry in a seperate queue instead of same one?

[2018-03-03 08:14] RichardKnop commented on #256
@bseenu Right, I guess you can do that via HTTP API, not sure what information you get back. Do you get back whole message payload? Because I'm not using HTTP, just communicating with RabbitMQ via the AMQP library and there was no way to reading messages from a queue without consuming them (e.g. taking them off the queue) which is why this functionality is not implemented for AMQP.

If you think t

[2018-03-03 08:15] RichardKnop commented on #254
@rakeshbala This has been fixed now: https://github.com/RichardKnop/machinery/pull/257

[2018-03-03 08:15] #254 closed

[2018-03-04 10:17] steven-zou commented on #253
@RichardKnop any answers?

[2018-03-04 10:27] RichardKnop commented on #253
@steven-zou It seems to be an issue. However I am too busy to tackle this at the moment. You can submit a PR if you have a solution for this. However, since Redis does not offer proper message queue like AMQP does not sure if there is a simple solution.

[2018-03-04 17:25] jmcarp commented on #226
Looks good. Thanks!

[2018-03-05 03:57] F21 opened #259 "Pin go.uuid to commit on master?"
There was a breaking change in go.uuid (after v1.2.0), where the interface of `uuid.NewV4()` was changed to return an error in addition to the uuid.

I've updated a lot of my projects to pin go.uuid to `36e9d2ebbde5e3f13ab2e25625fd453271d6522e` using dep as the dependencies I am using have updated to the new interface.

After the upgrade, I am facing a problem where machinery won't import using de

[2018-03-05 05:52] steven-zou commented on #253
@RichardKnop Thanks for your reply. I will consider the PR option at proper time.

[2018-03-05 07:37] RichardKnop commented on #259
@F21 Yes, you can update the dependency and make a PR. Should be fairly small pull request.

[2018-03-06 02:10] #259 closed

[2018-03-06 19:12] mrjoes commented on #253
I want to chime in and ask a related question: is this applicable to SQS backend too? (I didn't really dig deep enough, but I don't see any ACK management there).

Just in case, gocraft/work (redis) does it with a small Lua script that moves a task from a pending queue to a "currently running queue" atomically. If task is complete - it's removed from a running queue. If it failed - it's moved back

[2018-03-07 17:30] bseenu opened #261 "Adding new workers is not picking up the tasks from the existing queue"
I have a queue with few tasks and some workers doing the tasks, but adding new workers to is not picking up the tasks, bringing up the worker just shows the log

INFO: 2018/03/07 17:19:28 amqp.go:74 [*] Waiting for messages. To exit press CTRL+C

When there are many messages to consume

[2018-03-07 18:48] bseenu commented on #261
Looks like this is only push based model, the worker is waiting for the event to pick up the task - https://github.com/RichardKnop/machinery/blob/master/v1/brokers/amqp.go#L172-L203

I think the model should be to connect to the queue directly and start consuming which will take care of the cases where the worker is added later on too

[2018-03-08 08:11] bseenu commented on #261
My settings are identical and i am using the direct exchange type as well

I have started some long running tasks yesterday with 4 workers and the messages were not getting de-queued as expected so to make it faster i will bring up 4 additional workers with the same settings as earlier ones and they just keep waiting there even though when they are message

I am able to reproduce this only the wor

[2018-03-08 10:48] RichardKnop commented on #261
If these tasks are long running, they won't get acked by workers until they are processed. Could it be other worker is already processing them?

[2018-03-08 10:57] bseenu commented on #261
Possible, but i had many messages in the queue in hundreds

[2018-03-09 13:45] georgekarrv commented on #261
I am seeing similar behavior with Redis as the queue broker.

[2018-03-12 19:52] georgekarrv commented on #261
so we are spinning up 10 docker containers that each launch 1 worker. using redis as the broker it works fine for some time and then it will stop pushing pending jobs through and when i jump onto the redis image and run 'dump machinery_tasks' the value is empty. There seems to be an issue where the key machinery tasks gets clobbered.

[2018-03-13 19:49] dmora opened #262 "Is there any way to have succeeded tasks expire automatically?"
Hello!

We have been using machinery for a year now, itching to start contributing. Right now we have a small issue which is you use RabbitMQ as broker and Redis as result backend. All tasks in RabbitMQ remains stored even if the task succeeded. This is OK by design, the problem is that RabbitMQ will eventually run out of memory (has happened to us). Is there any way one can have an auto-expire su

[2018-03-14 11:28] cherubmiki commented on #175
This PR helped us too. However, it would be great if we could set the tracer to the server not just use the global tracer.

What do you think about it?

[2018-03-14 16:57] RichardKnop commented on #262
Tasks themselves, when successful, should be asked and removed from the queue. See here:

https://github.com/RichardKnop/machinery/blob/master/v1/brokers/amqp.go#L238

Not sure why that wouldn't happen. When I tested locally, completed tasks are gone from the queue.

[2018-03-15 12:43] Rio commented on #175
I think having your loggers, metrics and tracers as a dependency is generally a good idea. I think this should be added to the `config.Config` struct that defaults to GlobalTracer if not set.

[2018-03-20 14:36] svanburen opened #265 "Unable to use dep with redigo"
Hi,

I'm currently trying to `dep init` on a project that is using machinery with a redis as a broker. It looks like it's having issues resolving the `garybund/redigo` dependency as the actual semver tags for that transitive dependency are actually on the `gomodule/redigo` repo.

The output of `dep init -v`:

[code]

Perhaps the fix might be referencing / pinning to the new redigo repo?

Thanks fo

[2018-03-20 15:15] RichardKnop commented on #265
@svanburen I have pushed a commit with updated dependencies. Give it a try now.

[2018-03-20 15:25] svanburen commented on #265
This worked, thanks so much!

[2018-03-20 15:25] #265 closed

[2018-03-20 18:36] bseenu commented on #262
Even i am seeing this issue and this has caused duplicates, I am trying to process millions of files asynchronously using machinery, And my team is asking me to rewrite this in python using celery

[2018-03-21 00:48] RichardKnop commented on #262
If we can find out the case of this issue, I'd be happy to fix it or accept PR. Currently I don't have much time to investigate this though.

[2018-03-26 19:04] rakeshbala opened #268 "Retrieving result of a chord without the original `ChordAsyncResult`"
This is along the same lines as https://github.com/RichardKnop/machinery/issues/186

What information do I need to retrieve the result of a chord when I no longer have access to `ChordAsyncResult` object?

From what I read in `tasks/workflow.go` and  `backends/async_result.go`, it looks like,  I'll need the UUIDs of all the group tasks and also the UUID of the chord callback to re-create the `Chor

[2018-03-30 21:22] seonixx commented on #175
@RichardKnop regarding the above "partial support" for contexts, unless I'm missing something it would appear that this simply attaches a background context to a task function definition if the first argument in that definition is of type context, however I don't see anyway you can pass an existing context to the task itself as context.Context is not a supported base type for an argument.

@Rio yo

[2018-04-03 02:21] RichardKnop commented on #175
@seonixx Do you want to pass a specific context to a task at a point of sending it? This is difficult because machinery is distributed system so tasks are run by different processes / servers.

We could add support for context arguments but I am not 100% sure if contexts are JSON serialisable in a useful way (to at least keep the data associated with them). I would need to experiment with this.

A

[2018-04-03 02:41] edmundluk3 opened #270 "Any ideas of adding scheduler task like cron?"
How can i do this using machinery?

[2018-04-03 02:48] edmundluk3 commented on #270
using CLI tools just like in this repo's `example`

[2018-04-03 02:56] #270 closed

[2018-04-03 11:14] Rio commented on #175
yes the main problem would be that any datatype can live inside a context and we have no way of quickly knowing if they can be serialized to json and if they can be it might not make sense when they get deserialized back on the worker side. This is the reason that contexts for now are opentracing specific as it defines a standard way of serializing/deserializing.

A solution could be that we have

[2018-04-03 11:29] Rio commented on #175
For example the go libraries for gRPC use a MD or metadata structure that they know how to serialize and deserialize when sending it over the network. Maybe we could have a `MachineryMD`?

[2018-04-03 17:07] dmora commented on #262
i'll be spending some time today in this issue. For a quick glance it seems it could be related to the retry logic when using AMPQ as broker. I'll keep you posted.

[2018-04-04 19:37] georgekarrv commented on #261
@RichardKnop I would like to address this issue with a PR that limits the worker from grabbing a task off the queue unless it has a pool available but I do not have permissions to create a branch to base the PR off of.

[2018-04-04 19:45] georgekarrv commented on #261
At least for redis I simply moved the pools creation to StartConsuming and monitor len(pool) - len(deliveries) > 0 to allow pulling off the queue
This works very well for me.
[code]

[2018-04-05 04:10] RichardKnop commented on #261
@georgekarrv You can fork the repo and create PR like that.

[2018-04-05 12:36] georgekarrv commented on #261
#271

[2018-04-10 06:19] s4kibs4mi opened #274 "Is there any way to cancel a scheduled task ?"

[2018-04-10 11:29] RichardKnop commented on #274
You can remove it from the delayed tasks queue.

[2018-04-10 12:30] s4kibs4mi commented on #274
@RichardKnop Can you please give an example or any link with example ?

[2018-04-10 13:59] seonixx commented on #175
Thanks for your input! @RichardKnop you mentioned sending context is difficult because of machinery being distributed, but if the context is serialised and sent as a task argument then is this still an issue?? Just trying to work out where this becomes a problem.

@Rio yes I also looked at the baggage option (after looking into opentracing in more detail) but thought the overhead would become a po

[2018-04-12 16:19] bmarini opened #275 "SQS Broker has race condition where tasks could be lost"
https://github.com/RichardKnop/machinery/blob/master/v1/brokers/aws_sqs.go#L209-L215

If the process dies after deleting but before processing a task, the task is lost.

It looks like it was an intentional decision to delete the message from the queue after receiving it, but before processing it. This is inconsistent with the AMQP implementation though, where the message is ack'd after processing:

[2018-04-13 02:31] RichardKnop commented on #275
@bmarini Hi. I have actually only written support for RabbitMQ and Redis brokers and for AMQP/Redis/Memcache backend. All other brokers and backends have been contributed so I am not overly familiar with the codebase.

I will need to look at the code in more detail once I have more time (perhaps this weekend). SQS support was contributed here https://github.com/RichardKnop/machinery/pull/212 by @m

[2018-04-13 16:36] bmarini commented on #275
Thanks for the info @RichardKnop that helps!

[2018-04-14 16:09] RichardKnop commented on #275
@bmarini You can submit a PR to fix this if you want :)

[2018-04-22 07:10] RichardKnop commented on #275
@bmarini I have merged a fix for this issue to the master branch.

[2018-04-22 07:10] #275 closed

[2018-04-24 13:56] siredwin opened #278 "panic: reflect: call of reflect.Value.Len on zero Value"
There was a task that came in to the queue and failed internally without finishing or getting the result.
The production server could not start at all after that.
My only remedy was to issue this command

`sudo rabbitmqctl purge_queue machinery_tasks`

After that the server started right back up.

**I was able to recreate problem.**

`INFO: 2018/04/24 14:42:45 amqp.go:235 Received new message: {"U

[2018-04-29 15:30] RichardKnop commented on #278
@siredwin Can you try with the latest master? I have made a change to treat `NULL` in case of slices as an empty slice. The panic was caused because it was expecting an empty array such as `[]` for the value. It makes sense to treat `NULL` as empty slice though.

[2018-04-29 15:30] #278 closed

[2018-04-29 17:15] siredwin commented on #278
I won't be able to test it but I will take the fix. It only occurred in production but not development, and I don't want to break the code again.
The way you described it sounds like what was happening. If someone else comes across it, they can comment.

[2018-04-30 14:40] paulm17 commented on #133
@zfsamzfsam It's been a while, but since no-one has approached this.  I want this as well, so will be working on it.  If I'm successful, PR to follow...

[2018-04-30 19:27] paulm17 commented on #133
Thought I would update.  I have Nats working for a Broker and I have MemSQL working as a backend, similarly to how memcache works.

	INFO: 2018/04/30 15:23:49 file.go:19 Successfully loaded config from file config.yml
	INFO: 2018/04/30 15:23:49 worker.go:43 Launching a worker with the following settings:
	INFO: 2018/04/30 15:23:49 worker.go:44 - Broker: nats://localhost:4222
	INFO: 2018/04/30 15:2

[2018-05-01 10:58] paulm17 opened #283 "Nats Broker Implementation, Why confirmsChan in Publish method in ampq Broker."
I have a working broker with nats streaming server.

However, there is no NotifyPublish functionality to track messages that have been published.

https://github.com/RichardKnop/machinery/blob/master/v1/brokers/amqp.go#L149

Apparently this is done internally.

https://github.com/nats-io/go-nats-streaming/blob/master/stan.go#L353

Why is confirmsChan being used?

Could it be that the first error w

[2018-05-02 14:21] ItsLeeOwen opened #284 "Question: any interest in storing task name with TaskState?"
@RichardKnop   While reviewing/filtering results I thought it might be nice to include the task name.

[code]

[2018-05-03 14:15] siredwin opened #285 "reflect: Call with too many input arguments"
I am experiencing this error intermittently when I check the state of a very long-running task.
The actual error below originates from a lost connection to AWS.
`read tcp 192.168.1.195:56370->52.216.232.43:443: read: connection reset by peer`

I would like to get that actual error back.
What do I get `reflect: Call with too many input arguments` error instead in state check?

[2018-05-04 13:30] #284 closed

[2018-05-05 15:11] siredwin opened #287 "Question: I need to get timestamp for task completion time."
I have some really long running tasks and would like to get a timestamp for job completion so that I can compare across servers.
How do I go about that?

[2018-05-10 09:51] tailingchen opened #291 "SQS broker will process the old tasks that failed before"
In aws_sqs.go, the worker does not delete the message if failed to process it and the message will be delivered again after VisibilityTimeout.
https://github.com/RichardKnop/machinery/blob/master/v1/brokers/aws_sqs.go#L221

On the other hand, if I use the retry mechanism, worker will send another retry task to sqs queue.
https://github.com/RichardKnop/machinery/blob/master/v1/worker.go#L170

Accor

[2018-05-10 12:27] RichardKnop commented on #291
@tailingchen Yes I think this is a bug. In the AMQP reference broker, it asks message off the queue after processing whether there was error or not. See here:

https://github.com/RichardKnop/machinery/blob/master/v1/brokers/amqp.go#L237-L239

Then taskRetry can republish task to the queue again to be retried if the task is configured for retry attempts.

[2018-05-10 12:31] RichardKnop commented on #291
AMQP should be used as a reference broker, it was developed first and other brokers should follow it's steps as closely as possible.

For Redis, it is simpler, because Redis queues are not very sophisticated. There is no concept of ack/nack when consuming messages

So there's no need to do anything after processing: https://github.com/RichardKnop/machinery/blob/master/v1/brokers/redis.go#L305

Bec

[2018-05-10 15:29] tailingchen commented on #291
@RichardKnop My bad. The original logic is right! I think I have misunderstood on this.

If the task need to retry, the worker will re-send the task and return nil error if re-sending task successfully, then the old task will be deleted. Otherwise, the old task will be kept in SQS if failed to re-send task.
https://github.com/RichardKnop/machinery/blob/master/v1/worker.go#L189

[2018-05-10 17:44] #291 closed

[2018-05-17 16:25] paulm17 opened #293 "Passing in database connections to tasks?"
Hi,

Coming from other solutions such as gocraft/work.  I'm able to pass the database connection via context to the code that is processed by the worker.

This ensures that only 1 long lived connection is being used, rather than multiple connections being opened and closed.

Is it possible to instantiate a db connection in the worker and then have it available to a task?

Can someone knock up an e

[2018-05-18 10:05] sashker opened #294 "Celery compatibility"
Hello.

Could you tell me, please, is machinery compatible with Python Celery workers?
May I use it as a client for Python Celery workers and: put tasks and get results?

Thank you.

[2018-05-21 01:13] remotejob opened #295 "ResultsExpireIn for mongodb"
Config option ResultsExpireIn in case of use Mondodb as ResultBackend:

Don't work for me.

But it's Ok in case of use Redis as ResultBackend:

[2018-05-21 23:44] regaw-leinad commented on #293
A quick example... I group the handlers in related structs, then create a new "handler" and pass the db context to its initialization function.  The worker can then access it's `db` field while executing.

For example:

[code]

[2018-05-22 08:04] paulm17 commented on #293
I'm sorry, but you haven't given me enough information.  I'm missing some crucial elements.

Let me explain what I have and hopefully you can point me to the right direction.

I have two "workers" in different programs.  The job worker and a "message queue" worker.

The job worker starts the machinery worker process:

	func startServer() (*machinery.Server, error) {
		cnf, err := loadConfig()
		if

[2018-06-12 00:22] mhnavarro commented on #262
I was able to reproduce the issue described.

Looking in here https://github.com/RichardKnop/machinery/blob/master/v1/brokers/amqp.go#L238
messages are acknowledged, but only in the consumer queue. They remain in the publisher queue if autoAck is set to false (which is ok, we don't want to lose any task if the server goes down :) ).

@RichardKnop I would like to try and develop a fix, could you pl

[2018-06-19 15:25] WillAbides opened #298 "Can we separate brokers and backends into their own packages?"
It would be useful to put each broker and backend in its own project.  For example `.../v1/backends/redis` and `.../v1/brokers/amqp`.  This would reduce the binary size and number of dependencies for projects that use just one broker and backend.  I tried this out for a project I'm working on now, and eliminating all but the redis broker and backend reduced our binary size by 7MB and removed six p

[2018-06-20 17:09] joe-mcnuggets commented on #285
I've had the same issue.
`reflect: Call with too many input arguments` was raised at the worker side because of the mutated tasks args caused by chaining(look #158).

In my opinion machinery should capture this error and prevent breaking the jobs server.

[2018-06-21 14:52] RichardKnop commented on #298
@WillAbides This should be possible without breaking any backwards compatibility. I have made a quick PR and it seems to work: https://github.com/RichardKnop/machinery/pull/299

Regarding v2, that is quite a slow process and I'd probably rethink some design choices and rewrite internals from scratch. However given lack of time to invest in this, it might be few years before that happens. For now v

[2018-06-22 11:15] #298 closed

[2018-06-22 11:15] RichardKnop commented on #298
Done

[2018-06-22 14:51] WillAbides commented on #298
Thanks for doing this so quickly.  I was taking a strict interpretation of backward compatibility since the methods like `NewRedisBackend` are exported, but if they aren't used outside the machinery in practice, then it isn't really a backward compatibility problem.

[2018-06-23 05:29] RichardKnop commented on #298
I think most people are using factory functions and those didn't need to change.

[2018-06-24 05:12] jaipradeesh opened #301 "Is there a way to limit number of concurrent tasks"
Hello,

If I would like to limit a worker to process only n tasks at any given point of time, is there a way to configure it?

[2018-06-27 07:17] Blogoslov commented on #301
I think you are asking about this parameter:

worker := server.NewWorker("worker_name", **10**)

[2018-06-27 11:05] RichardKnop commented on #301
@jaipradeesh @Blogoslov That's correct. The second parameter to `server.NewWorker` is max number of concurrent tasks being processed by this worker at a time.

[2018-06-27 11:05] #301 closed

[2018-07-09 09:58] valeriano-manassero opened #303 "Worker on a custom queue (not defaultQueue)"
Referring to https://github.com/RichardKnop/machinery/issues/71

I have a working Machinery installation with a Redis backend.
Basically, what I need is to have two queues and have one worker on the first queue with concurrency = 0 and other worker on the second queue with concurrency = 1.

I tried but I can't find a way to get it done. I mean, there's no way to set a worker on a queue different t

[2018-07-09 12:36] joe-mcnuggets opened #305 "Patch update breaks builds"
Update from 1.3.6 to 1.3.7 breaks builds because of moved packages(such as AsyncResults moved into package "result" from "backends").
Backwards-incompatible changes **should not** appear in **patch** releases.

[2018-07-09 13:08] joe-mcnuggets commented on #274
@s4kibs4mi you simply should set ETA in the task signature([docs](https://github.com/RichardKnop/machinery#delayed-tasks))

[2018-07-10 15:01] RichardKnop commented on #305
@joe-mcnuggets Sorry for that. I have updated release to 1.4 instead of 1.3.7.

I don't think this change is big enough to jump to 2.0.

[2018-07-11 06:30] DamnikJain1 commented on #2
vanhalt sucker, don't show attitude here idiiot just say what to do

[2018-07-11 06:31] DamnikJain1 commented on #2
What do you mean by "didn't read the whole readme" just say what you have done to solve the issue ?

[2018-07-11 17:19] josselin-c opened #306 "Replace package satori/go.uuid"
This issue has been opened automaticaly because we think you are using satori/uuid in your code. Unfortunately, satori/uuid has a critical defect where it doesn't generate random UUIDV4s satori/go.uuid#73 and should be replaced as the maintainer has been unresponsive for 5 months with the bug still open. Alternative packages you should consider: https://github.com/google/uuid https://github.com/pb

[2018-07-12 15:23] #306 closed

[2018-07-13 05:44] valeriano-manassero commented on #303
@RichardKnop Can you help me on this issue please?
Or, if there's no solution, what about referenced PR?

Thanks!

[2018-07-23 03:53] RainbowMango opened #309 "Keep reloading configuration doesn't work with v1.4.1"
@RichardKnop
After worker launched, then i start a go routine to send task every 5 seconds.
I set broker with Redis sentinel addr, that doesn't work. So, I tried to update broker's URL, E.g "redis://x.x.x.x:6379", but new configuration cannot take effect.

The error log like "Set state pending error: ERR unknown command 'SET'."

I have fast go through  the code, the config.NewFromYaml() indeed  re

[2018-07-23 22:32] Rizbe opened #310 "SQS Client Issue"
Getting the following error below when trying to use SQS
[code]

[code]

[2018-07-24 02:21] Rizbe commented on #310
Removing aws from vendor file seemed to do the trick, saw this issue in the aws-sdk project:
https://github.com/aws/aws-sdk-go/issues/634

[2018-07-25 09:01] ljesparis opened #311 "machinery and broker connection"
Hello,

I was watching your code and i notice that you always create a connection between AMQP and machinery when calling Publish function, why do you do it?

why not just create a publisher connection and consumer connection?

i mean, for the consumer it is ok, because it will wait for messages until someone kill it, but you are adding a connection delay in each publishment.

[2018-07-25 09:10] ljesparis commented on #311
i did add this fastest solution(not the best one)

1) add global variables
[code]

I did this to test my point and results from my server are:

**with one connection:**
[GIN] 2018/07/25 - 11:08:08 | 200 |   29.280761ms |       ...

**without one connection:**
[GIN] 2018/07/25 - 11:10:11 | 200 |  124.820257ms |      ...

[2018-07-30 04:04] RainbowMango commented on #309
@RichardKnop

[2018-08-01 06:50] RainbowMango commented on #200
@alexhudici Have you tested master-slave scenario?  Does worker retry to slave when master doesn't work?

[2018-08-01 08:47] #303 closed

[2018-08-01 11:15] RainbowMango commented on #309
Someone asked a similar question.  https://github.com/RichardKnop/machinery/issues/200

I checked the code carefully.  Update Redis broker's URL can't take affect automatically.
When worker need connect redis, just get one from pool. broker.pool will not rebuild even all connection become invalid in the pool.

`// open returns or creates instance of Redis connection
func (b *Broker) open() redis.C

[2018-08-03 01:45] RainbowMango commented on #309
Bad news. After Redis failover from master to slave the connection cannot be re-build.
I get the following errors:"Set state pending error: READONLY You can't write against a read only slave."

I used https://github.com/go-redis/redis that can switch connection to new master.

[2018-08-03 16:38] Rizbe commented on #310
bump

[2018-08-04 01:16] heww opened #317 "factories.go still import all brokers and backends"
In Issue #298 it suggest to separate brokers and backends into their own packages so that can reduce binary size, and Pr #299 split brokers backends into pkgs, it looks good.

But,  [factories.go](https://github.com/RichardKnop/machinery/blob/c477849d46c7c03db8ad5e4050987c30b938978d/v1/factories.go#L12~L24) still import all brokers and backends, binary size still not reduced.

I think machinery sh

[2018-08-04 15:51] RichardKnop commented on #317
@heww Agreed. If you want, you can make a PR :)

[2018-08-04 16:49] ahlusar1989 commented on #208
@RichardKnop It looks like this still needs to be implemented, if I am not mistaken?

[2018-08-06 10:07] RainbowMango commented on #309
I need to update broker's URL runtime, I tried following steps:
1. worker.Quit()
2. Update server's config   server.config.Broker = newURL;  as well as server.config.ResultBackend = newURL.
2. server.SetBroker(broker)  //the broker comes from BrokerFactory(server.GetConfig())
3. server.SetBackend(backend) //the backend comes from BrokerFactory(server.GetConfig())
4. server.GetBroker().SetRegistere

[2018-08-11 10:39] arundudeemmt opened #319 "periodic-tasks and beat support"
Hi ,

Do we have a support to periodic-tasks ? one crude way i have found is time ticker but in that case if server is not up at that instance than your task wont be executed .So in that case you need at beat server to do relay jobs .is there a plan to add support like this .celery does a good job in that but wanted to do something in go .Please advise

[2018-08-11 13:47] RainbowMango commented on #309
@RichardKnop
I'm trying to fix this issue. And i think the 'host'、'password'、'db' should be removed. Since the three info could get from broker.cnf, seems it breaks some design patterns.  Even though configuration changed outside, the there info never be updated.

`// Broker represents a Redis broker
type Broker struct {
	common.Broker
	common.RedisConnector
	host              string
	password

[2018-08-21 21:06] ofernandezcr92 opened #322 "Adding support for routingKey in delays"
Currently, when you Publish a message (https://github.com/RichardKnop/machinery/blob/master/v1/brokers/amqp/amqp.go#L97) the function b.AdjustRoutingKey(signature) is called. The signature.Routingkey is used to connect/publish the message (https://github.com/RichardKnop/machinery/blob/master/v1/brokers/amqp/amqp.go#L123); however when the message has a delay (https://github.com/RichardKnop/machine

[2018-08-22 06:12] mmt7172 opened #323 "Uses older version of aws-sdk; please change to latest version"
Uses older version of aws-sdk: 1.13.16

causing issue while I am building project using dep

[2018-08-23 15:57] #322 closed

[2018-08-23 19:32] snapercloud opened #324 "Add NSQ message broker"
AMQP is a great way to send messages over-the-wire. However, there are some cases where we might prefer to use a natively distributed message queue. We would like to keep current infrastructure to send server-to-server messages with AMQP, and use NSQ sometimes to broadcast a message to all servers. It can be done with AMQP sofwares as RabbitMQ (pub/sub approach), but as I said, it's not native and

[2018-08-24 09:37] Blogoslov commented on #256
For Redis bug is fixed. I see that pending tasks are correct now.

[2018-09-05 15:23] eldadvcita opened #325 "HOW TO: Use Machinery without result-backend?"
Hi,
I'm interesting in running Machinery without a Result-Backend for specific tasks.
I noticed that I can use 'eager' instead of actual Redis/AMQP/etc. server - but is there any drawback for using it?

For example,  the eager backend is used for testing, therefore we might encounter memory issues etc. so its worth performing additional actions in order to completely eliminate that risk. In practi

[2018-09-05 15:25] eldadvcita opened #326 "AMQP - Establish connection on each request"
Hi,
I noticed that whenever I publish a task `server.SendTask(..)` Machinery open a new connection in order to transmit the message:

vapp_1       | 15:10:45 app         | [GIN] 2018/09/05 - 15:10:45 | 200 |     13.1198ms |      172.18.0.1 | GET      /impression/image_pixel?v=1&pivot_id=2&of=3

Is there a way to keep using the same connection over and over again?
Thanks!

[2018-09-06 05:33] alext234 opened #327 "queue status and monitoring"
Is there any way for monitoring/checking statuses of the queues at the moment? Either exposed via http server or API to collect statistics.

[2018-09-08 14:39] RichardKnop commented on #326
@eldadvcita This could be done, of course. If you want, you can submit PR to maintain a connection inside the server.

[2018-09-08 14:40] RichardKnop commented on #323
@mmt7172 Done

[2018-09-08 14:42] RichardKnop commented on #327
@alext234 Depends on your broker. There is a `GetState` method that can in theory be used: https://github.com/RichardKnop/machinery/blob/master/v1/backends/iface/interfaces.go#L22

However that won't work with AMQP broker right now. It would be ideal to create HTTP or RPC JSON API to expose task state. I am open to pull requests on this.

[2018-09-08 15:07] #323 closed

[2018-09-08 20:42] #327 closed

[2018-09-10 08:29] koron commented on #310
the type of `SQSConfig.Client` is `*sqs.SQS`.
but `sqs` package is vendored by machinery,
so values of `*sqs.SQS` type won't be injected by library users.

so current `SQSConfig.Client` never work.

[2018-09-10 08:32] patrickzhe opened #328 "What about redis connections and cost?"
I'm trying this lib to run async jobs, using Redis. But Redis connection pool on my AWS container went to the roof and CPU is also very high. I'm set worker numbers to 10 and send regular tasks as document described. What is probably wrong here?
And I read the source code when using redis pool, only set idle number and doesn't set maxActive, is that the reason?

[2018-09-10 09:12] RainbowMango commented on #328
Please have a try without any redis configuration, just use the default. Then share your result.

[2018-09-12 21:39] bharat-p opened #329 "Dependency error when running machinary example"
Running into following error when trying to run sample machinery program in a package using new Go modules.

Here is the error:

[code]
Looks like its coming  from https://github.com/RichardKnop/redsync and I see that a recent commit was made there to take care of similar issue with `dep`.

I believe to make it work with Go modules we need to tag master of (https://github.com/RichardKnop/redsync)

[2018-09-13 04:04] alext234 opened #332 "remove the checking for "https://sqs.." for SQS"
Is it possible to remove or to modify this checking at this line
https://github.com/RichardKnop/machinery/blob/master/v1/factories.go#L67

The reason is:

- I am testing with a local mock setup of SQS (using docker)
- I don't have `https`, just `http`
- My URL may not start with `sqs`

[2018-09-13 15:34] bharat-p commented on #332
Maybe we disable this check when a special environment variable e.g. `DISABLE_STRICT_SQS_CHECK` is set? @RichardKnop  if you are ok, i can create a PR for this change

[2018-09-13 20:07] alext234 commented on #332
Yes,  why not. Thank you.

[2018-09-13 20:07] #332 closed

[2018-09-13 21:57] siredwin opened #335 "Get all Task States for task"
I am implementing websocket.
It would be nice to get all task States previously done i.e. Pending, Started, Failure.

This way a client gets a meaningful sign of progress. It could just be in a slice form.

[2018-09-18 15:31] jaipradeesh opened #336 "Remote execution of a task"
Hello there,

What if the task does something remotely? How to handle the status of the remote task a serial workflow.

Example:
- Assume a chain workflow. Task `foo` and task `bar` should in series (`bar` runs after `foo` is completed)
- Task `foo` triggers a build remotely
- When the remote build is completed, a message is pushed to a loopback RabbitMQ exchange
- On reception of the message from

[2018-09-21 15:27] herpiko opened #339 "Always error when using chain"
Hi,

I've these simple two workers that that has its own task. These tasks only print somestring. When I use chain to run these tasks sequentially, this error occured in worker side. I've change the broker and result backend to other options, but the erorr still persist.

The error gone if I just put only one task to the chain.

[code]

The worker's code (other worker is similiar with different ta

[2018-09-21 16:39] herpiko commented on #339
I've tried to run `make ci` on master and all are passed. It must be my code that is wrongly written. Adding this ( https://github.com/herpiko/machinery/commit/20b2e53986d083d747f2629799b64c7625c5e8fa ) solves my chain issue but it breaks the unit testing. Is there any clue what is wrong with the code above?

[2018-09-21 18:31] herpiko opened #340 "Fetch task state by UUID"
Is there any way to get the state of a task by UUID from a server instance?

Assume that there are two instance of servers are up. We send a task with manually assigned UUID on the signature from server 1. Then we want to fetch the state of task by this UUID in the server 2.

In the examples, the only way to get the states is from asyncResult which derived from Send* functions. This asyncResult is

[2018-09-21 18:53] herpiko commented on #340
Solved.

[code]

[2018-09-21 18:53] #340 closed

[2018-09-22 16:04] AlbinOS opened #341 "Help inquiry"
Hi,

I'm analysing different possibilities to use/implement a persistent queue in Go. My first though was Machinery/Redis but I'm afraid that the queue might grow quick big (several GBs) before being emptied and I was afraid of having all of this in-memory.

I was thinking on using BoltDB as job backend to ensure persistence, reliability and the possibility for the queue to grow quite big without

[2018-09-24 08:30] RichardKnop commented on #341
Nothing is stopping you from implementing your own result backend based on the interface provided: https://github.com/RichardKnop/machinery/blob/master/v1/backends/iface/interfaces.go#L8

I am trying to limit number of broker and backend implementations in this repository as it's becoming more difficult to maintain with every new addition.

[2018-09-24 08:30] #341 closed

[2018-09-24 08:31] RichardKnop commented on #340
@herpiko correct, you can recreate async result on a different server and fetch task data that way. Perhaps it might be a good idea to add some helper functions for this to the server.

[2018-09-24 08:43] RichardKnop commented on #339
@herpiko In a chain each task will append it's result to the next task in chain. So your second task's signature should have empty `Args` as the first task will pass its result as argument to next task. Also name of task needs to be the same as task registered by the worker so change name of second task to `build`.

[code]

[2018-09-24 08:43] #339 closed

[2018-09-26 05:54] RichardKnop commented on #336
You can achieve this by chaining tasks `foo` and `bar`. Should be quite straightforward.

[2018-09-26 05:54] #336 closed

[2018-09-27 11:08] feelinc opened #342 "GetPendingTasks does not return tasks having ETA"
Hi,

I'm using version 1.4.4 with Redis for Broker and Backend. Unable to get pending tasks created having ETA.

I've tried not running the worker and send some tasks having ETA.

I'm using SendTaskWithContext, where I'm using the same background context for each task created.

When I'm not using ETA, and using the same background context, GetPendingTasks able to collect all tasks not yet consumed

[2018-10-01 03:58] RichardKnop commented on #342
Tasks with ETA for Redis are stored in a different queue, if you read the code. It's not a bug really but `GetPendingTasks` could be improved to also fetch data from the tasks that have ETA.

[2018-10-01 03:58] #342 closed

[2018-10-01 10:05] feelinc commented on #342
I have check the `v1/brokers/redis/redis.go` source code. The tasks stored in "delayed_tasks".

The tasks added by "ZADD" command, but the `GetPendingTasks` is using "LRANGE" command, so redis will return error "WRONGTYPE Operation against a key holding the wrong kind of value", which result empty.

[2018-10-05 18:31] chawco commented on #329
I'm also running into this issue -- @RichardKnop any chance we could get a v1.0.2 tag on your fork fo redsync to address this?

[2018-10-07 15:09] #329 closed

[2018-10-11 17:42] RichardKnop commented on #145
@jsm @tingxin The redis broker has not been tested extensively with clusters. If any of you want to fix this issue (maybe improve the reds broker, perhaps there is better library for redistribution clusters), please raise a PR.

I will probably not have time in near to midterm future to spend time debugging and fixing this so it would be best if people using Redis broker contributed fix for this :

[2018-10-11 20:18] mjfeller commented on #274
An example would be very helpful. I've tried
- `backend.SetStateSuccess()`
- `backend.SetStateFailure()`
- `backend.PurgeState()`

No luck as of yet. I'll keep digging in the mean time though.

[2018-10-17 12:47] eldadvcita commented on #325
For now, based on my PR: https://github.com/RichardKnop/machinery/pull/338
I just implemented a blank Result backend:

[code]

And I used it like this:
[code]

Have fun!

[2018-10-17 13:18] eldadvcita opened #346 "Worker doest exit if broker address is not reachable"
Hi,
I tried to run my application with an invalid Backend address (AMQP). When I tired closing the app (CTRL+C) it stoped consuming but the application didn't exit.

The reason is that common.Broker.StopConsuming()` sending a message to stopChan:
[code]
But there is no consumer for it. therefore we keep waiting forever. The consumer for this channel start listening only once we established connect

[2018-10-18 10:34] RichardKnop commented on #346
@eldadvcita Sounds good

[2018-10-23 20:40] theobouwman opened #348 "Machinery sid-by-side HTTP api"
Hello,

I have a HTTP api which I want to use with Machinery for sending notifications/emails and do the heavy tasks.

Should I run the Machinery in a different process as the HTTP server? Or run them both in the same process, and how could I do this?

[2018-10-26 12:49] eldad87 opened #349 "AMQP Custom Queue is ignored on worker"
Hi,
By reviewing the code, [THIS](https://github.com/RichardKnop/machinery/blob/master/v1/brokers/amqp/amqp.go#L54) line lead me to believe that Custom Queue is ignored by the AMQP broker.

[2018-10-26 16:22] gow opened #352 "Broker failed with error: Group completed error: redigo: nil returned"
Hi,
We recently started to use Machinery to run some of our asynchronous jobs. I've noticed that a couple of times the worker abruptly stopped processing tasks. I found the following entry in the logs which was logged at the same time when I noticed the outage. But it doesn't tell much.

`Broker failed with error: Group completed error: redigo: nil returned`

Looking into the code, this log is emi

[2018-10-28 14:01] toutouastro opened #354 "cannot find package "github.com/RichardKnop/machinery/v1/errors" after installing package using "go get""

[2018-10-28 14:13] toutouastro commented on #354
Following this article: http://masnun.rocks/2016/11/01/distributed-task-processing-in-golang/
The code does not run showing the above error!
I think the article should be updated (because the folder errors is already removed maybe it existed in a past version)!

[2018-10-29 08:07] risav1994 opened #355 "Concurrency for send group not working properly."
Hi,
    If the concurrency is set to 0 in server.SendGroup() then it works as suggested, but when you set it to, let's say 1, then it is still functioning as the one with 0. Can you explain the exact meaning of concurrency there?

[2018-10-29 18:21] gow commented on #352
Ok. After debugging further, I discovered a couple of issues that might be related to this.

**1. The group result TTL is not set correctly.**
**Issue**: I had the default result expiry time (1 hour) and had tasks execute in a chord. This set the group's result to expire in 1hr when it was created. But some tasks in the group took longer than 1 hour to complete because of retries and exponential b

[2018-10-30 04:18] feelinc commented on #352
I have similar issue `worker.go:69 Broker failed with error: Group completed error: redigo: nil returned`

Broker : SQS
Backend : Redis
Queue : FIFO

This happen if I set `GroupUUID` in task.

[2018-10-30 07:32] shinsuke-nara commented on #310
This issue must be resolved. Now machinery does not vendor `sqs` package.

[2018-10-31 19:46] eldad87 commented on #355
This variable define the goroutine pool size, in turn, this pool is used to send your tasks to the broker.
0 means unlimited, in order words the pool size will be equal to the amount of tasks you're about to send.

Value of 0 will send your messages the fastest (probably), 1 will keep the messages in order etc.

[2018-10-31 19:52] eldad87 commented on #348
Its up to you.
Machinery can run as a producer and consumer on the same process.

[2018-10-31 20:02] theobouwman commented on #348
Okay, tnx. Where can I find an example of this?

[2018-11-02 13:15] risav1994 opened #356 "Add tasks in a chord from two different processes"
Lets say there are 5 tasks to be processed in a group and 6th task is to be processed after success of 5 tasks. Now the 5 tasks are to be provided at different time and from different functions. How to do that using chord feature of machinery?

Function A => task 1 at 0 sec
Function B => task 2  at 5 sec
Function C => task 3, 4 and 5 at 10 sec
Function D => task 6
Task 1 shall start processing as

[2018-11-02 13:33] #349 closed

[2018-11-02 14:11] eldad87 opened #357 "Result server - Use Pub/Sub pattern"
Hi,
We need to optimize the way we wait for a task to complete. Today Machinery "ping" the server for updates with a [sleep interval](https://github.com/RichardKnop/machinery/blob/master/v1/backends/result/async_result.go#L98) and optionally with [timeout](https://github.com/RichardKnop/machinery/blob/master/v1/backends/result/async_result.go#L111).

Instead we can use Pub/Sub for AMQP or [Redis](

[2018-11-02 14:17] eldad87 commented on #356
Did you tried the `Signature.ETA`?

[2018-11-02 14:29] #355 closed

[2018-11-03 17:00] risav1994 opened #358 "Time Limit on a task"
How to apply time limit on a certain task?

[2018-11-03 19:35] eldad87 commented on #358
You need to apply that limitation directly into your `task` implementation:
[code]

[2018-11-03 19:38] risav1994 commented on #358
And in this
func Add(args ...int64) (int64, error) {
  // Implement timeout
  return tasks. NewErrRetryTaskLater("some error", 4 * time.Hour)
}
what should be there in place of (int64, error)

[2018-11-03 19:39] #356 closed

[2018-11-03 19:47] eldad87 commented on #358
It's just an example. int64 is just an argument. Anyway, you can do something like:
[code]

Hope it helps.

[2018-11-03 19:49] risav1994 commented on #358
Thank you very much.

[2018-11-03 21:00] #358 closed

[2018-11-03 21:02] risav1994 commented on #352
It can also happen if you have set two different db number for two different tasks in a group.

[2018-11-04 20:59] eldad87 commented on #354
There is no such thing as `github.com/RichardKnop/machinery/v1/errors`, errors can be find in `github.com/RichardKnop/machinery/v1/tasks`

[2018-11-04 23:20] F21 commented on #346
I upgraded to 1.5.0 and noticed a bunch of `Stop channel` warning messages in my logs. Is there a reason why `Stop channel` is classed as a warning?

[2018-11-05 03:12] #346 closed

[2018-11-05 03:12] #354 closed

[2018-11-05 03:35] RichardKnop commented on #352
@gow This is probably caused by default expiration time being 1 hour: https://github.com/RichardKnop/machinery/blob/master/v1/config/config.go#L19

Please set it to larger value otherwise task states and group metadata will be expired. I am going to push a commit to make 24 hours default expiry time as 1 hour seems quite short.

For the issue 2) I am not sure why that would happen, could you debug

[2018-11-05 04:28] gow commented on #352
@RichardKnop yes. Setting the default timeout to 24hr could provide some relief. I changed our config to 24hrs as well. But someone will definitely run into this problem again at some point. All they have to do is to have retries + backoff configured such that it the task/group exists longer than the configured `ResultsExpiryTime`. I think the right fix is to extend the TTL of the result object wh

[2018-11-05 22:08] eldad87 commented on #335
If I understood correctly, your app require the following steps:
1. Queued / Received - Should be implemented in your application controller / HTTP handler (Validation pasted, message sent successfully to the message broker etc.).
2. In Progress - Fork and merge [this](https://github.com/RichardKnop/machinery/pull/343) PR. Use the Pre-task hook.
3. Done / Error - use The `signature.OnSuccess`, `si

[2018-11-05 22:18] eldad87 commented on #328
It simply means that you better isolate your infrastructure and provide Machinery with its own Redis.
Anyway, its hard to diagnose your issue without going through your code and configuration.

Try using `SQS` as a broker and Redis as a result backend. If that doesn't work and Redis is still loaded, reduce the amount of works. In addition, avoid using the `AsyncResult` object, as it connect to you

[2018-11-12 11:21] dolftax opened #360 "Metrics"
Is there a way to get metrics of the machinery server? total number of tasks, number of failed tasks, .. ?

[2018-11-14 23:44] siredwin commented on #335
Thanks, I will look into it.

[2018-11-19 13:23] fgimenez opened #361 "Build failure"
Hi, I get this on any command that involves building:
[code]
According to https://github.com/gomodule/redigo/issues/366, `github.com/garyburd/redigo@v1.6.0` should be used, I'll propose a PR.

Thx!

[2018-11-21 10:33] #361 closed

[2018-11-21 10:40] RichardKnop commented on #361
@fgimenez I have merged your PR but I couldn't reproduce the issue on my development machine.

[code]

Works for me also on version before the PR was merged. I don't have time to investigate further though.

[2018-11-21 11:19] fgimenez commented on #361
Thanks @RichardKnop! You would probably have garyburd/redigo v2.0.0 already in the cached modules from a build when it was available, try again after deleting (or renaming) `${GOPATH}/pkg/mod` and you should get the error.

Cheers!

[2018-11-26 06:03] FelixSeptem commented on #50
any progress or plan about use kafka as a broker？for kafka has been a popular stream system

[2018-12-04 15:13] RainbowMango commented on #309
@eldad87 What's your problem?  For my project, I restarted worker for workaround.

[2018-12-13 23:01] bp-fndr opened #364 "Issue with using SQS FIFO queues"
When trying to use SQS fifo queues, I am getting following error after task is finished:

[code]
This is because tasks being submitted to FIFO SQS queue requires a MessageGroupId attribute, and only way to set this attribute is by setting `GroupUUID` attribute of Machinery Task signature which is really intended for Machinery's grouped tasks concept.

Since we are forced to set GroupUUID when subm

[2018-12-13 23:03] bp-fndr commented on #352
@feelinc  I believe you are running into this issue I opened here: https://github.com/RichardKnop/machinery/issues/364

[2018-12-13 23:07] #364 closed

[2018-12-13 23:09] bharat-p opened #365 "Issue with using SQS FIFO queues"
When trying to use SQS fifo queues, I am getting following error after task is finished:

[code]
This is because tasks being submitted to FIFO SQS queue requires a MessageGroupId attribute, and only way to set this attribute is by setting `GroupUUID` attribute of Machinery Task signature which is really intended for Machinery's grouped tasks concept.

Since we are forced to set GroupUUID when subm

[2018-12-14 10:01] RichardKnop commented on #365
I will merge your PR that fixes this issue over the weekend. Thank you very much for investigating and making a merge request to fix the issue!

[2018-12-14 10:06] #365 closed

[2018-12-18 17:13] niranjan94 commented on #274
@RichardKnop *ping* 😄 A simple example would be helpful. I'm not having any luck figuring a built-in way out for this. Thanks !

[2018-12-19 06:32] bharat-p opened #367 "SQS worker started with NewCustomQueueWorker() listens on default queue and not on custom queue specified"
Noticed this issue with SQS Broker, when starting a worker using `NewCustomQueueWorker` method

[code]
doesn't listen on custom queue specified ( even though output of worker specifies its using custom queue) and instead worker is started listening on default queue from config.

Below is the code which seems to be problematic:
[code]
as you can see `qURL` being used is always `b.defaultQueueURL()`

[2018-12-23 13:29] perqin opened #368 "Logging with new line"
Machinery seems to log content with `Printf` without `\n` suffix, which makes the lines from other lib appended to Machinery's lines. In my case when using Gin:
![deepinscreenshot_select-area_20181223212820](https://user-images.githubusercontent.com/7088631/50384048-c0a25c00-06f9-11e9-9d54-0faae9a549b1.png)

[2018-12-30 20:21] casoetan commented on #294
Same question here.

[2019-01-17 03:47] FuzzyStatic commented on #92
Was there ever a solution or fix for this issue?

[2019-01-19 19:29] bonedaddy opened #376 "Support For High Availability RabbitMQ Clusters"
Currently I'm using `streadway/amqp`, which has been great but doesn't look like it supports any configurations that are useful in High-Availability RabbitMQ clusters to automatically reconnect to non-failed broker instances.

While reading the documentation for machinery, it wasn't clear if this is something that is supported, so I'm wondering if it is, and if not, is it something that will be?

[2019-01-29 22:04] bharat-p commented on #367
@RichardKnop  while above PR fixed the issue with worker not listening on custom queue specified, it surfaced another issue, which is Machinery worker when started to with NewCustomQueueWorker is not able to delete the task from SQS, this is because code which handles job deletion is still using Default queue name when making request to AWS to delete the task, instead of custom queue. Will create

[2019-01-29 22:39] bharat-p commented on #367
https://github.com/RichardKnop/machinery/pull/377 to fix task deletion issue

[2019-01-30 20:10] sgrodriguez opened #378 "AMQP defaultconfig BindingKey is different from DefaultQueue"
https://github.com/RichardKnop/machinery/blob/b25a799bf62a7021f206d6f381578f16ea7b0a1e/v1/config/config.go#L22-L48

I notice that DefaultQueue is different that BindingKey in AMQP is this a bug? Why differ by a 's'? cc @RichardKnop

[2019-01-31 10:23] edwardmp commented on #293
@paulm17 Running into the same issue. Did you ever find a proper solution. If so, can you share it?

[2019-01-31 10:54] paulm17 commented on #293
Unfortunately I did not.  My work around was to build out my own message queue.  Drastic I know, but I couldn't find something open source which would satisfy all my requirements.  I'll release it when it's appropriate to do so.  But don't hold your breath.  👍

[2019-02-03 07:54] knrt10 opened #379 "Custom task types?"
Is there any way to create a custom task type while defining `[]tasks.Args`. Example given below

[code]

I want `Type` to be my own predefined type `context.Context` or anything I want other than the list of types. Is there any way to do that? cc @RichardKnop

[2019-02-15 01:32] seonixx commented on #379
There seems to be quite a long discussion about this - short story is you can do something opentrace, but context type support that was added some time ago appears to just add an empty context to the job when received.

[2019-02-15 01:33] seonixx commented on #379
https://github.com/RichardKnop/machinery/issues/175

[2019-02-15 06:52] knrt10 commented on #379
Thanks @seonixx I solved it using [#293](https://github.com/RichardKnop/machinery/issues/293)

[2019-02-15 06:52] #379 closed

[2019-02-15 07:15] seonixx commented on #379
@knrt10 are you using an opentrace span within the context or just a normal context type?